[2013-05-23 00:28] doutriaux1 opened #1 "limited area"
Hello Charles,

I'm getting very confused as to what should and shouldn't work in cmor.  I *thought* I had a work around to the grid problem below, but I'm still not sure CMOR is working quite right (it seems to want to reverse the longitudes when it shouldn't).  When I was trying to produce a test case demonstrating my current problem I managed to generate yet a different set of errors.  I've att

[2013-05-23 14:07] jkettleb opened #2 "Problem with cmor close deallocating forcings in the MIP tables"
I think there is a problem in cmor close - I started seeing seg faults at the end of last week, which I think I've tracked down to a piece of code for deallocating the forcings in the MIP tables.

Here's a patch:

--- a/Src/cmor.c
+++ b/Src/cmor.c
@@ -3917,8 +3917,8 @@ int cmor_close(void)
     }
     if (cmor_tables[i].nforcings>0) {
       for (j=0;j<cmor_tables[i].nforcings;j++) {
-       free(

[2013-05-23 14:42] #2 closed, assigned to nobody

[2013-10-29 09:25] jkettleb opened #4 "Multiple .close(varid, preserve=True) causes a growing 'coordinates' list"
It appears that closing files for a variable, but then opening a new file to continue the timeseries can result is a growing coordinates attribute:

[code]

A possible fix is to identify in the code where coordinates is appended to and then to replace the append with the C equivalent of  something like:

[code]

It also looks as though the history attribute is getting appended too many times -  fo

[2014-03-19 14:37] #4 closed, assigned to nobody

[2014-03-19 21:43] pfuhe1 opened #6 "cmor crashing"
I'm having an issue with cmor crashing intermittently. I am processing a number of files in a row, and cmor will produce a few files (even up to 100), then throw this error in the cmor_axis routine:

    *** glibc detected *** /apps/python/2.7.3/bin/python: double free or corruption (!prev): 0x0000000004aa17d0 ***
    ======= Backtrace: =========
    /lib64/libc.so.6(+0x760e6)[0x7f9fc7e940e6]

[2014-04-07 22:32] doutriaux1 opened #7 "CMOR configure script uses -R flag (Mac OS X 10.8.5, Xcode 5.1)"
Thanks @dakoop for reporting this one via UVCDAT.
The -R flag is hardcoded in the CMOR configure script (and configure.ac) under the RTAG variable; it should use the global flag or at least update its logic to use -Wl,-rpath, for compatibility with Clang 5.x.

[2014-07-07 14:06] dongli opened #8 "Can not invoke CMOR in C++"
Dear all,

I tried to invoke `cmor` in `c++`, and encountered the following link error:
[code]
After some struggles, I figured out that I can solve this problem by changing all the `extern` in `cmor_func_def.h` to `extern "C"` so that those functions can be recognized by `c++`. But this makes `cmor` fail in `c`. This is just a inconsistent solution, so it would be nice that `cmor` will support the

[2014-11-18 20:18] durack1 opened #11 "Add min/max time limits per experiment"

[2014-11-20 17:27] durack1 opened #12 "Deal with salinity unit variants better"
The issue described at https://github.com/PCMDI/pcmdi_metrics/issues/162 and it's solution should probably be implemented in CMOR. It would appear that CMOR already knows about `psu` (https://github.com/PCMDI/cmip5-cmor-tables/blob/master/Tables/CMIP5_Omon#L2925-2989) however the other realistic variants of `pss*` should also be considered.

As part of an update to CF in 2011, all the new salinity

[2015-01-28 14:18] jypeter opened #13 "Strange and inconsistent characters for commit info in CMOR-configure-out.log"
I'm installing UV-CDAT 2.1.0 on different platforms and, when comparing the output files created for cmor by cmake, I have noticed some **strange characters** (non ascii? control chars?) in the *CMOR-configure-out.log* files. And the characters are not the same on both platforms...

On our RH server (*Red Hat Enterprise Linux Server release 6.6 (Santiago)*): **â_(ÿ^?**
[code]
On a FC20 (*Fedora re

[2015-01-28 14:54] jypeter opened #14 "Inconsistency in Makefile creates a "missing separator" error that breaks CMOR/UV-CDAT build on some platforms"
I'm installing UV-CDAT 2.1.0 on different platforms and eventhough the Makefile generated for both platforms are essentially the same (except for slight different path names), *make* will succeed on th RH EL server and fail on the FC20 machine with the following error

    Makefile:156: *** missing separator (did you mean TAB instead of 8 spaces?).  Stop.

Trouble is that this breaks the installat

[2015-04-07 13:20] jypeter opened #16 ""rank is deprecated" warning message (in pywrapper.py?)"
I got the following warning, when running the *Sample Program 1* example script from the CMOR2 documentation (page 56)
[code]

pywrapper does use *numpy.rank()* many times, so maybe it's coming from there

I'm using python 2.7.8 from UV-CDAT 2.1.0

[2015-04-07 13:30] jypeter opened #17 "Error in Python Sample Program 1 from cmor_users_guide"
I have copy/pasted the *Sample Program 1* example script from the CMOR2 documentation (page 56) and I had to use the following *cmor.dataset* call instead of the one supplied in the example. I don't know if I got all the meta-data right, but at least I got rid of the **spurious quotes** and I have added the **missing parent_experiment_rip** parameter

[code]

Are the examples used in the documenta

[2015-04-07 22:22] doutriaux1 commented on #16
thx @jypeter will fix soon (most likely this coming Thursday)

[2015-04-08 07:11] jypeter commented on #16
No rush, as long as it's working. I will probably report other problems by the end of the week

[2015-04-08 08:06] jypeter opened #18 "cmor.close(): slight error in the returned path and question about the duplicate close()"
When I call cmor.close() in the *Sample Program 1* example script
[code]
I get a path that has a **duplicate /** before the file name
[code]

I have also a question about **the second cmor.close()** (no parameters) that prints the message pasted below. Is it necessary to call cmor.close a last time at the end of the script?
[code]

Oh, I have just tried to generate a warning by calling *cmor.write

[2015-04-08 09:07] jypeter opened #19 "Improving cmor fatal error handling"
Still working with the *Sample Program 1* example script, I have altered the variable definition line in order to generate a fatal error that I can use to expose several problems. So, I have used a non existing temperature unit
[code]
and I got the following error
[code]
The things that should be improved:

1. I was using *python -i* to run my script, but **I got dumped in the shell rather than ba

[2015-04-08 11:56] jypeter opened #20 "About the "does not match the expect variable shape ([0, ny, nx])" error"
@doutriaux1 , could you run my test script at the end of this mail and determine why I'm getting the following **does not match the expect variable shape ([0, 10, 18])** error?
[code]

I have had this error several times, always when trying to do something with the time axis, so *I guess the error is time axis related*, but I could be wrong

1. It's strange to get a **[0, ny, nx]** shape. I wonder

[2015-04-08 15:02] jypeter opened #21 "Is the 'inpath' parameter of cmor.cmor_setup used?"
I'm afraid **there might be an error in the documentation**

I have specified the location of my CMOR tables using *cmor.cmor_setup(inpath='absolute_path_to_the_tables', ...)*, according to what the documentation says on page 12:
[code]
But I got an error when executing *cmor.load_table('CMIP5_Amon')*
[code]

I  have then checked more closely the documentation of *cmor.load_table*  (page 20) and i

[2015-04-08 16:20] doutriaux1 commented on #19
@jypeter do you mind splitting this issue in two separate ones?

[2015-04-08 16:36] jypeter commented on #19
No problem, go ahead
--
JYP @ SGS 2

[2015-04-08 16:41] doutriaux1 commented on #19
i meant you ;)

[2015-04-23 17:12] durack1 opened #22 "Updates in support of CMIP6"
@taylor13 @doutriaux1 I've included an email from Martin Juckes below which outlines some key items for consideration in CMOR updates in preparation for CMIP6:

[code]

[2015-05-12 23:20] durack1 opened #23 "Climatology fields"
From: Karl Taylor
Date: Thursday, April 30, 2015 at 8:06 AM
To: "Doutriaux, Charles"
Cc: "Paul J. Durack"
Subject: CMOR climatology fields

Hi Charles,

What does CMOR do special when the time-coordinate is labeled "climatology" (in the CMOR table -- "climatology: yes")?

How does it assign the coordinate value (is it based on the mid-point of the bounds, which would not be the right thing to do),

[2015-05-12 23:36] doutriaux1 commented on #23
@durack1 I had a look the other day with @taylor13  we trust the user bounds... Probably not wise but I don't think there's much more we can do about it. I think we still check the value is within the bounds though.

[2015-05-12 23:36] #23 closed

[2015-05-22 09:32] ehogan opened #24 "Importing CMOR from a Python session prints 'No module named cdms2'"
When I import CMOR from a Python session, the message ```No module named cdms2``` is printed:
[code]
I can confirm that I don't have ```cdms2``` installed:
[code]
The ```import cdms2``` in ```pywrapper.py``` is in a try-except block but the```import cdms2``` in ```check_CMOR_compliant.py``` is not. ```__init__.py``` contains:
[code]
My concern is that this message could cause unnecessary worry for

[2015-05-22 09:59] ehogan opened #25 "No new line at the end of a table causes 'cmor.load_table' to hang indefinitely"
If a table is missing a new line at the end of the file, ```cmor.load_table``` hangs indefinitely. I can't ```ctrl-c``` to terminate and I have to ```ctrl-z``` and kill the Python session. Would it be possible for ```cmor.load_table``` to fail in these cases, ideally with an error explaining why?

[2015-05-22 11:25] ehogan opened #26 "A request to check the 'required_global_attributes' from the table before 'cmor.write'"
Would it be possible to check for the presence of the required global attributes from the table (i.e., run ```cmor_has_required_global_attributes```) after ```cmor.dataset``` / ```cmor_set_cur_dataset_attribute``` (perhaps when running ```cmor.load_table```, assuming ```cmor.dataset``` has been previously run?) rather than waiting until ```cmor.write``` (as shown in the example below), so that any

[2015-05-26 16:51] doutriaux1 commented on #24
@ehogan you[re right I should take out the print statement at least, I will look and try to see if this block is even needed at all.

[2015-05-26 16:51] doutriaux1 commented on #25
Thanks will fix this week.

[2015-05-26 16:54] #1 closed

[2015-05-26 16:57] doutriaux1 commented on #12
@durack1 it is in metrics will copycat what we did there in here at the C level.

[2015-05-26 17:06] doutriaux1 commented on #26
@ehogan I don't think we can because some project have required attributes that will not be set by cmor.dataset and require to be set via set_cur_dataset. So we have to wait until we actually try to write to the file to be sure all defintiions are done. does that make sense? Feel free to re-open

[2015-05-26 17:06] #26 closed

[2015-05-26 17:36] durack1 commented on #12
@doutriaux1 I will need to test the metrics functionality.. We can talk more about metrics later in the week..

[2015-06-05 12:01] ehogan opened #27 "Errors and error messages in CMOR via Python"
I have a few issues / questions about errors and error messages in CMOR via Python; if they should be split into separate issues, please let me know.

I am currently trying to catch messages from CMOR so I can log them via the Python logger. During my experiments I discovered there are cases where errors terminate the Python interpreter. For example:

[code]
I wondered if this was the case for all

[2015-06-05 12:10] ehogan commented on #17
If it's useful, there's already an example script containing a copy of 'Sample Program 1' in #26 :)

[2015-06-05 12:22] ehogan commented on #27
I just noticed that the points in 1) are already mentioned in issue #19, so I apologise for the duplication.

[2015-06-26 18:36] #24 closed

[2015-06-26 20:12] doutriaux1 commented on #25
I can't reproduce, could you please send me the "bad" table. Thanks

[2015-06-26 23:09] #14 closed

[2015-06-27 00:07] #6 closed

[2015-07-13 22:35] durack1 opened #32 "Table restructuring"
Currently tables include duplicate information ([`experiment` specific](https://github.com/PCMDI/cmip5-cmor-tables/blob/master/Tables/CMIP5_Amon#L1-58) and [`dimension/axis` specific](https://github.com/PCMDI/cmip5-cmor-tables/blob/master/Tables/CMIP5_Amon#L65-412) and `variable` specific).

These duplicated components should be split into separate tables

Add a capability to `include` a table wit

[2015-07-13 23:06] durack1 opened #33 "obs4MIPs restructuring"
There is a need to generalise CMOR so that it is easier for a user to "once off" write their observational data following the CF and CMIP5 conventions (this will require a consideration of existing usage by the CMIP community - tradeoffs will need to be carefully considered).

`global_attributes` will likely be MIP-dependent.

New obs4MIPs tables will likely need to be created.

Some of this infor

[2015-07-15 03:27] dnadeau4 commented on #27
ehogan,

You need to tell cmor where your tables are so that they can be loaded.   The tables such as CMIP5_Amon, CMIP5_Omon can be found here: https://github.com/PCMDI/cmip5-cmor-tables/tree/master/Tables

Here is an example on cmor setup
[code]

You can find many examples in the github repository.  Here is a good one that might help you setup cmor:
https://github.com/PCMDI/cmor/blob/master/Test/

[2015-07-15 03:34] dnadeau4 commented on #21
jypeter,

This does not seem to be a problem  Here is the code I use to load the table.
[code]

Do you still have this issue?

[2015-07-15 21:49] doutriaux1 commented on #27
@dnadeau4 we should use:
https://docs.python.org/2/c-api/exceptions.html#c.PyErr_SetString

[2015-07-16 23:22] doutriaux1 opened #34 "Test/cmor_speed_and_compression.py points to wrong location"
sample_data moved in uvcdat see:
https://github.com/UV-CDAT/uvcdat/pull/1390

[2015-07-16 23:23] doutriaux1 commented on #34
also: Test/cmor_speed_and_compression_01.py

[2015-07-16 23:30] doutriaux1 opened #35 "Test/cmor_speed_and_compression_01.py"
wrong time on check at the end

[2015-07-16 23:38] doutriaux1 opened #37 "pep8 cmor code"

[2015-07-16 23:38] doutriaux1 opened #38 "add travis autobuild"

[2015-08-04 23:43] durack1 commented on #22
@doutriaux1 @gleckler1 @taylor13 @dnadeau4 @durack1 - we're all pinged for CMIP6/CMOR3

[2015-08-08 04:25] doutriaux1 opened #39 "sending climo time axis to non climo var leads to seg fault"
When using uvcdat clt and computing annualcycle
trying to rewrite it using "clt" from AMon table
leads to seg fault.

[2015-08-08 17:43] taylor13 commented on #39
clt in Amon is no different (in terms of dimension information) than any
other of the 2-d fields there (e.g., pr or tas), so do you also get a
seg fault with those other fields?

On 8/7/15 9:25 PM, Charles Doutriaux wrote:

[2015-08-10 15:38] doutriaux1 commented on #39
I will try. The issue is that I'm sending a "time2" dimension instead of "time" at the very least we should catch this.

[2015-09-03 17:16] doutriaux1 opened #40 "downgrade non-monotonic bounds check from error to warnings for climatological axes"

[2015-09-03 18:35] #40 closed

[2015-09-10 18:29] tsigarid opened #43 "time axis error"
I have a weird error, which I can’t tell whether it is a bug on my site or on CMOR’s side. The problem occurs in version 2.9.1 but does not in version 2.8.3, and it only occurs when writing 3d fields. The error I get is this:

! Error: axis time (table: 3D-M) has overlapping bounds values : 57701.000000, 57729.000000, 57701.000000 at index: 0 !

Of course, I use the same time values for all variab

[2015-09-10 18:42] dnadeau4 commented on #43
Can you provide me with at test.  That will be helpful and I can try to fix it quickly.

[2015-09-10 18:44] tsigarid commented on #43
I can try to create a short version of the code, but don’t you need my input files as well?

From: Denis Nadeau [mailto:notifications@github.com]
Sent: Thursday, September 10, 2015 9:42 PM
To: PCMDI/cmor <cmor@noreply.github.com>
Cc: tsigarid <tsigarid@gmail.com>
Subject: Re: [cmor] time axis error (#43)

Can you provide me with at test. That will be helpful and I can try to fix it quickly.

—
Rep

[2015-09-10 20:44] doutriaux1 commented on #43
@tsigarid please can you simply copy/paste your axes values and bounds? That should be a good starting point for us, as well as the CMOR Tables name of the var you're trying to write (in the order you're writing them).

[2015-09-12 18:53] tsigarid commented on #43
The order I am writing is irrelevant. When I only convert temp, it works. When I only convert hus, it works. When I convert both in the same loop, it crashes on the second variable with 2.9.1, and it does not matter whether I do temp,hus, or hus,temp.

These are my bounds:
 Now converting JAN 2000
           1   15.5000000000000       0.000000000000000E+000   31.0000000000000
 Now converting FEB 2

[2015-09-12 18:54] tsigarid commented on #43
PS: I only have this problem in 3d variables.

[2015-09-27 20:25] dnadeau4 commented on #43
Your time axis is wrong, it has the same date twice.  54781.0

[2015-09-28 15:16] tsigarid commented on #43
Right, but this is a CMOR issue, since my time input is not repeated, as you can see in my diagnostic output. Plus, it only happens in 3D variables, and I use the exact same axes values for the 2D variables. Plus plus, it only happens in the last CMOR, not an older version.

[2015-10-07 13:55] bnlawrence opened #44 "netcdf output configuration"
I believe we've decided that we should be able to use netcdf4 and compression, so being able to configure CMOR to do this would be more than helpful (although it's not a done deal until after various WGCM and WIP perambulations).

[2015-10-07 16:48] doutriaux1 commented on #44
@bnlawrence you can already do this in CMOR. These parameters are controlled from the tables:
https://github.com/PCMDI/cmor/blob/master/Test/speed_test_table_A#L621-L632
@dnadeau4 lets make sure this is not lost in the new tables.

[2015-10-07 16:51] dnadeau4 commented on #44
Good to know!  I'll keep that in mine for the CMIP6 tables.

[2015-12-08 19:09] durack1 opened #47 "Generation of non CF-compliant files (invalid formula_terms attribute on bounds variable)"
As below:

[code]

[2015-12-08 19:13] doutriaux1 commented on #47
@durack1 yes I far as I rememember it is builtin CMOR, but maybe via the tables, I need to double check

[2015-12-08 19:16] doutriaux1 commented on #47
yes see: https://github.com/PCMDI/cmip5-cmor-tables/blob/master/Tables/CMIP5_Amon#L503-L520

[2015-12-09 19:50] durack1 commented on #47
As below:
[code]

[2015-12-10 09:06] martinjuckes commented on #47
I think the CF checker is following the conformance document statement that:
"The formula_terms attribute is only allowed on a coordinate variable which has a standard_name listed in Appendix C".

Given the consistency between the conformance document and the checker, I hadn't looked at the standards document. But the above statement is slightly ambiguous -- your analysis of the standards document

[2015-12-11 17:05] taylor13 commented on #47
Hi Martin,
I hadn't read the conformance document, but I trust your analysis and think we will need to make some change(s) (in the conformance document at least and maybe a clarification also in the conventions document).
For dimensionless coordinates where formula_terms are needed, the formula will be the same for both the coordinates and their bounds, but because the bounds don't coincide (in th

[2015-12-11 17:09] martinjuckes commented on #47
Hi Karl,

Thanks .. I understand the requirement for formula_terms on the bounds now (and associated additional variables).

I agree that a transfer to a CF ticket would be good,

regards,
Martin

________________________________
From: taylor13 [notifications@github.com]
Sent: 11 December 2015 17:05
To: PCMDI/cmor
Cc: Juckes, Martin (STFC,RAL,RALSP)
Subject: Re: [cmor] Generation of non CF-complia

[2016-01-20 11:43] BeatriceCNRM commented on #43
Hello,
I encountered exactly tsigarid's problem. Do you have any ideas of how to fix it?
Thanks

[2016-01-20 19:46] dnadeau4 commented on #43
@BeatriceCNRM @tsigarid
Looking at your diagnostic carefully,  the problem is in the time_bounds variable just before you call cmor_write.  This is the bounds you have:

* index 1: 54781.000000, 54809.000000
* index2:  54781.000000, ...

cmor is complaining that you time boundaries are not monotonic.    If you were able to write the first variable correctly and the failure happened on the second v

[2016-01-20 20:22] BeatriceCNRM commented on #43
Hi Denis,

Thank you for your prompt answer !
I'm writing from France so I'm home now and don't have my programs.
Tomorrow morning I'll send you an e-mail with programs and much more
details. (I already checked the variables just before calling the routine,
they are ok).
Is it ok for you?
Thanks in advance

Beatrice

PS : your name sounds french.. Maybe we could communicate in french ;-)?

Le 20 j

[2016-01-20 20:58] dnadeau4 commented on #43
@BeatriceCNRM I will wait for your email with the program tomorrow.

BTW, I am French Canadian, but it is better to keep writing in English so more people can understand the issue and how we solved it.  ;-)
Regards,

[2016-01-21 11:34] BeatriceCNRM commented on #43
Hello Denis

Here is the program I'm currently working on.
You will see I added some print to check that the time values entering cmor_write are OK. They are, with:

time= 47495.000000000000
bnds_time= 47481.000000000000 47509.000000000000

The diagnostic is the following one :
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-01-21 15:50] doutriaux1 commented on #43
@dnadeau4 or @BeatriceCNRM do you mind posting the actual code here? The attachment didn't make it to github.

[2016-01-28 13:27] ehogan opened #49 "Keeping track of the CMOR version"
I was having an issue with CMOR similar to that described in issue #6. To see if the fix from issue #6 resolved my issue, I downloaded v2.9.2 from https://github.com/PCMDI/cmor/releases, since the issue was added to the v2.9.2 milestone (https://github.com/PCMDI/cmor/issues/6#event-314001946). However, I discovered the fix wasn't included in the v2.9.2 release and that the CMOR version in this rel

[2016-01-28 15:30] doutriaux1 commented on #49
hi @ehogan the `uvcdat-2.4.0` was simply a tag for [UV-CDAT](http://github.com/UV-CDAT/uvcdat) since CMOR is distributed as part of UVCDAT we wanted to make sure that user building uvcdat 2.4.0 would always get this version of cmor. @nadeau4 and I will take a look at your issue and make sure it is solved in the upcoming 3.0 release. Thanks!

[2016-01-28 17:02] ehogan commented on #49
That sounds great @doutriaux1, thank you very much! :)

[2016-01-28 18:50] dnadeau4 commented on #49
ehogan,

I am working on CMOR 3.0 and I have an alpha release in branch cmor3 due today.  You will need to install the json tables found in https://github.com/PCMDI/xml-cmor3-database/tree/master/src and there is a new library called libjson-c that needs to be installed and passed to the configure.  I should have more documentation by the end of the day.

Denis

[2016-01-28 18:54] doutriaux1 commented on #49
@dnadeau4 let's make sure that her bug is fixed in this release, thanks.

[2016-01-28 19:23] durack1 commented on #49
@doutriaux1 @dnadeau4 I think the point raised by @ehogan is a good one.

Why not just tag the CMOR version for the UV-CDAT release with the current CMOR release - so `2.9.3` or `2.9.2` rather than create an arbitrary duplicate tag/release point. The intention is to lock versions, so whether this is a tagpoint named `uvdat-2.4.0` or '2.9.2/3` it achieves the same aim

[2016-01-28 19:43] doutriaux1 commented on #49
Yes especially since for CMOR master is always the latest stable version. That makes sense.

[2016-01-28 19:44] durack1 commented on #49
@doutriaux1 well `master` keeps moving, `2.9.3` (or similar) shouldn't..

[2016-01-28 19:46] doutriaux1 commented on #49
@durack1 yes but I was saying that we don't need a uvcdat specific tag point since uvcdat uses master and master is always at some tag point.

[2016-02-02 01:51] dnadeau4 commented on #43
@BeatriceCNRM
 We never got your code,  can you post it in attachment or send ti to my email: nadeau1@llnl.gov.  Thanks!

[2016-02-02 01:55] dnadeau4 commented on #16
I have changed this in CMOR3 I now use numpy.ndims as suggested.

[2016-02-02 07:33] jypeter commented on #16
Thanks Denis!

[2016-02-18 12:53] martinjuckes opened #52 "hourly climatology axis for CMIP6-CFMIP"
CFMIP have added a request for a set of variables with monthly averages of each hour of the day. This corresponds to a cell_methods value of "time: mean within days time: mean over days" as illustrated in Example 7.10 of the CF Convention. I propose to add a new time coordinate to the CMIP6 data request, with label "time3" which will be similar to the "time2" record specifying the monthly climatol

[2016-03-09 18:59] doutriaux1 opened #54 "basin twice in file"
CMIP6 wants to be able to have mutliple character type dims

Attaching a test code that fakes this.

The issue at the moment is becaus ew euse NetCDF CLASSIC format for string variables we need to define the max_length of the strings, which is sadly hardcoded to the name `strlen` in cmor at the moment. This leads to a netcdf erorr trying to define the dimension strlen twice.

[code]

[test_region_

[2016-03-25 00:02] #35 closed

[2016-04-07 18:57] alaniwi opened #55 "fix include of cdmsint.h"
`include/cmor_func_def.h` has the line
`#include "cdmsint.h"`
 - why?

Surely cdmsint.h is for internal use within libcdms only, and other packages should not be using it. A "make install" on cdms does not install the internal header file. If content is needed externally, it should be in the external header file (cdms.h).

This is causing issues not while installing CMOR itself but when subsequent

[2016-04-11 15:59] doutriaux1 commented on #55
cdmsint is needed for calendar things, you do NOT need libcdms installed at all, cdmsint.h is part of this repo excatly to avoid this kind of issues, see: https://github.com/PCMDI/cmor/blob/master/include/cdTime/cdmsint.h

[2016-04-11 15:59] #55 closed

[2016-04-26 21:47] durack1 opened #56 "Anaconda installation problems"
When uninstalling CMOR2.9.2 after installing UV-CDAT from conda channel (to update to CMOR3) there is a dependency on UV-CDAT2.4.1

@dnadeau4 @doutriaux1 pinging you both here - it only seems to be an issue on ocean?

[code]

And also:
[code]

[2016-04-26 21:51] doutriaux1 commented on #56
@dnadeau4 we will need to add the correct glibc dependency to your conda meta see: #1940

[2016-04-26 21:52] doutriaux1 commented on #56
@durack1 the dependency is normal, I hard coded the dependency in UV-CDAT 2.4.1 to cmor 2.9.2 because cmor 3 is not ready

[2016-04-26 21:53] doutriaux1 commented on #56
@durack1 which cmor gave you he error? 2.9.2 or 3.x?

[2016-04-26 22:21] durack1 commented on #56
@doutriaux1
[code]

[2016-05-31 16:22] durack1 opened #57 "Enabling netcdf deflation in CMOR output files"
I am hoping to use the default netcdf4 deflation in output files written by CMOR. Is this possible using the python interface?

[2016-05-31 16:29] durack1 commented on #56
It appears that using the following command line, I have `CMOR-3.0beta1` installed:
[code]

[2016-05-31 17:05] durack1 opened #58 "Error in SImon table"
[code]

[2016-05-31 18:38] durack1 opened #59 "Incorrect version tag for CMOR3-beta1"
The following version tag is being written for `CMOR3-beta1`:
[code]
This should align with the current version, so should be `3.0.0-beta1`

[2016-06-03 15:34] durack1 commented on #59
@dnadeau4 this can also be closed, as we're at `:cmor_version = "3.0.5"` currently

[2016-06-03 15:34] #59 closed

[2016-06-03 23:54] durack1 commented on #57
@dnadeau4 following our discussion today here are the discussion points:

- What should defaults be, speed of read vs file sizes?
- Should shuffling and chunking be enabled by default?
- How should a user specify deflation (in the CMIP6_Amon.json tables) or in the CMOR3 driver file (my preference is driver file, the tables should only contain information not runtime options for CMOR3)

We'll need

[2016-06-04 00:00] durack1 opened #60 "Clarifying required attributes: mip_era as an example"
@dnadeau4 @taylor13 I have found unusual behaviors when not including `mip_era` in my `CMOR3` driver file. If `mip_era` is not included in the `drive_input4MIPs_bcs/obs.json` files (as per directory structure below):
[code]
The following errors are triggered:
[code]

[2016-06-06 19:40] durack1 commented on #57
@doutriaux1 has comments about this - regarding "standards". Long story short, a user should be able to over-ride the Table default at runtime, however including the attributes `deflate`, `deflate_level` and `shuffle` in the Tables ensures that across variables the same default compression is applied regardless of whether the CMOR user is aware of the deflation functionality or not.

[2016-06-07 03:29] taylor13 commented on #57
Balaji is strongly advising for us to check out performance issues. GFDL
has all but ruled out any sort of compression.  We'll talk Wednesday.

On 6/6/16 12:40 PM, Paul J. Durack wrote:

[2016-06-07 23:00] durack1 opened #61 "time axis set from time_bnds not provided time axis values"
@dnadeau4 @doutriaux1 @taylor13 I've just come across a weird quirk with `CMOR3.0.6` that I wasn't expecting. I am providing input data with the following time axis (for the last year of the full 1870-2015 period):

Note the input file doesn't have a time_bnds
[code]
When I hand this dataset to `CMOR3.0.6` I get the following time axis back in the output file (again this is just the last 12 months

[2016-06-07 23:16] durack1 commented on #61
@dnadeau4 this is the offending line I think:
[code]

[2016-06-07 23:38] durack1 commented on #61
There are a couple of issues here:
- The input time_axis is off by 1 day, 15hrs, 12hrs, 3hrs or similar hrs depending on the month
- The `time_bnds` are not set correctly using `time_bnds=d.getTime().genGenericBounds()`

[2016-06-08 15:44] durack1 commented on #58
@dnadeau4 pinging you here

[2016-06-08 15:44] durack1 commented on #60
@dnadeau4 I think you have resolved this in `3.0.6`, correct?

[2016-06-08 15:47] durack1 commented on #57
@dnadeau4 has this implemented in `3.0.6` with the following (python) notation:
[code]

[2016-06-08 20:27] dnadeau4 commented on #57
You can put the shuffle/deflation flag in the tables or call cmor.set_deflate.  I have also add the API to C and Fortran.   By default everything is netcdf3, I would like to default to netcdf4 with no compression.

[2016-06-08 20:29] dnadeau4 commented on #60
I fixed mip_era and return if it is not set properly. in 3.0.6.

[2016-06-08 20:29] durack1 commented on #57
@dnadeau4 I think defaulting to `netcdf4` is a good idea - it is the requested format for CMIP6 as far as I know

[2016-06-08 20:29] #60 closed

[2016-06-08 20:42] durack1 commented on #57
Just FYI, here is what the file sizes look like using various `deflate_level` flags:

| variable | cdms2 deflated | CMOR3 no-deflation | CMOR3 deflate_level=1 | CMOR3 deflate_level=3 | CMOR3 deflate_level=9 |
|:-------------:|:-------------:|:-------------:|:-------------:|:-------------:|:-------------:|
| areacello | 36.1KB | 303.7KB | 55.6KB | - | - |
| siconc | 29.3MB | 433.1MB | 44.6MB | 43.2

[2016-06-08 20:54] durack1 commented on #61
@dnadeau4 the issue has been resolved by providing more reasonable `time_bnds` to `CMOR` by using the following:
[code]
I would recommend however that in documentation the fact that `CMOR` uses `time_bnds` and ignores the provided `time_axis` values is highlighted - it is certainly an unusual logical decision to this user

[2016-06-08 21:02] doutriaux1 commented on #61
@durack it IS documented in the manual. Did you read it :wink:

[code]

[2016-06-08 21:06] durack1 commented on #61
@doutriaux1 that would be a NO, my bad.. However, following your advice ***where*** is the manual located?

I've found http://www-pcmdi.llnl.gov/software/cmor/cmor_users_guide.pdf and https://pcmdi.github.io/cmor-site/index.html which would seem to be out of sync - or have similar content.. Which is the most recent?

I think @dnadeau4 was planning on updating that to https://pcmdi.llnl.gov/cmor/ u

[2016-06-14 20:12] durack1 opened #62 "3.1 tagging"
- [x] Update `master` branch with `cmor3` branch
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [x] Validate version info is correctly written (CMOR version should be `3.1.0`)
- [x] Validate data_specs_version written (01.beta.29)
- [x] Update [website](https://cmor.llnl.gov) so correct tag points (`3.1.0`) are noted for build notes
- [x] P

[2016-06-14 20:22] durack1 commented on #62
@doutriaux1 pinging you here - I think @dnadeau4 needs some guidance about releasing `CMOR3`

[2016-06-15 18:13] dnadeau4 commented on #57
create test Test/cmor_speed_and_compression_03.py

[2016-06-15 18:13] #57 closed

[2016-06-15 18:27] dnadeau4 commented on #38
@doutriaux1  How can I do this?

[2016-06-15 18:30] dnadeau4 commented on #17
cmor_dataset has been replaced with cmor_dataset_json.  With the control vocabulary, this is no onger valid. for 3.1

[2016-06-15 18:31] doutriaux1 commented on #38
@dnadeau4 with perseverance and hard work.

[2016-06-15 18:32] durack1 commented on #38
@doutriaux1 where is that ::smug:: emoticon..?

[2016-06-15 18:35] dnadeau4 commented on #18
That is still happening in cmor 3.1.  Each time you call cmor close, it print this message.  I did not mind it and did not change it.   I think I got rid of the duplicate "/", but that is not an error and is allowed in Unix.

[2016-06-15 18:38] dnadeau4 commented on #19
I change the exit() called and send a SIGINT signal.   With python, this mean that the program will not exit right away (kill -9), but when python "returns" it is possible to trap the signal.  It was useful for my unittest to trap errors, but might have strange message since the code keeps running until the last functions call return.     I might need to trap more "error" code.

[2016-06-15 18:44] dnadeau4 commented on #21
This have been fixed in cmor 3.1

[2016-06-15 18:44] #21 closed

[2016-06-15 18:48] dnadeau4 commented on #22
[ ] Need to support polar stereographic grids. Charles has said in an email that the code is there -- but I'm not sure what needs to be done in the MIP tables;
* Not supported!

[x] Extend the "Conventions" attribute: pending agreement from CF committee -- and add a MIP table tag so that some variables can have "UGRID-0.9" added to the conventions attribute;

[]Add a resolvable unique identifier:

[2016-06-15 18:52] dnadeau4 commented on #25
For cmor 3.1 tables are in JSON format,  A wrong format will dump the table on the screen and the program will exit.

[2016-06-15 18:52] #25 closed

[2016-06-15 18:54] dnadeau4 commented on #37
I cannot pep C source code, I can try to pep8 all the tests, but they are 109 files...

[2016-06-15 18:57] gleckler1 commented on #22
@dnadeau4   gleckler1 has not yet heard from T. Wiegel but good to know about this.   We do need to think through a robust directory structure for obs4MIPs.   For obs4MIPs, there are a few datasets (mostly snow and ice related) where polar stenographic is needed but that could come with a second release.

[2016-06-15 18:58] dnadeau4 commented on #47
I copied all the formula terms from the CMIP5 tables.  I created axes from the CMIP5 tables and then create missing ones from dreq.xml.

[2016-06-15 18:59] dnadeau4 commented on #49
master has now been moved to CMOR 3.1.0

[2016-06-15 19:00] #49 closed

[2016-06-15 19:03] dnadeau4 commented on #38
@doutriaux1 can you help me setting this up?  Any example? code I can look at?

[2016-06-16 10:41] ehogan opened #64 "CMOR 3.1 tests are not working"
I ran `make test` after installing CMOR 3.1 and `make` exited with an error:

[code]

I tried running `ipcc_test_code` directly:

[code]

If I make a directory called `CMIP6` and try again I get:

[code]

Would it be possible to:
1. have the test create any required directories (i.e., `CMIP6`).
2. have all the tests run without `make` exiting with an error and produce a summary of how many tests p

[2016-06-16 11:29] ehogan opened #65 "Error handling in CMOR 3.1"
Thank you for making the changes required to prevent the core dumps :)

I have discovered some differing behaviours in the way CMOR 3.1 handles errors.

**Example 1**

Error terminates the Python interpreter:
[code]
**Example 2**

Error causes a `KeyboardInterrupt` exception to be thrown with no message. In addition, there is no log message, unless `cmor.close()` is called:

[code]
Would it be pos

[2016-06-16 11:59] ehogan opened #66 "Would it be possible for cmor.dataset_json to accept a JSON string?"
I was wondering whether it would be possible to change `cmor.dataset_json` such that it can accept a JSON string as input as well as a JSON file name?

[2016-06-16 12:50] ehogan opened #67 "create_output_path doesn't work from Python"
`create_output_path` is available in `pywrapper.py`, but `cmor._cmor` has no attribute `create_output_path`:
[code]

[2016-06-16 13:01] ehogan commented on #65
Possibly related to this, in the [CMIP6 example](https://github.com/PCMDI/cmor/blob/master/Test/test_python_CMIP6_experimentID.py) the following command is used:
[code]
In the CMOR2 User Guide, both Fortran and C return 0 upon success, whereas Python returns None. Is there a way for the exit code to be returned to `pywrapper.py` in the same way as Fortran and C? I understand there are cases where

[2016-06-16 13:10] ehogan opened #68 "Misleading error message from dataset_json?"
Following from the [comment](https://github.com/PCMDI/cmor/issues/25#issuecomment-226284434) in #25, I tried to load an incorrectly formatted JSON file:
[code]
There are two errors, one of which says `JSON resource file not found`, even though the file was found. Is this second error message necessary?

[2016-06-16 13:54] ehogan opened #69 "Feedback from the CMIP6 example"
I ran through the [CMIP6 example](https://github.com/PCMDI/cmor/blob/master/Test/test_python_CMIP6_experimentID.py) and I have some feedback:

1) Would it be possible to include something like the following in a comment in the example?

[code]

2) When loading the MIP table, should the line read `table_id = cmor.load_table("CMIP6_Omon.json")` (I was shown a return value when I ran the command in t

[2016-06-16 14:23] ehogan commented on #62
Would it be possible to add something about checking the milestones attached to issues to this list? In #49, I asked whether it would be possible to ensure that issues are added to the correct milestone, so that it was possible to determine which releases contain specific fixes. For example, there are [14 open issues](https://github.com/PCMDI/cmor/milestones/2.9.3) that currently belong to the 2.9

[2016-06-16 14:24] doutriaux1 commented on #62
thanks @ehogan I will go over these today with @dnadeau4

[2016-06-16 14:30] ehogan commented on #37
You could try [autopep8](https://pypi.python.org/pypi/autopep8)? I used it recently and it did a pretty good job :)

[2016-06-16 14:33] ehogan commented on #38
Does this help? https://docs.travis-ci.com/user/for-beginners :)

[2016-06-16 14:34] doutriaux1 commented on #37
@dnadeau4 pep8 is for python. @ehogan autopep8 works great. use `-ai` option it does a really good job. Just be careful of long line with string formating using `%` bcause `autopep8` will split these onto many lines and then the ending ` % (...)` will not be able to match the number of values.

[2016-06-16 14:35] doutriaux1 commented on #38
@ehogan thanks. I was just teasing @dnadeau4 we went over the travis install yesterday and  it should be in shortly.

[2016-06-16 14:36] ehogan commented on #38
Hehe, no problem :) Looking forward to seeing it in action!

[2016-06-16 16:06] durack1 commented on #62
@ehogan good suggestion, it would be great to provide more comprehensive release notes, similar to what has been done with UV-CDAT recently, so:
https://github.com/UV-CDAT/uvcdat/releases/tag/v2.4.1
And specifically the link off this page to:
http://uvcdat.llnl.gov/changelog.html

[2016-06-16 17:37] dnadeau4 opened #70 "CVs and expt. names"
@durack1
Dear Denis,

as I am using your CMOR3 tables for a while to extract variable lists, experiment lists etc., I am finding some issues, which I want to share with you:
1. empty tables / json read errors:
   CMIP6_emMonclim.json, CMIP6_Ofx.json, CMIP6_cfOff.json, CMIP6_em.json, CMIP6_SIday.json, CMIP6_emMonpt.json, CMIP6_emDaypt.json, CMIP6_em1hrclimmon.json, CMIP6_em1hr.json
2. variables wit

[2016-06-16 22:29] durack1 commented on #56
@dnadeau4 this is now solved

[2016-06-16 22:29] #56 closed

[2016-06-16 22:31] durack1 commented on #32
@dnadeau4 closing this is redundant as part of the new tables

[2016-06-16 22:31] #32 closed

[2016-06-16 22:43] durack1 commented on #61
@dnadeau4 this is no longer a problem - I do think that the docs should ***VERY CLEARLY*** state that this is the case (bounds are used not the time axis)

[2016-06-16 22:43] #61 closed

[2016-06-16 23:05] durack1 opened #71 "3.1.1 tagging"
- [x] Update `master` branch with `cmor-master` branch
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [x] Validate version info is correctly written (CMOR version should be `3.1.1`)
- [x] Validate data_specs_version written (01.beta.30?)
- [x] Update [website](http://cmor.llnl.gov) so correct tag points (`3.1.1`) are noted for build notes
-

[2016-06-16 23:12] durack1 commented on #34
@doutriaux1 is this still relevant for 3.x? If not please close (@dnadeau4 pinging you here)

[2016-06-16 23:12] durack1 commented on #27
@ehogan @dnadeau4 is this a dupe of #65 and if so want to close?

[2016-06-16 23:16] durack1 commented on #17
@jypeter the documentation has just been reformulated - see https://cmor.llnl.gov - so we'll close this issue, please reopen if you see remaining issues

[2016-06-16 23:16] #17 closed

[2016-06-16 23:17] durack1 commented on #19
@jypeter @ehogan @dnadeau4 this issue is now duplicated by #27 if there are any specific things required please add these to the #27 issue - closing now

[2016-06-16 23:17] #19 closed

[2016-06-16 23:19] durack1 commented on #18
@jypeter a template is now used and should have resolved this issue - if you see the behaviour in `CMOR 3.1.x` please reopen (@dnadeau4 pinging you here)

[2016-06-16 23:19] #18 closed

[2016-06-16 23:20] durack1 commented on #16
@jypeter @dnadeau4 closing - please open a new issue if there are other problems in `CMOR 3.1.x`

[2016-06-16 23:20] #16 closed

[2016-06-16 23:22] durack1 commented on #13
@jypeter do you see the same issues with `CMOR 3.1.x`? If not, can you please close? (@dnadeau4 ping!)

[2016-06-17 01:20] dnadeau4 commented on #64
I am not sure why CMOR 2 did not create the output directory (CMIP6) in this example.  I thought of adding the code, but need to ask if there is a reason for this behavior.  @doutriaux1

As for number 2.  I have a lot of new test using ```unittest``` which will do exactly what you want.  Since most of the files are not using ```unittest``` I need to find a way to create this report.  They are 102

[2016-06-17 01:36] dnadeau4 commented on #65
* **Example 1**  I created this message for you.  I return as soon as I detect that you did not call ```cmor.setup()```.  ```cmor.setup()``` set all memory to 0, so it is very important

* **Example 2** I just check the code and ```fclose()``` is called only by ```cmor_close()```,  I will look at change this behavior so that the file is open/close for each error. This should not be too difficult.

[2016-06-17 01:38] dnadeau4 commented on #66
I don't want to create another API at this time.  That involves to much test/code/documentation.  Can you just dump your string in a ```/tmp/a.json``` file?

[2016-06-17 01:52] dnadeau4 commented on #67
It seems that this has been removed from API.  I will remove it from ```pywrapper.py```.

I created ```get_final_filename``` which can retrieve a filename after the ```cmor.close()``` has been called.  I used it in some of mytest.

* Test/test_python_CMIP6_CV_HISTORY.py
* Test/test_python_CMIP6_CV_furtherinfourl.py

[2016-06-17 02:03] dnadeau4 commented on #67
BTW, there is not need for this since you can create your own path in the ```User Input CMOR file```.

Here is the default templates for ```CMIP6```.  These are internal and used for other projects.  If you change this, you won't be able to publish your data in ESGF.

[see template example](http://cmor.llnl.gov/mydoc_cmor3_python/)

```output_path_template":  "<activity_id><institution_id><source_

[2016-06-17 02:03] #67 closed

[2016-06-17 02:04] dnadeau4 commented on #68
Another SIGINT problem using Python.  Thanks for reporting.

[2016-06-17 02:06] dnadeau4 commented on #69
I will get to them next week.  Good suggestions.  I hate the color theme as well.... Don't know if I have time to get to them though....

[2016-06-17 03:51] dnadeau4 commented on #38
This good.  Thanks!!

Lawrence Livermore National Laboratory
Atmospheric, Earth and Energy Division
925-423-3123

________________________________
From: Emma Hogan
Sent: Thursday, June 16, 2016 7:33:14 AM
To: PCMDI/cmor
Cc: Nadeau, Denis; Mention
Subject: Re: [PCMDI/cmor] add travis autobuild (#38)

Does this help? https://docs.travis-ci.com/user/for-beginners :)

—
You are receiving this because

[2016-06-17 03:58] dnadeau4 commented on #17
http://cmor.llnl.gov @durack1

[2016-06-17 04:56] durack1 commented on #17
@dnadeau4 link above updated..

[2016-06-17 09:23] ehogan commented on #13
If it's helpful, I checked the log from the CMOR 3.1.0 build I did yesterday on Red Hat Enterprise Linux Client release 6.8 (Santiago) and there are no strange characters:
[code]

[2016-06-17 16:05] durack1 commented on #13
@ehogan thanks, that was also my experience so I'll go ahead and close this issue. @jypeter if you find this behaviour again, please reopen

[2016-06-17 16:05] #13 closed

[2016-06-17 16:08] jypeter commented on #13
OK, I'll do that. Thanks @durack1 !

[2016-06-20 11:40] ehogan commented on #69
Another quick comment; in https://github.com/PCMDI/cmor/blob/master/Test/test_python_CMIP6_experimentID.json#L49, the `institution_id` is `PCMDI`, yet there is no entry for `PCMDI` in the `institution_ids` in https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_CV.json#L120 and CMOR picks `BNU` for some reason. In fact, even if I use 'MOHC' as the `institution_id` and the correct string for

[2016-06-20 13:20] ehogan commented on #65
The Python interpreter is terminated when CMOR detects that `cmor.setup()` was not called because an `exit(1)` is used (https://github.com/PCMDI/cmor/blob/master/Src/cmor.c#L598) rather than `SIGINT`. Is there any chance that a `SIGINT` signal can be sent in this case, so that the Python interpreter is not terminated?

Great, thank you! :)

I haven't had much luck with figuring out if there is a w

[2016-06-20 13:28] ehogan commented on #27
Closing (duplicate of #65)

[2016-06-20 13:28] #27 closed

[2016-06-20 14:04] ehogan commented on #65
Unless @doutriaux1 [comment](https://github.com/PCMDI/cmor/issues/27#issuecomment-121760238) can help?

[2016-06-20 16:27] dnadeau4 commented on #69
Emma,

This test is to make sure that if you have a bad institution, it will be
replace by the right one.   In
https://github.com/PCMDI/cmor/blob/master/Test/test_python_CMIP6_experimentID.json#L49
I have 2 institution_id,  the second one "BNU" overwrite the first one.
Sorry about that.

Denis
On 6/20/16 4:40 AM, Emma Hogan wrote:

[2016-06-20 21:20] dnadeau4 commented on #65
That is right,  I decided to call exit() since there will be no log,  cmor.setup() was not called.   Without it, no log file is opened to write messages.   I just abandon boat and print this message to the user.  If I send a SIGINT, all functions need to return which creates a lot of unnecessarily and confusing messages.  cmor.setup() is a must and have to be called before anything.  Think of it l

[2016-06-20 21:24] dnadeau4 commented on #69
Actually, this test is to make sure that user institutionID is in the CV file.  If not you get a critical error with an explanation to the.   I need to replace the "???" as contact though.  :+1:

[2016-06-20 23:01] dnadeau4 commented on #68
commit in cmor_master.

[2016-06-20 23:01] #68 closed

[2016-06-21 00:45] dnadeau4 commented on #64
This will go in cmor-master branch (not master).

- [ ] have the test create any required directories (i.e., CMIP6).
- [ ] have all the tests run without make exiting with an error and produce a summary of how many tests passed / failed / errored.
-  [ ] fix the above issue; even though the message (and summary message) suggest that the message is a warning, it seems to be causing make to error.
-

[2016-06-21 00:53] dnadeau4 commented on #69
I replaced the "???" character and checked in cmor-master.

[2016-06-21 00:58] dnadeau4 commented on #44
I created a new API which allows compression.  cmor.set_deflate(myvars[0], shuffle, 1, level)
[cmor_speed_and_compression_03.py](https://github.com/PCMDI/cmor/blob/master/Test/cmor_speed_and_compression_03.py)

[2016-06-21 00:58] #44 closed

[2016-06-21 00:59] dnadeau4 commented on #8
@dongli Is this still something that you need?

[2016-06-21 07:12] durack1 commented on #52
@dnadeau4 you sure this should be assigned to me?

[2016-06-21 09:20] ehogan commented on #69
Thank you! Would it be possible to reopen this ticket? The items in my first comment haven't yet been dealt with :)

[2016-06-21 09:32] ehogan opened #73 "Missing warning from log file"
I made some changes so that the example worked. My log file contains:

[code]

There is a warning that hasn't made it to the log file. I think it may [this warning](https://github.com/PCMDI/cmor/blob/master/Src/cmor.c#L785).

[2016-06-21 11:29] ehogan opened #74 "Problem with default output_file_template?"
The default `output_file_template` for CMIP6 is `<variable_id><table><experiment_id><source_id><variant_label><grid_label>` (as specified in [the last comment](https://github.com/PCMDI/cmor/issues/67#issuecomment-226662695) in #67). However, https://github.com/PCMDI/cmor/blob/master/include/cmor.h#L230 defines the default `output_file_template` to be `<variable_id><table><experiment_id><source_id>

[2016-06-21 11:33] ehogan commented on #67
Would it be possible for you to provide a link to the pull request / commit that contains this fix, please?

[2016-06-21 11:35] ehogan commented on #68
Would it be possible for you to provide a link to the pull request / commit that contains this fix, please? Also, would it be possible for you to let me know when `cmor_master` will be available on master?

[2016-06-21 18:42] dnadeau4 commented on #69
Right now,  I really really need to  work on the CMIP6 Validator for ESGF.  Many people are waiting for it.  If you would be so inclined to create a pull request for me,  I will merge it.  Thanks!

[2016-06-21 20:36] dnadeau4 opened #75 "CMOR3 with NetCDF 4.1.1."
Thank you for releasing CMOR3.

I am able to install CMOR3 with NetCDF 4.1.1.  I am also able to compile and execute ipcc_test_code.f90.

However, after I have installed CMOR3 with NetCDF 3.6.3, execution of ipcc_test_code.f90 gives:
Error: You are using a wrong version of NetCDF ("3.6.3" of Feb 25 2010 13:43:01 $), you need 3.6.3 or 4.1

According to the error message, either 3.6.3 or 4.1 is good

[2016-06-21 23:01] dnadeau4 commented on #70
http://dreq01.vanillaforums.com/discussion/71/standard-name-issues-for-same-variable#latest

[2016-06-21 23:08] dnadeau4 commented on #74
https://github.com/PCMDI/cmor/pull/72/commits/8fb2dd247373c85a825d458258cae20f90eb6c3f

[2016-06-21 23:08] #74 closed

[2016-06-21 23:09] dnadeau4 commented on #73
What warning do you get if you do not setup a log file?

[2016-06-21 23:17] dnadeau4 commented on #68
Fixed in: db915d9e037edcfbd8c2363e720c3e216356fbd7

cmor-master will be available on master for tags 3.1.1,  I might be merging/tagging next week depending on what else is coming up.  I just got a new excel spreadsheet with all the experiment_id.

[2016-06-21 23:44] dnadeau4 commented on #75
Delete netcdf 3.6.3 minimum requirement from message.  Force netcdf 4.1 minimum.
0c20bcba8e8ea416cf6efe5cc33eee8b28e6bbf5

[2016-06-30 15:46] goord opened #76 "cmor_set_cur_dataset_attribute in library interface"
Hi,

The documentation mentions that one can set global attributes via the API using the cmor_set_cur_dataset_attribute function. However, I haven't been able to discover such a routine in fortran- or c-interface. Is this method only exposed via python, and if so, is it planned to be exposed in the native interfaces in a future version?

Thank you,

Gijs van den Oord

[2016-06-30 17:33] dnadeau4 commented on #76
You can add any attributes(key:value) in your "input JSON file" for cmor 3  and that attribute will appear in your output netCDF file.  If your "key" start with the character "_",  you can use the it for "template" such as "output_file_template" or "output_path_template".    [See: test_python_user_interface_03.json](https://github.com/PCMDI/cmor/blob/master/Test/test_python_user_interface_03.json)

[2016-07-01 00:23] dnadeau4 commented on #76
I added `cmor_set_cur_dataset_attribute` in Fortran.   It is in the cmor-master branch.  I hope to merge it next week after the holiday (4th of July).
[code]

[2016-07-01 07:35] goord commented on #76
Thank you, we appreciate the quick response!

[2016-07-06 16:49] #76 closed

[2016-07-06 16:52] dnadeau4 commented on #75
It has been decided by PCMDI that we will not be supporting netcdf 3.6.3 since it is no longer supported by netCDF at UCAR since 2008.    It is better to compile with the latest netCDF 4 library and use the cmor_setup flags to force netCDF3 file creation.    CMOR 3.1 is no longer accepting netcdf 3.6.3.

[2016-07-06 23:43] #62 closed

[2016-07-06 23:48] durack1 commented on #33
@gleckler1 @durack1 to work on this - to finalise using [input4MIPs-cmor-tables](https://github.com/PCMDI/input4MIPs-cmor-tables) as an example.

[obs4MIPs-cmor-tables](https://github.com/PCMDI/obs4MIPs-cmor-tables) repo is ready for use

[2016-07-07 18:02] dnadeau4 commented on #75
Since NCCS/NASA is helping with this to update installation to netCDF4.  This is no longer relevant.

[2016-07-07 18:02] #75 closed

[2016-07-07 18:05] dnadeau4 commented on #58
Fixed with table update to 01.beta.30.

[2016-07-07 18:05] #58 closed

[2016-07-07 18:27] dnadeau4 opened #77 "3.1.2 Tagging"
- [x] Update `master` branch with `cmor-3.1.2` branch
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [ ] #80 issue
- [x] Validate version info is correctly written (CMOR version should be `3.1.2`)
- [x] Validate data_specs_version written (01.beta.30?)
- [x] Update [website](http://cmor.llnl.gov) so correct tag points (`3.1.2`) are noted fo

[2016-07-07 18:28] #71 closed

[2016-07-08 00:38] dnadeau4 opened #80 "Control Vocabulary & Tables"
- [x] Change "1x1"to "1x1 degree" in CV.json file
- [ ] Add  standard_name ocean_s_coordinate_g1 [Check]
- [ ] Add  standard_name ocean_s_coordinate_g2 [Check]
- [x] Split the axis info from the all CMIP6 tables into a new file.  (CMIP6_Coordinate.json)
- [x] Add all formula_vars to new axis CMIP6 file. (CMIP6_Formula_terms.json)
- [x] add sub_experiment verify SYYYY and create a validation list [

[2016-07-09 00:28] dnadeau4 commented on #7
@doutriaux1  this seems to have been fixed in cmor3.   Is that what you mean?
[code]

[2016-07-09 00:31] dnadeau4 commented on #8
@dongli ping

[2016-07-09 00:33] dnadeau4 commented on #11
This will be ensured with the Control Vocabulary.   Values for sub_experiment_id will be controlled to be from s1960 to s2020.  That range will be valid for all model.   Is this what you want? @doutriaux1 @taylor13

[2016-07-09 01:07] taylor13 commented on #11
No, this will only ensure that groups don't perform any DCPP experiments (a subset of the CMIP6 set of experiments) that are initialized outside the range 1960 - 2020.  It will be difficult to *enforce* start and end times for most experiments.

[2016-07-11 18:27] dnadeau4 commented on #20
@jypeter I solved this issue in branch "issues_20" #81.  I used your example to make a test.  The pywrapper message is now more explicit if time_values and time_bounds are missing when calling cmor_write.  I also encountered that difficulty before.  The message makes the developer look at their data, and do not realize that time_values, and time_bounds are missing when calling cmor_write().   I al

[2016-07-11 18:27] #20 closed

[2016-07-12 08:12] jypeter commented on #20
Thanks @dnadeau4 for cleaning up these issues I had completely forgotten! It's high time I try the new wrapper

[2016-07-19 10:33] martinjuckes commented on #52
I've modified the tables ... but I raised the ticket in case changes were also needed in CMOR.

[2016-07-19 10:50] martinjuckes opened #82 "Antarctic and Greenland grids"
The CMIP6 ISMIP6 request includes a request for some data on 2 polar stereographic grids, http://websrv.cs.umt.edu/isis/index.php/Present_Day_Greenland
http://websrv.cs.umt.edu/isis/index.php/Present_Day_Antarctica

How would this be best represented in the tables? I could, for instance, create 2 new pairs of coordinates,  "(Xgre,Ygre)" for Greenland and "(Xant, Yant)" for Antarctica? Are there pa

[2016-07-20 00:04] dnadeau4 commented on #82
CMOR already has this projections following the [CF-1 convention](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/build/ch05s06.html).  (ncdump -h at the bottom from a similar netcdf file.)

__Do you have some data I could use?__  _After reading more about this, I would to write a ```polar_stereographic``` example._

The python script reads in the input data and creates a grid usin

[2016-07-20 09:36] martinjuckes commented on #82
I've asked Sophie Nowicki (lead of ISMIP6, the source of this requirement) for a sample grid.
The request will be for data on specified grid, so I would like to include at least the specified X and Y coordinates in the request tables and the corresponding CV. This would mean having a specific grid, e.g. "xgre" and "ygre" for Greenland, rather than using the generic "x" and "y". To specify all the

[2016-07-20 19:54] sophienowicki commented on #82
Hello! here is an example of a time varying Greenland file for the field orog.
https://www.dropbox.com/s/ugzw3ctjth14vab/orog_GIS_LGGE_ELMER2_asmb.nc?dl=0

Additional examples for Greenland and an example of Antarctica are available on the SeaRISE website, and I can dig out an more examples:
Greenland: see netcdf "Greenland_5km_v1.1.nc " in http://websrv.cs.umt.edu/isis/index.php/Present_Day_Green

[2016-07-20 19:59] sophienowicki commented on #82
I should have added that the file orog_GIS_LGGE_ELMER2_asmb.nc is what the ice sheet models that are taking part of our first ISMIP6 experiment are providing, so if there are ways that we can improve upon our netcdf, please let us know!

Many thanks,

Sophie

[2016-07-21 00:15] dnadeau4 commented on #82
Sophie,

To make the following output CMIP6 file even better for ```orog```... **Could you create the latitude_vertices and longitude_vertices (which are the lat/lon boundaries)?**

If you look at my python program in [dropbox](https://www.dropbox.com/sh/e6oy2f1p0lp56va/AAAmNMOm2a4TQD-cfelgTy7xa?dl=0) I took the ```lat/lon/x/y``` coordinates from the *Greenland_5km_v1.1.nc* file and the data from

[2016-07-21 20:27] mantbe commented on #82
Hi this is Matt,

I just looked at the test_python_polar_stereo.py code and it looks like you want us to run the code in order to test that it works.  I can certainly do that, and I see that I can download the cmor python library from homebrew, and I'll poke around to get the cdms2 library.

[2016-07-21 20:56] dnadeau4 commented on #82
Matthew,

You can easily create an anaconda environment in your user account.  The installation section of cmor documentations should get you going.

http://cmor.llnl.gov/mydoc_cmor3_conda/

For the test you will need to download some tables
1. Download
*    https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_Omon.json
     and https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_CV.j

[2016-07-21 21:41] dnadeau4 commented on #82
@mantbe @sophienowicki

I would like you to include the lat/lon vertices in your netdf files which is helpful for some applications.  It gives the boundaries of each grid points.

Unless you wanted us to alter only Greenland_5km_v1.1.nc? (Matt you can find it on the SeaRISE wiki)

Actually CMOR likes to have it's longitude from **0-360**.  I don't know if that is possible with polar stereographic

[2016-07-22 15:22] mantbe commented on #82
Hi,

Is there an updated CMIP6_grids.json somewhere?  I installed cmor successfully, and I copied over the files:

https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_Omon.json and https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_CV.json to the Tables dir.

But I am getting a warning and then a couple of errors.

When I get to the line:
**grid_table = cmor.load_table("CMIP6_grids.

[2016-07-22 16:23] dnadeau4 commented on #82
@mantbe this is great!  You can find the cmip6_grids.json here: https://github.com/PCMDI/cmip6-cmor-tables/tree/master/Tables  (I just merged a patch).

It seems that the cf_version 1.6 was some left over key:value from a previous version.  CMOR is telling you that it found it, but does not know what to do with it, since I deleted that code.  As for xgre and ygre, just cut/paste the ```"x": and "y

[2016-07-22 17:43] mantbe commented on #82
Thanks for the quick reply!  that fixed the problem....sort of :)  The code runs successfully (well, no errors, but two warnings).  The problem is the output is doing something strange in that it is mixing the lat/lons and the X/Y values.  I've attached a plot of how it plots in panoply.  You can see that it seems to use the Y coordinates for the xaxis and longitudes for the Y axis.

Hopefully it

[2016-07-22 18:09] sophienowicki commented on #82
Hi Denis,

Thanks for your answers! Below are some answers to your questions: yes the aim is that all ISMIP6 standalone model runs become stored as part the CMIP6 archive, so we will contact our participants and get them registered.

Many thanks for your all your help,

Sophie

[2016-07-22 22:54] dnadeau4 commented on #82
In panoply if you click ```"Grid"``` and then ```"Swap B/T"``` in the Y Axis section, the pictures looks better. but the whole picture is not displayed in Y only.  If you select ```Units: "Grid point index"```, you can see all Greenland.  Not sure what to do about this.

[2016-07-22 23:10] dnadeau4 commented on #82
@mantbe Can you provide me with your input file ```orog_GIS_LGGE_ELMER2_asmb_V5.nc```?  It has the lat_bound and lon_bounds,  I could try to display the result in UVCDAT.  It should do a better job than Panoply for projections.   I also change the cmor_variable call in my program to pass the missing_value
[code]

[2016-07-25 14:32] mantbe commented on #82
Hi Denis,

Attached is my latest version of the orog file.  It was fairly large, so it is on dropbox, but you can download it via the link below.  It includes the lat_bounds and lon_bounds that are output from the cdo regridding process.

I was able to plot it in Panoply as you suggested, but it seems like there is something wrong with the way the code is assigning the axes.  I plotted the data in

[2016-07-25 20:57] dnadeau4 commented on #82
With your know file I was able to create a nice picture using UVCDAT.  It seems that for projection, the longitude needs to be from -180,180.  The documentation says that ```polar_stereographic:straight_vertical_longitude_from_pole``` is from -180 to 180.

Here is the UVCDAT results. I got.

[orog_fx_piControl-withism_IPSL_r1i1p1f1_gn.nc.pdf](https://github.com/PCMDI/cmor/files/382441/orog_fx_piCo

[2016-07-26 01:54] sophienowicki commented on #82
Yeah!!!  thanks for not giving up on us!

If Matt prepares a file for antartica (with longitude from -180, 180) and lat_bound and lon_bound, would the current files/tables etc in CMOR work?

An example of the Antarctic grid would be: " Antarctica_5km_dev1.0.nc" at bottom of http://websrv.cs.umt.edu/isis/index.php/Present_Day_Antarctica

Thanks again,

Sophie

[2016-07-26 16:17] dnadeau4 commented on #82
@sophienowicki it will work the same.  I just found a problem with grids in CMOR,  I will work on it this week and hopefully give you a new point release next week.  It seems that the lat/lon/lat_vertices/lon_vertices are not saved.   This is why the pdf does not have lat/lon axes.

[2016-07-27 00:08] dnadeau4 commented on #82
@mantbe @sophienowicki I have a new [netcdf file in my dropbox](https://www.dropbox.com/s/bm11hzzzqcikoj2/orog_fx_piControl-withism_IPSL_r1i1p1f1_gn.nc?dl=0) This time it seems that I got it right.   Here is the latest pdf with lat/lon projection.
[orog_fx_piControl-withism_IPSL_r1i1p1f1_gn.pdf](https://github.com/PCMDI/cmor/files/385051/orog_fx_piControl-withism_IPSL_r1i1p1f1_gn.pdf)

[2016-07-27 14:02] mantbe commented on #82
@dnadeau4 that's great!  Thanks for looking into that, and glad it is working.

[2016-07-27 19:20] dnadeau4 opened #83 "zfactor values not written"
I ran ipcc_test_code.f90 downloaded from http://cmor.llnl.gov.  In the output file cl_Amon_..., p0, a, b, a_bnds, b_bnds (parameters for hybrid sigma pressure coordinate) have blank values.  The output file is attached and if you do an ncdump, you will see those values are blank.

This is the same thing if I ran my cloud code from CMOR2 (modified to run in CMOR3).  Those values are blank.

Thanks.

[2016-07-27 19:25] dnadeau4 commented on #83
I created branch [zfactorFix](https://github.com/PCMDI/cmor/tree/zfactorFix) to fix this problem.

[2016-07-27 19:25] #83 closed

[2016-07-27 20:36] #8 closed

[2016-07-28 08:27] martinjuckes commented on #82
Great to see these things getting sorted out -- I also plotted the file with ncview and it came out fine. I ran the CF checker on orog_fx_piControl-withism_IPSL_r1i1p1f1_gn.nc and picked up one trivial mistake: `cell_methods: areacella` is incorrect. `cell_measures: areacella` would be correct from a CF perspective ... but I think we want to use `areacellg` here. I'll raise a new issue on that top

[2016-08-01 18:56] taylor13 commented on #82
I've been away for a week, and should have commented before I left.  I think we're doing more than is called for here.

CMOR can already handle polar stereographic grids, so no changes should be necessary (unless there are bugs in CMOR).

CMOR has never before checked that all the coordinate values of a grid are correctly defined, even for the WIP mandated standard 1x1 deg. grid.  I don't think CM

[2016-08-09 10:06] ehogan commented on #73
Using the latest version of CMOR and specifying a log in the example:
[code]
I don't get a warning if I don't specify a log file, even if I execute the example more than once. I'm not sure where the warning is going?

[2016-08-10 12:21] ehogan commented on #69
I just tried running the CMIP6 example using CMOR 3.1.1 and it completes without errors :)

Thank you for adding the comments to the CMIP6 example!

I think the only outstanding item is:

2) When loading the MIP table, should the line read `table_id = cmor.load_table("CMIP6_Omon.json")` (I was shown a return value when I ran the command in the example)?

I'm happy to submit a pull request if you t

[2016-08-10 17:59] dnadeau4 commented on #73
I have not work on the log file lately.  I would like to see the "All files were closed successfully." message in the log as well.  I might open/close the file for each message.   The "1 warning(s)" message without the warning is worrisome.  I don't know why this happened.

[2016-08-10 18:39] durack1 commented on #37
@dnadeau4 this seems to be a fairly trivial step - want to assign it to `3.1.2`?

[2016-08-10 20:16] dnadeau4 commented on #37
@durack1 I used autopepe8 with CDMS2 and loved it. So yes I will do it for 3.1.2

[2016-08-10 20:27] dnadeau4 commented on #11
@durack1   I don't think this is necessary.  Can you close this issue?

[2016-08-10 20:28] dnadeau4 commented on #11
@durack1   I don't think this is necessary.  Can you close this issue?

[2016-08-10 20:28] dnadeau4 commented on #12
@durack1 ping!!

[2016-08-10 20:33] dnadeau4 commented on #22
@TobiasWeigel @gleckler1 I think my list above is pretty good.  I am not sure if we need more information on Conventions using "UGRID-0.9".  Right now Conventions is specified in the "CMIP6_xxxx.json" tables.

[2016-08-10 20:35] dnadeau4 commented on #34
Test/cmor_speed_and_compression_01.py is working.

[2016-08-10 20:35] #34 closed

[2016-08-10 20:40] durack1 commented on #11
@dnadeau4 yes following the comments above I think this issue is no longer relevant. @taylor13 can chirp in if it needs to be reopened

[2016-08-10 20:40] #11 closed

[2016-08-10 20:42] durack1 commented on #12
@dnadeau4 ping indeed.. @doutriaux1 what is/was the status of the salinity fudges for `CMOR2` is this something that can be pulled forward into `CMOR3`? I ask this as the inclusion of salinity `units` in `UDUNITS` was blocked

[2016-08-10 20:43] durack1 commented on #22
@dnadeau4 do you mean `controlled vocabulary` rather than `Conventions` above - and I'm thinking the https://github.com/WCRP-CMIP/CMIP6_CVs repo specifically here

[2016-08-10 21:09] dnadeau4 commented on #47
@martinjuckes @taylor13 @doutriaux1 @durack1 Do we have a CF ticket for this?  Should we change the way we handle formula_terms in CMOR?   Note that ESGF will use cfchecker and CMIP6_Validator before publishing, so I would like to make sure that we are following the CF-1 convention to avoid confusion.

[2016-08-10 21:11] dnadeau4 commented on #22
There is a Conventions attributes that is set to         ```"Conventions": "CF-1.6 CMIP-6.0"``` in [CMIP6_Amon.json](https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_Amon.json)

[2016-08-10 21:12] durack1 commented on #47
@dnadeau4 just for reference the current version of CF is [`1.6`](http://cfconventions.org/latest.html), however [`1.7`](http://cfconventions.org/cf-conventions/cf-conventions.html) is due for release fairly soon..

[2016-08-10 21:20] dnadeau4 commented on #54
@doutriaux1 is this what you meant?  I ran [test_region.f90](https://github.com/PCMDI/cmor/blob/master/Test/test_python_region.py) with basin axis creating geo_region.

[htovgyre_Omon_piControl_NICAM_r1i1p1f1_gn_203001-203002.nc.txt](https://github.com/PCMDI/cmor/files/412122/htovgyre_Omon_piControl_NICAM_r1i1p1f1_gn_203001-203002.nc.txt)

[2016-08-10 21:23] dnadeau4 commented on #66
Is this still needed?  Did you find a work around?

[2016-08-16 10:16] ehogan opened #87 "Log messages are not printed to the log until cmor.close() is called"
As mentioned in #65, log messages are not printed to the log until `cmor.close()` is called:

[code]

Would it be possible to print to the log after each command is executed, rather than only when `cmor.close()` is executed?

[2016-08-16 10:18] ehogan commented on #65
Closing in favour of #86 and #87.

[2016-08-16 10:18] #65 closed

[2016-08-16 13:52] doutriaux1 commented on #87
this is probably maintained at the os level, only flushing the buffer when needed, @dnadeau4 you could manually flush I guess.

[2016-08-17 16:16] durack1 commented on #39
@doutriaux1 @dnadeau4 should this issue be closed? And marked as a `wontfix` I can't imagine that `2.9.3` will ever see the light of day

[2016-08-17 17:37] ehogan opened #88 "Issues with the required_global_attributes in the CMIP6_CV.json file"
Running the [CMIP6 example](https://github.com/PCMDI/cmor/blob/master/Test/test_python_CMIP6_experimentID.py) using the following in the `Test/test_python_CMIP6_experimentID.json` file:

[code]

prints multiple `Your Control Vocabulary file specifies one or more required attributes.` error messages and tells me to set the following attributes:
- `activity_id`
- `branch_method`
- `experiment_id`
-

[2016-08-20 15:54] ehogan commented on #66
Thank you for following up @dnadeau4; we have a workaround :) Closing.

[2016-08-20 15:54] #66 closed

[2016-08-22 23:59] dnadeau4 commented on #87
I wanted to open/close the file each time the "log" is called.  My eclipse just died on my new machine...  reinstalling...

[2016-08-24 10:35] goord opened #89 "cmor_time_varying_grid_coordinate returns error"
In the attached fortran code, I seem to succesfully create a grid, but when I request the latitude variable id, cmor complains it cannot find such a coordinate:

[code]

[cmor_test.zip](https://github.com/PCMDI/cmor/files/434498/cmor_test.zip)

[2016-08-25 01:03] dnadeau4 commented on #89
I have started to work on it, it seems that Fortran confused tables for some reason.   I hope I can fix it tomorrow.

[2016-08-25 11:40] ehogan opened #90 "Unable to run CMOR3 without CMIP6_CV.json"
I am trying to run the [CMIP6 example](https://github.com/PCMDI/cmor/blob/master/Test/test_python_CMIP6_experimentID.py) without specifying a Controlled Vocabularies (CV) file. I removed the `TestTables/CMIP6_CV.json` file and commented the `_control_vocabulary_file` and `_cmip6_option` attributes (described [here](http://cmor.llnl.gov/mydoc_cmip6_user_input/)) in the `Test/test_python_CMIP6_exper

[2016-08-25 16:16] ehogan commented on #88
I've just discovered the [CMIP6_global_attributes_filenames_CVs_20160714.docx](https://docs.google.com/document/d/1h0r8RZr_f3-8egBMMh7aqLwy3snpD6_MrDz1q8n5XUk) via the [CMOR documentation](http://cmor.llnl.gov/mydoc_cmip6_user_input/#cmip6-cmor-user-input). Is this document the definitive source of information related to the required global attributes? If so, there appears to be some inconsistenci

[2016-08-26 02:35] dnadeau4 commented on #90
I'll fix the segmentation fault, but what you are doing is so "out-of-the-box".  What are you trying to do?  We set up Control Vocabulary in CMOR for CMIP6 publication in ESGF.  If you disable this, you won't be able to publish.  @taylor13 might be able to help you here.

[2016-08-26 02:42] dnadeau4 commented on #88
This document was created by @taylor13 and I used it to validate all the attributes.   All required attributes used by CV are coming through this list.   Still not sure what you are trying to do with CMOR.  Other people are using it without issues.   There were so many errors in your input JSON file, that I am not surprised the filename was not created properly.

[2016-08-26 04:15] dnadeau4 commented on #89
@goord I was able to run your program.  The main problem is that you were calling cmor_write with the `idl` variable, but `cmor` knows about `idl` since you called `cmor_time_varying_grid_coordinate` using `idg`,  `cmor_write` will create everything, you don't need to call it twice.

The other strange thing is that you do not use `time` as a axis for `cmor_time_varying_grid_coordinate` .  Refer to

[2016-08-26 14:52] goord commented on #89
Thanks for the quick reply. The code runs without errors if I remove the cmor_write call for the latitudes, but the resulting netcdf file contains only zeros for latitudes. It does contain the time axis properly, it apparently added this because of the time-dependent variable tos.

[2016-08-26 18:22] dnadeau4 commented on #89
@goord I am not sure if you are using anaconda.  I fixed that zeros latitude bug in branch [cmor-3.1.2](https://github.com/PCMDI/cmor/tree/cmor-3.1.2).  I am trying to create a new release, but people are still changing the data structure of CMIP6_CV file which causes delays.

Your output file is correct but a little bit overloaded since you have the same lat/lon for every row/column of the grid.

[2016-08-30 08:48] goord commented on #89
@dnadeau4 Thanks for your suggestions, the test program runs and produces the expected output when I link it against cmor-3.1.2. BTW I know the arrays contain a lot of redundant information, but it is a simplification of a more complicated grid which needs the 2d-arrays for the lat and lon arrays.

I shall continue using the cmor-3.1.2 version until a new official release tag is presented.

[2016-08-30 08:48] #89 closed

[2016-08-30 11:04] ehogan commented on #88
Apologies @dnadeau4 for not providing some background. I am working on integrating CMOR3 into the code I am working on. The code I am working on requires a configparser-style configuration file as input. I wanted to determine which options needed to be specified in this configuration file for CMOR3 to work, which is why I went through the above process and also asked the question:

* Is there a wa

[2016-08-30 11:17] ehogan commented on #90
Apologies again for the lack of background. I have a number of CMIP5 functional tests for the code I am working on and I was trying to create the same output netCDF files that CMOR2 created by using CMOR3. Therefore, I wanted to not specify a list of `required_global_attributes` / specify a minimal list that was relevant to CMIP5 so that I could reproduce the output netCDF files for CMIP5. However

[2016-08-31 17:58] dnadeau4 commented on #90
The control vocabulary will verify that all `required_global_attributes` are present before writing the final file.  Other people have created their own ``CV files`` without major issues.  [Input4Mips](https://github.com/PCMDI/input4MIPs-cmor-tables/blob/master/Tables/input4MIPs_CV.json)  [obs4MIPs](https://github.com/PCMDI/obs4MIPs-cmor-tables/blob/master/demo/obs4MIPs_CV.json) for examples.   Th

[2016-08-31 18:04] dnadeau4 commented on #88
**This is a moving target.**  I spent so much time coding to match this document, but it changes every week.    The CF file data structure has changed drastically last month, and I decided to wait until final decisions are made.   I am done recoding the same thing over and over!  If the WIP can finalized this document that will be quite helpful for both of us.   Just get rid of branch_method in re

[2016-08-31 18:16] ehogan opened #91 "Issues with the CMIP6 MIP tables"
I have discovered a few issues with the CMIP6 MIP tables:
- The [p220](https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_6hrPlev.json#L894) and [p840](https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_6hrPlev.json#L982) axes in the [CMIP6_6hrPlev](https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_6hrPlev.json) MIP table should be called `p200` and `p850`, since the dimen

[2016-08-31 18:52] dnadeau4 commented on #88
I could do that, since CV is currently changing.

I thought `outpath` was set to `.` by default.   I need to check that, I got these parameter from CMOR2 and just used them without checking if they were problematic.

Actually any attribute found in the JSON will be created in the netCDF file except the one starting with `_`.   This is useful for other project.   When `_CMIP6` is set CMOR3 will run

[2016-08-31 18:54] dnadeau4 commented on #88
Yes, that must be old CMOR2 code remaining....

[2016-08-31 19:02] dnadeau4 commented on #88
No, sub_experiment_id, activity_id and source_type are mandatory attributes and cannot be derived.   They are ESGF facets and we cannot publish files without them.   The USER need to set these.

@taylor13 provided me with this [list](https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_CV.json#L172-L202), I forces these values for each experiment.    If the WIP don't is happy with t

[2016-08-31 23:52] dnadeau4 commented on #91
1. `p200` and `p850` do not exist in martin's table: http://clipc-services.ceda.ac.uk/dreq/index/grids.html

1.  if I see that `valid_min == valid_max` I will just ignore them, otherwise cmor will never pass.

1. @martinjuckes told me about the 3rd issue.  I will fix it pronto.  Thanks for reminding me.

Note: the tables follow Martin's dreq.xml and vocab.xml file found in his repository.  Each ti

[2016-09-05 12:39] MathisRosenhauer opened #93 "json-c not installed"
I noticed that make install does not install json.h and friends which are needed by cmor.h through cmor_func_def.h. It is easy enough to do that manually but it would be nice if it worked out of the box.

[2016-09-06 16:51] dnadeau4 commented on #93
Thanks @MathisRosenhauer  I will look into it today.

[2016-09-06 20:33] dnadeau4 commented on #80
@durack1 could you check that list make sure I did not miss anything!

[2016-09-07 00:29] durack1 commented on #80
@dnadeau4 you can delete the following bullet point (this is now included in the [CMIP6_experiment_id.json](https://github.com/WCRP-CMIP/CMIP6_CVs/blob/master/CMIP6_experiment_id.json) file:
[code]
We are also waiting on MIP chairs to sort out the `sub_experiment` start and end dates for each experiment, so that can't be finalized - but the format `sYYYY` is correct as far as I know..

I'm not sur

[2016-09-07 16:54] dnadeau4 commented on #80
@durack1 these are my notes! :smile:

[2016-09-07 23:20] durack1 commented on #80
@dnadeau4 let's sit down at a screen and discuss this tomorrow

[2016-09-07 23:21] dnadeau4 commented on #93
Done in 3.1.2,  will publish tomorrow.

[2016-09-07 23:21] #93 closed

[2016-09-07 23:22] dnadeau4 commented on #7
@doutriaux1  ping

[2016-09-07 23:24] dnadeau4 commented on #22
Only the Conventions seems to be an issue since it is hard coded in the table.   Is this good enough?

[2016-09-07 23:25] dnadeau4 commented on #33
This seems good,  we need to work on the new Control Vocabulary file especially for grid_label and grid_resolution.  I will have to change cmor_CV.c to handle the new data structure.

[2016-09-07 23:27] dnadeau4 commented on #37
@dnadeau4  important!

[2016-09-07 23:28] dnadeau4 commented on #38
Finally got it to work after multiple attempts,  not all test are in the suite only the CMIP6_CV for now.  I will try to convert the other one slowly one by one. This is very tedious work.

[2016-09-07 23:29] dnadeau4 commented on #43
Need to revisit this.  Never found the problem.

[2016-09-07 23:31] gleckler1 commented on #22
@dnadeau4 @durack1 working on obs4MIPs directory structure now.   Does the above question on conventions apply to both CMIP and obs4MIPs?

[2016-09-07 23:32] durack1 commented on #38
@dnadeau4 @doutriaux1 has determined a way of optimizing the build queuing on travis - by using another `travis.yml` command line tweak - I think it's included in the [`pcmdi_metrics/travis.yml`](https://github.com/PCMDI/pcmdi_metrics/blob/master/.travis.yml#L6)

If I remember right, you add:
[code]

[2016-09-07 23:34] durack1 commented on #33
@dnadeau4 let's sit down with @gleckler1 and @taylor13 tomorrow and see if there's anything else that needs to be clarified.. I think we're in pretty good shape across the `CMOR3`, `obs4MIPs` and `input4MIPs` tables now..

[2016-09-07 23:39] dnadeau4 commented on #64
I still have to finish the make test, but I have run_test.py now and will keep working on this.

[2016-09-07 23:44] dnadeau4 commented on #69
@ehogan I think this ticket can be closed,  we should open a new one with anything pending.  It seems that I deleted the "printf" debugging return value from `cmor.load_table`.

[2016-09-07 23:44] #69 closed

[2016-09-07 23:50] dnadeau4 commented on #70
@martinjuckes  I am not sure these were adresses.  I see inconsistency in Omon and Amon for #2.

[2016-09-07 23:50] dnadeau4 commented on #82
@taylor13

[2016-09-07 23:51] durack1 commented on #70
@dnadeau4 can you clarify which version of the `dreq` you're using at the moment - is it *34*?

[2016-09-07 23:52] dnadeau4 commented on #90
@ehogan were you able to create a `CV file` that works for you?

[2016-09-07 23:54] dnadeau4 commented on #91
I am not sure whey I do not have `p200` and `p850` in my tables.  They seems to be in `dreq.xml`.  I will check this for 3.2.0 release.

[2016-09-08 13:52] doutriaux1 commented on #7
@dnadeau4 pong

[2016-09-08 13:52] doutriaux1 commented on #7
@dnadeau4 yes but basically since the options are identical now, simply remove the whole case statement

[2016-09-08 14:11] doutriaux1 commented on #38
@durack1 you can't use this if you are using sudo in your travis.yml which @dnadeau4 is doing.

[2016-09-08 14:12] doutriaux1 commented on #38
@dnadeau4 I don't think you can take sudo out in your case since you need gfortran on Linux and we do not have a conda gfortran. (you could make one though, I have the mac recipe in our repo)

[2016-09-08 23:02] dnadeau4 opened #95 "CMOR 3.1.3 tagging"
- [x] Update `master` branch with `cmor-3.1.3` branch
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [ ] #80 issue
- [x] Validate version info is correctly written (CMOR version should be `3.1.3`)
- [x] Validate data_specs_version written (01.beta.XX?)
- [x] Update [website](http://cmor.llnl.gov) so correct tag points (`3.1.3`) are noted fo

[2016-09-08 23:31] #77 closed

[2016-09-09 00:09] durack1 commented on #73
@dnadeau4 is this a candidate for `3.2.0` or is it done?

[2016-09-09 00:10] durack1 commented on #37
@dnadeau4 another `3.2.0`er?

[2016-09-09 00:13] durack1 commented on #95
@dnadeau4 I do think the Zenodo DOI is useful.. I can turn this generation on (when a release is tagged) or you can if you like?

[2016-09-12 18:29] dnadeau4 commented on #95
What I mean, is that Zenodo DOI is automatically update to the latest release and I don't need to change the README.md file.

[2016-09-12 18:37] durack1 commented on #95
@dnadeau4 unless of course you have a `DOI` badge on the README.md - like [UV-CDAT](https://github.com/UV-CDAT/uvcdat/), and the [PMP](https://github.com/PCMDI/pcmdi_metrics/)

[2016-09-12 18:47] dnadeau4 commented on #95
I do have a `DOI` badge on the README.md.  It has been automatically updated without my intervention.
https://zenodo.org/record/61946#.V9b3z9Ey290

[2016-09-12 18:49] durack1 commented on #95
@dnadeau4 fair enough then.. If that's the case then I recommend you remove this item from the list above

[2016-09-14 13:36] ehogan commented on #64
I have just installed CMOR 3.1.2 and I'm afraid `make test` is still not working. I tried running `run_test.py` but that doesn't work for me either. Would it be possible to reopen this ticket?

[2016-09-16 10:34] ehogan commented on #91
Related to this, I noticed the `external_variables` attribute is written to the output netCDF files with the correct value `areacella`, even though `areacella` is (currently and incorrectly) the value of the `cell_methods` attribute (rather than the `cell_measures` attribute) in the MIP table. If I edit the MIP table to swap the values for the `cell_methods` and `cell_measures` attributes so that

[2016-09-16 17:04] dnadeau4 commented on #38
I found a way around this.  just conda install gcc and gfortran is installed. My travis is now working fine.

[2016-09-16 17:04] #38 closed

[2016-09-16 17:55] dnadeau4 commented on #64
They broke after I merged your code.  I fixed some of them, but I decided to change them all.  They are note real test, but just making sure files are created with certain options.   My other task(CDMS) is suffering from working on cmor....

[2016-09-16 17:58] dnadeau4 commented on #64
run_test should work look at the [travis](https://github.com/PCMDI/cmor/blob/master/.travis.yml) file.    All my submit are now passed with  [green lights](https://travis-ci.org/PCMDI/cmor/jobs/158570371)

[2016-09-20 06:09] dnadeau4 commented on #7
Removing them make libnetcdf fails,   everything is now working. closing.

[2016-09-20 06:09] #7 closed

[2016-09-20 06:13] dnadeau4 commented on #64
Emma,  I linked ``testTables`` to ``Tables`` and test started working again.   you can checkout cmor-3.1.3.

[2016-09-21 13:50] ehogan opened #97 "The value of the realm global attribute in netCDF file for tasmin is not equal to the value of the modeling_realm in CMIP6_day.json MIP table"
I have produced an output netCDF file for `tasmin` using the `CMIP6_day.json` MIP table. The value for the `modeling_realm` attribute in the `CMIP6_day.json` MIP table for `tasmin` is `atmos` (https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_day.json#L2932), but the value of the `realm` global attribute in the output netCDF file is `seaIce ocean`, which is equal to the value of the `real

[2016-09-21 17:48] dnadeau4 commented on #97
I talked to @taylor13 and he told me the WIP has not decided how to handle this yet.

Sorry about the confusion, the Table header have `realm` which is a global attribute and the Variable has `modeling_realm` which is a variable attribute.   It seems as well that the `CMIP6_day` table has a mixture of `seaIce ocean` and `atmos` variables.  We might have to create 2 tables for `day` stuff, I am not

[2016-09-22 17:37] ehogan commented on #90
@dnadeau4 Apologies for the delay in my reply. I am still seeing both the issues I mentioned in my first comment using CMOR 3.1.2.

With regards to the first issue, I would have expected to be able to run CMOR without specifying a CV file. Is this not the case? If a CV file is required, I was going to suggest changing the error message from `Could not find file: Tables/CMIP6_CV.json` to something

[2016-09-22 23:35] dnadeau4 commented on #90
Emma,

Thanks for this issue.  I fixed the program in branch [cmor-3.1.3](https://github.com/PCMDI/cmor/blob/cmor-3.1.3/Test/cmor_speed_and_compression.json#L3) so it does not ``Segmentation fault (core dumped)``.

I also created a [CV_minimal.json](https://github.com/PCMDI/cmor/blob/cmor-3.1.3/TestTables/CMIP6_CV_minimal.json) file.

The code is now more robust, I did not expect CMIP6 modelers to

[2016-09-22 23:39] dnadeau4 commented on #90
If you don't specify ``_cmip6_option`` in your ``user input JSON`` file.  This is the minimal CV file.
I need to check the institution_ids no matter what project.
{
"CV": { "institution_ids": { "BNU":"" } }
}

[2016-09-23 13:27] ehogan commented on #90
Thanks @dnadeau4 :) I tested your `cmor-3.1.3` branch but unfortunately I am still seeing the `Could not find file: Tables/CMIP6_CV.json` error when the `_control_vocabulary_file` is missing from the JSON file, and also the `Segmentation fault (core dumped)` message when I remove all entries from `source_ids`.

Thank you for the information about `_cmip6_option`, it was very useful :)

[2016-09-23 14:06] ehogan opened #98 ""Attempt to convert between text & numbers" netCDF error when attempting to write baresoilFrac variable"
When attempting to write the `baresoilFrac` variable, the error `Error: NetCDF Error (-56: NetCDF: attempt to convert between text & numbers) writing scalar variable type for variable baresoilFrac (table: Lmon), value: 0.000000` is printed.

There is a CMOR test available that reproduces the problem: [test_python_singleton_string.py](https://github.com/PCMDI/cmor/blob/master/Test/test_python_singl

[2016-09-23 23:17] dnadeau4 commented on #90
Emma,  I must have missed something for source_ids.  I added the following code: [source_ids](https://github.com/PCMDI/cmor/blob/cmor-3.1.3/Src/cmor_CV.c#L525-L534)

 As for `_control_vocabulary`,  I need to ask `PCMDI` if I can make it optional.  Everybody seems to like the validation for file consistency between projects.

[2016-09-26 21:34] durack1 commented on #97
@dnadeau4 not certain what my role in this is?

[2016-09-28 14:15] ehogan commented on #64
Thanks Denis; I just tried `make test` using the `cmor-3.1.3` branch but it stops with an error at `test_cmor_grid_alejandro` as you mentioned in a previous comment (I notice this test uses an old-style MIP table; will the test work if a JSON MIP table is provided?).

When I run `python run_tests.py` on the command line (as in the travis file you linked to) I get:
[code]
I can't figure out why thi

[2016-09-28 17:22] dnadeau4 commented on #64
These are old test from CMOR2 for CMIP5 that I did not translate and they are are not compliant with Python unittest.   Nobody wants to work on them,  I will surely delete all these old tests in my last release, for now just comment them out in the Makefile.  I don't know who is Alejandro and what the test was for.

I am not sure why your python unittest loader does not work for you.  I think you

[2016-09-28 17:34] doutriaux1 commented on #64
@dnadeau4 these test are/were important for CMOR2 they were usually testing some somewhat obscure feature, weird parameters combination or such. They usually stem from real life issues. I don't think we should discard them. Let's get together and translate them to work with CMOR3

[2016-09-28 18:04] dnadeau4 commented on #64
I translated a lot of them already. That one (in Fortran) , somehow did not work: [test_cmor_grid_alejandro](https://github.com/PCMDI/cmor/blob/master/Test/test_cmor_grid_alejandro.f90)

My work in mainly cmip6_cv and I don't have time to fix bug in cmor anymore.  I am starting to work on another project.

[2016-09-29 22:19] JimBiardCics opened #99 "Time coordinate variable in netCDF-4 file has large chunking value that affects file size"
When a netCDF-4 file is created with chunking, the time coordinate variable has a large chunk size. This causes the netCDF file to be larger than necessary. Could you please set the chunk size to 1 for all 1-D coordinate variables and to (1,1) for all 1-D bounds variables? This should not be done for 2-D axis variables (grids).

[2016-09-30 17:26] dnadeau4 commented on #99
Jim,

I just merged the chunking of coordinates variables into cmor-3.1.3 branch.  I am not ready to release this branch on PCMDI channel, but if you need it I can create the tar ball on my personal channel.

Denis

[2016-09-30 17:27] #99 closed

[2016-10-11 10:21] martinjuckes opened #101 "spectband dimension and associated bounds"
There is a new dimension in the request: "spectband", which defines spectral bands used for some radiation diagnostics. It should be provided with a bounds array, but the values of the axis and the bounds are to be specified by the modelling group. Should there be a suitable "_bnds" array defined, e.g. "spect_bnds"? I'm not sure what the process is here .. if you need more information from me plea

[2016-10-20 17:47] dnadeau4 commented on #101
@taylor13 Can you answer this?

[2016-10-31 17:39] dnadeau4 opened #105 "cmip6 tables 01.beta.37 error with CMOR 3.1.2"
I can successfully run ipcc_test_code.f90 on CMOR3.1.2 using cmip6 tables version 01.beta.36 (and older versions).  However, when I use cmip6 tables 01.beta.37 and 01.beta.38, I get error message.  Is there a problem with the new tables?  ipcc_test_code.f90 is the sample program which comes with CMOR download

[2016-10-31 17:40] dnadeau4 commented on #105
From: kwok-wai.lo@nasa.gov

[2016-11-01 23:38] dnadeau4 opened #106 "CMOR 3.2.0 tagging"
- [x] Update `master` branch with `cmor-3.2.0` branch
- [x] rerun autogen to change the configure version
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [ ] #80 issue
- [x] Validate version info is correctly written (CMOR version should be `3.2.0`)
- [x] Validate data_specs_version written (01.beta.XX?)
- [x] Update [website](http://cmor.ll

[2016-11-01 23:40] dnadeau4 commented on #39
Karl and I have started to discuss about this.  We will work on climatology and z-factor in the in 3.2.0 or 3.2.1.

[2016-11-02 00:39] dnadeau4 commented on #95
Problem created the PDF files with Jekyll.  Not sure why just yet.

[2016-11-02 10:55] ehogan commented on #95
Would it be possible to update the version numbers in `INSTALL` and `configure` as part of the release procedure? I just noticed that there are CMOR version numbers in those files that do not match `3.1.3`.

[2016-11-02 16:34] ehogan commented on #91
@dnadeau4 I've just finished testing CMOR 3.1.3 with the latest version of the MIP tables (01.beta.38) and all these issues have been resolved; thank you very much!

[2016-11-02 16:34] #91 closed

[2016-11-02 18:16] #105 closed

[2016-11-07 13:37] ehogan opened #108 "cell_measures with a value of @OPT"
In the 01.beta.38 version of the MIP tables, the `cell_measures` for `ua` and `va` for `6hrLev` has the value `@OPT`. According to cmip6dr/CMIP6_DataRequest_VariableDefinitions#40, this value is a valid value, but CMOR errors with the message `Error: Dataset error, required attribute external_variables was not passed or blanked`. Would it be possible for CMOR to handle `cell_measures` with a value

[2016-11-08 17:33] dnadeau4 commented on #108
@taylor13 explained to me why we have cell_measures to "@OPT",  I changed the code so that if "@OPT" is found, it reset `VARIABLE_ATT_CELLMEASURES` to `""`, so no `external_variable` attribute will be produced.   That will be in 3.2.0.

[2016-11-08 17:37] dnadeau4 commented on #95
Will do, thanks!  Did not realize that I had to rerun autogen to change the `configure` version.

[2016-11-08 18:09] taylor13 commented on #101
@martinjuckes   You already have included "spectband" as one of your coordinates (axes?), and you indicated must_have_bounds="yes", so that's all you have to do.  CMOR constructs the name of the bounds variable, in this case "spectband_bounds".  So I don't think any further action is needed on your part.  [If required or requested bands were needed, they would have had to be listed in your data re

[2016-11-15 18:41] taylor13 opened #109 ""grid_resolution" changed to "nominal_resolution"."
@dnadeau4 @durack1  The "grid_resolution" global attribute has been changed to "nominal_resolution".  The CV file name will also change to "CMIP6_nominal_resolution.json".

[2016-11-17 14:36] goord opened #110 "clt in aermonthly"
Hi,

in the aermonthly table, the variable clt has a vertical axis alevel. However, in other tables this is not the case, and the description (cloud area fraction as seen from toa or sfc) also suggests this is a 2D variable. Should this model level dimension be omitted?

[2016-11-17 15:02] ehogan commented on #110
Hi @goord, in the latest version of the [data request](http://clipc-services.ceda.ac.uk/dreq/u/7c2249d424dde72f8616d42870a9d425.html) / [MIP tables](https://github.com/PCMDI/cmip6-cmor-tables/search?utf8=%E2%9C%93&q=clt), `clt` only exists in `Amon`, `day` and `3hr`. So I think this issue has already been resolved in the data request :)

[2016-11-21 18:28] dnadeau4 commented on #108
I also add the "--OPT" option in the code, since some of the tables are set to that string.

[2016-11-23 21:11] dnadeau4 commented on #110
I will close this issue, since it seems to be solved.

[2016-11-23 21:11] #110 closed

[2016-11-23 21:11] dnadeau4 commented on #109
Done in 3.2.0

[2016-11-23 21:11] #109 closed

[2016-11-23 21:11] dnadeau4 commented on #108
This is now working.

[2016-11-23 21:11] #108 closed

[2016-11-23 21:13] dnadeau4 commented on #98
I don't want to stop the release because of this one, so I will set it to milestone 3.2.1

[2016-11-23 21:22] dnadeau4 commented on #54
@doutriaux1

[2016-11-23 21:23] dnadeau4 commented on #43
@BeatriceCNRM Can you give this another try?  We updated CMOR so much that he problem might be solved.

[2016-11-23 21:25] dnadeau4 commented on #22
What append to Conventions?  Is it good enough the way it is right now?

[2016-11-23 21:27] dnadeau4 commented on #80
@durack1 @taylor13 Is this still relevant?

[2016-11-23 21:29] durack1 commented on #80
@dnadeau4 I think not, as we now have the `CMIP6_CVs` repo and all the curated info there, this is no longer relevant I believe..

[2016-11-23 21:30] durack1 commented on #22
@dnadeau4 this is a question for @taylor13

[2016-11-23 22:07] doutriaux1 commented on #54
@dnadeau4 run the code I provided as part of my original comment. You will see the error.

[2016-11-23 23:28] #106 closed

[2016-11-23 23:31] dnadeau4 opened #113 "CMOR 3.2.1 tagging"
- [x] Update `master` branch with `cmor-3.2.1` branch
- [x] rerun autoconf to change the configure version
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [ ] #80 issue
- [x] Validate version info is correctly written (CMOR version should be `3.2.1`)
- [x] Validate data_specs_version written (01.beta.XX?)
- [x] Update [website](http://cmor.l

[2016-11-23 23:32] #95 closed

[2016-11-24 10:40] goord opened #114 "Is CMOR3 thread-safe?"
Is it safe to write multiple variables (in the same table, I assume only one table can be loaded at once) at the same time with CMOR3?

[2016-11-24 15:20] taylor13 commented on #22
will check

[2016-11-28 15:29] doutriaux1 opened #115 "Provide more grnaular distribution of CMOR via anaconda"
using the `feature` of anaconda we could distribute it as
*  pure `C`
* `C` and `Fortran`
* `C` plus `Fortran` plus `Python`
  * `numpy 1.9`
  * `numpy 1.10`
  * `numpy 1.11`

[2016-11-28 17:55] dnadeau4 commented on #115
What are the feature of anaconda?

I've distribute with numpy 1.9, 1.10 and 1.11 last Wednesday.

[2016-11-28 18:02] doutriaux1 commented on #115
`feature` is an anaconda thing that let it automatically download various version of a package based on which packages you have in your conda environment for example if gfortran installed then get the `C+Fortran` version. If Python  installed (I believe it's always true) install C+Python, etc...

[2016-12-04 22:55] dnadeau4 commented on #114
I don't think it is, but NASA gave me some code using MPI with many instance of CMOR in parallel.  I will revisit it and implement it.

If you CMOR uses the PID to create the `temporary file`, and multiple instance will overwrite `temporary` the file over and over.

[2016-12-19 22:56] dnadeau4 opened #117 "CMOR 3.2.2 tagging"
- [x] Update `master` branch with `cmor-3.2.2` branch
- [x] rerun autoconf to change the configure version
- [x] verify that optimization is disable from setup.py.in.
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [ ] #80 issue
- [x] Validate version info is correctly written (CMOR version should be `3.2.2`)
- [x] Validate data_specs_versio

[2016-12-20 01:06] #113 closed

[2016-12-21 16:00] ehogan opened #119 "Unable to subscribe to the CMOR mailing list"
I seem to be unable to subscribe to the CMOR mailing list. I have followed the instructions [here](https://pcmdi.github.io/cmor-site/mailing-list.html) and have received confirmation e-mails, but if I send a command to `LISTSERV@LISTSERV.LLNL.GOV`, I get the response `You are not subscribed to the CMOR list.`. Are there newer instructions I should be following? Are the mailing lists working?

[2017-01-04 19:05] dnadeau4 commented on #119
@taylor13 @doutriaux1 I don't have access to the cmor list. Can someone log in listserv.llnl.gov and see if Emma is a subscriber?

[2017-01-04 19:06] dnadeau4 commented on #119
emma.hogan@metoffice.gov.uk

[2017-01-04 20:54] taylor13 commented on #119
I suggest giving Denis access to the cmor list.  Anyone know how to do that?

[2017-01-05 17:17] ehogan opened #120 "cell_measures with a value of --MODEL"
Sort of related to #108 (see also the links on  cmip6dr/CMIP6_DataRequest_VariableDefinitions#40), the value of `cell_measures` for a number of variables in the [CMIP6_SImon.json](https://github.com/PCMDI/xml-cmor3-database/blob/master/src/CMIP6_SImon.json) MIP table is equal to `--MODEL`, e.g. [siforcecoriolx](https://github.com/PCMDI/xml-cmor3-database/blob/master/src/CMIP6_SImon.json#L680). Wou

[2017-01-05 17:31] taylor13 commented on #120
@ehogan Hi Emma,  Do you know:   has --MODEL replace --OPT (and @OPT) as the way to indicate that cell_measures is optional (depending on the model formulation)?  Or is it *required*, but whether areacella or areacello or areacell?? should be assigned to the attribute depends on the model?  I'm sure Martin must have documented this, but I can't find it.

[2017-01-06 10:07] ehogan commented on #120
@taylor13 both `--MODEL` and `--OPT` are separate, valid options (see http://clipc-services.ceda.ac.uk/dreq/u/ATTRIBUTE::structure.cell_measures.html). I'm afraid the only documentation I know of are the links Martin posted on cmip6dr/CMIP6_DataRequest_VariableDefinitions#40.

[2017-01-06 19:11] dnadeau4 commented on #120
I modified cmor and add --MODEL in the cell_measures options.
https://github.com/PCMDI/cmor/commit/6a0f8f06c31c0a62e9246d7551afe7c59e5685b4

[2017-01-11 12:54] jkettleb commented on #120
Can I check I understand the consequences of this?  I think the MIP tables will currently omit `cell_measures` when they are `--MODEL` or '--OPT` in the data data request.  So the NetCDF written from CMOR will not have `cell_measures` for these variables.

This may be the most pragmatic thing to do - as dealing with `--MODEL` and `--OPT` in CMOR may be require effort and we are short of effort.  I

[2017-01-11 21:26] taylor13 commented on #120
@jkettleb Yes, CMOR will omit attaching cell_measures to variables where --MODEL or --OPT has been specified.  The publication QC is largely based on PrePARE, which performs the same checks on global attributes as CMOR.  In general it doesn't check variable attributes (like cell_measures), so files written by CMOR are guaranteed to pass the publication QC, but files written by other software may p

[2017-01-12 13:01] jkettleb commented on #120
Thanks @taylor13 that makes sense.  I'm not sure  I understand why the data request doesn't just omit `cell_measures` in these cases - but I think I can live with that uncertainty.

Is PrePARE the QC developed at DKRZ - I think BADC see the DKRZ tool as the most likely QC tool.  (Sorry google search on PrePARE wan't very helpful)

[2017-01-12 23:22] taylor13 commented on #120
@jkettleb - I think Martin uses the cell_measures for two purposes: to indicate what variable contains grid cell areas *and* to indicate requirements as to whether values should be reported at cell centers or not.  Martin provides some explanation here: https://www.earthsystemcog.org/projects/wip/drq_interp_cell_center
PrePARE has only been recently named ("Pre-Publication Attribute Reviewer for t

[2017-01-13 10:40] jkettleb commented on #120
Thanks for you time on this @taylor13.  That documentation on cell_measures helps clarify things.
Thanks for the notes on the QC checking.

[2017-01-23 08:56] goord opened #122 "tracking_id validation gives errors"
Hi,

I am using the latest cmor anaconda package and I am experiencing the following error:

[code]

However, my configuration json file clearly contains the line

[code]
It seems that this filed is somehow not read and an incorrect default value is used...
Greetings, Gijs van den Oord

[2017-01-23 18:35] dnadeau4 commented on #122
It seems to me that you are not reading the right user input files.  Your tracking ID and the one cmor displayed is different.  What version of cmor are you using.  The WIP changed all the table names which I update on github during the MLK long holiday.  They just sent me another update today? (sigh).  I am in Seattle for AMS.  Are you there?

[2017-01-23 21:10] goord commented on #122
Highly unlikely, there is no other user input json in my project, and other warnings contain the correct values. I also noticed that every time a different uid appears in the error message, perhaps the uuid library generates one and overwrites the field before validation? BTW I am using the head of the master branch of the CMIP6 tables.

I am not in Seattle, as I am working for the Dutch Royal Met

[2017-01-24 18:08] taylor13 commented on #122
It seems odd to me that a full tracking I.D. should appear in an input file (or as you say a "configuration json file") to CMOR.  CMOR is supposed to *generate* the random portion of the tracking id.  The input file should only contain "hdl:21.14100/.*"

I'm not that familiar with all this, so perhaps I'm wrong.

[2017-01-25 13:31] goord commented on #122
I have tried that as well, no success. Also, if the tracking-id is validated to match hdl:21.1411/.* (listed in the CV table), then I would guess that CMOR generates such an id and there is no need to adopt this field in the user input, right?

[2017-01-25 19:45] dnadeau4 commented on #122
Can you look at the tracking I'd test that I have for cmi6 cv on github.  I am in the middle of a talk so I can't provide you with more info not until Friday.

Lawrence Livermore National Laboratory
Atmospheric, Earth and Energy Division
925-423-3123

________________________________
From: goord
Sent: Wednesday, January 25, 2017 5:31:57 AM
To: PCMDI/cmor
Cc: Nadeau, Denis; Comment
Subject: Re: [PC

[2017-01-25 23:39] durack1 commented on #119
@dnadeau4 this URL will work onsite (or maybe VPN) https://listserv.llnl.gov/Scripts/wa.exe?A0=CMOR& my guess is that @doutriaux1 is the list owner

@ehogan send an email to cmor-request@listserv.llnl.gov.. That should trigger a subscription

[2017-01-27 17:51] dnadeau4 commented on #122
@goord  just got back from travel and was able to look at your file.

You set `tracking_id` instead of `tracking_prefix` in your `cmor3_metadata.json` file.  The `tracking_id` is creating by adding prepending `tracking_prefix` when present.    For CMIP6, `PrePARE` make sure that `hdl:21.14100` is present, but for obs4MIPs and input4MIPS project they don't need to be there.

Have a look the [test_p

[2017-01-27 21:53] dnadeau4 commented on #122
http://cmor.llnl.gov/mydoc_cmor3_python/

[2017-01-29 16:20] goord commented on #122
Thank you @dnadeau4, that solves my problem. Closing issue.

[2017-01-29 16:20] #122 closed

[2017-01-31 01:17] durack1 opened #123 "cmor 2.9.2 appears to be the current default - should be 3.2.x"
[code]

[2017-01-31 01:31] dnadeau4 commented on #123
`conda install -c conda-forge -c pcmdi -c uvcdat cmor`

UVCDAT has cmor 2.9 and pcmdi has 3.2.  You need to change your channel order so that conda find pcmdi cmor 3.2 version first.

[2017-01-31 01:48] durack1 commented on #123
@dnadeau4 if possible it'd be great to get the `uvcdat` channel pointing to the 3.2 `pcmdi` channel

[2017-01-31 02:53] dnadeau4 commented on #123
@doutriaux1 Do you agree with that?

[2017-01-31 03:34] durack1 commented on #123
@dnadeau4 it's probably a too hard basket, and your time is better spent elsewhere.. I just need to get my channels ordered better

[2017-01-31 03:34] #123 closed

[2017-01-31 23:10] durack1 opened #124 "Segfault with problematic input table"
@dnadeau4 the `Segmentation fault: 11` that I reported earlier today can be replicated in `CMOR 3.2.1` using the files contained in the attached archive.
[cmor321SegFault.zip](https://github.com/PCMDI/cmor/files/743428/cmor321SegFault.zip)

You can replicate the segfault by executing:
[code]

[2017-02-01 13:25] ehogan commented on #119
I just sent an e-mail ...

[2017-02-01 13:41] ehogan commented on #119
I just got the reply:

[code]
The link doesn't work for me (I get a `504 Gateway Timeout`), so I replied to the e-mail with `OK`.

[2017-02-01 14:07] ehogan commented on #119
I just received three more e-mails, one of which contained a large amount of text; buried in this text was a sentence saying I should resend the request to LISTSERV@LISTSERV.LLNL.GOV. I'm now subscribed. Would it be worth updating the instructions to specify this e-mail instead?

[2017-02-01 18:38] dnadeau4 commented on #119
@doutriaux1 Can you give me access to the cmor the mailing list?  I called listserv a month ago and they told me that it had to be you,  since you are the admin.  They did not want to give me direct access.

It would have been easier to just had Emma directly to the list, instead of having her going through these hoops.

[2017-02-01 20:02] durack1 commented on #119
@ehogan the listserv system and the web-based interface is locked behind a firewall, so anyone outside the network can only interact using the standard listserv email commands.. Take a peek at https://www.lsoft.com/resources/manuals.asp if you want to know more

@doutriaux1 this owner of the list should be @dnadeau4 so he can administer things quickly.. @dnadeau4 put a request through with 4Help t

[2017-02-01 20:12] durack1 commented on #119
@ehogan apologies I didn't respond to your [comment above](https://github.com/PCMDI/cmor/issues/119#issuecomment-276665475).

Sending an email to cmor-request@listserv.llnl.gov triggers an email reply to the senders email address, which validates your email (you need to reply "ok") to continue to subscription. Upon receiving the "ok" reply the system triggers the list owner to add you as a list su

[2017-02-01 21:28] dnadeau4 commented on #119
@durack1 4Help refused to add my name last time.  @doutriaux1 was able to add my email, so I am now an owner of CMOR and I can finally add people to the list.

[2017-02-01 21:30] dnadeau4 commented on #119
@durack1 I would love to add the instructions to `mydoc_contacts` cmor documentation.

[2017-02-02 15:35] doutriaux1 commented on #119
@dnadeau4 i made you owner weeks ago.

[2017-02-02 18:47] dnadeau4 commented on #119
I did not know until yesterday.  Thanks!

[2017-02-03 10:54] ehogan commented on #119
@durack1 I was following the instructions at https://pcmdi.github.io/cmor-site/mailing-list.html (the first page Google displays when searching for `cmor mailing list`). The instructions at http://cmor.llnl.gov/mydoc_contacts/ are better; apologies for not spotting these earlier :)

Thanks everyone for your help!

[2017-02-03 10:54] #119 closed

[2017-02-04 09:48] durack1 commented on #119
@dnadeau4 we should probably redirect the site [pcmdi.github.io/cmor-site/](https://pcmdi.github.io/cmor-site/) to your revised pages [cmor.llnl.gov/](http://cmor.llnl.gov/)

[2017-02-06 19:08] dnadeau4 commented on #119
@durack1 This site is for CMOR2.  Some people at NASA are still using CMOR2, there might be a better way to link to it somehow.... Maybe @mattben could help with this.

[2017-02-08 02:39] dnadeau4 commented on #22
@taylor13 is Conventions still good as: `"Conventions": "CF-1.6 CMIP-6.0"`
`

[2017-02-08 21:48] dnadeau4 commented on #124
Fix in 3.2.2

[2017-02-08 21:48] #124 closed

[2017-02-08 21:49] dnadeau4 commented on #120
Fix in 3.2.2

[2017-02-08 21:49] #120 closed

[2017-02-08 22:06] dnadeau4 commented on #90
_control_vocabulary is mandatory.

[2017-02-08 22:06] #90 closed

[2017-02-08 22:11] dnadeau4 commented on #97
@taylor13  What is the difference between realm (GLOBAL) attribute and modeling_realm (variable attribute).   Can they be so different `realm=atmos` `modeling_realm=seaIce ocean` in the same file.

[2017-02-08 22:12] #33 closed

[2017-02-08 22:12] dnadeau4 commented on #12
@durack1 should we close this issue?

[2017-02-08 22:18] doutriaux1 commented on #12
@dnadeau4 no we should add all the units asked for by @durack1 in a similar fashion as what we did for `psu`

[2017-02-08 22:24] #64 closed

[2017-02-08 22:58] dnadeau4 commented on #97
Solution: used the variable `modeling_realm` as the global attribute `realm`.

[2017-02-09 01:30] durack1 commented on #124
@dnadeau4 nice!

[2017-02-09 01:32] durack1 commented on #12
@dnadeau4, @doutriaux1 created the ability to add salinity "units" in CMOR, I had tried to get these into `udunits` upstream, but was blocked so instead wanted to catch this in the CMOR software. Has the salinity units work of @doutriaux1 been included in `CMOR 3.2.x`?

[2017-02-14 13:00] cehbrecht opened #126 "running PrePARE.py script fails"
i've installed cmor via conda. There is a `PrePARE.py` script in the `bin/` folder but when you call it it exists with an error:

[code]

Currently one has to run it like this:

[code]

Probably the `setup.py` needs to be fixed to install `PrePARE.py` as a script.

[2017-02-14 13:05] cehbrecht opened #127 "setting env variables with conda recipe"
The docu mentions one has to set the following environment variable:

[code]
Could this be done with the conda recipe?

https://conda.io/docs/using/envs.html#saved-environment-variables

See gdal example:

https://github.com/conda-forge/gdal-feedstock/blob/master/recipe/build.sh

[2017-02-14 13:09] cehbrecht opened #128 "conda package for cmip6-cmor tables?"
Could the cmip6-cmor tables be provided as conda package (going into `share/` folder) as well and then added as dependency to the cmor conda package?

[2017-02-14 16:04] ehogan opened #129 "Problem producing ps with CMOR 3.2.1"
When producing `ps` using CMOR 3.2.1, the values of the data variable attributes in the output netCDF file match the information for `ps` in the [CMIP6_formula_terms.json](https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_formula_terms.json) file rather than the information for `ps` in the MIP table, e.g. [CMIP6_Amon.json](https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_Amon.js

[2017-02-14 17:27] dnadeau4 commented on #126
@cehbrecht  I did not add the `#!/usr/bin/env python` on the first line.  It seems to work on the MAC so I will add that line.  You need to run it using `python` for now.

[2017-02-14 17:31] dnadeau4 commented on #127
`UDUNITS2_XML_PATH` is documented in the [installation](http://cmor.llnl.gov/mydoc_cmor3_conda/)

I looked at the `gdal build` recipe, and did not find out how they setup an environment variable `UDUNITS_XML_PATH` as part of the `conda` package.

 I could actually add it to `PrePARE.py`, but not to the `cmor` library itself.   I'll investigate more

[2017-02-14 17:51] dnadeau4 commented on #129
The `CMIP6_Amon.json` is read first and then `CMIP6_formula_terms.json` is read.  Both tables goes into the same array.    I thought it would find the one from `Amon` first.   I guess the `zfactor` variable names are saved somewhere else.  I'll try to figure this out.  That code is not mine, so it might take a bit of time.

[2017-02-14 22:09] dnadeau4 commented on #127
I was able to add this to `CMOR-3.2.2` tag.   This worked well with source activate and deactivate.
Thanks!

[2017-02-14 22:09] #127 closed

[2017-02-14 22:11] dnadeau4 commented on #128
you mean something like `linux-64/CMIP6-CMOR-TABLES-3.2.2.tar.bz2`?  I never tried to create a recipe without code before.  @durack1 @taylor13 what do you think?

[2017-02-14 23:17] dnadeau4 commented on #129
I fixed this issue and pushed it in the CMOR-3.2.2 branch.  @taylor13 wants to get rid of `ps` in [CMIP6_formula_terms.json](https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_formula_terms.json) for the next cmor update.

[2017-02-14 23:21] taylor13 commented on #128
I think we want the build of the software to remain independent of the tables used as input to it.  At some point we expect the software to be only updated infrequently while the tables are still evolving.  Note that different activities require different tables, but will all use the same CMOR package, so this is another reason to keep the two separate.  This comes at a very minor inconvenience to

[2017-02-15 03:33] durack1 commented on #128
@dnadeau4 you could add the tables as a dependency of the `CMOR` conda package, so that it's independent, but installed when the conda `CMOR` installation occurs.. Sounds like a good idea to me.. It also allows conda to be used to update the existing tables in an existing `CMOR` installation

[2017-02-15 13:36] ehogan commented on #88
I ran through the above using CMOR 3.2.1 and all the problems still exist, with the following differences:

* The multiple error messages mentioned in the "Sixth call" point are now included in the "Fifth call" point.
* The multiple warning messages mentioned in the "Sixth call" point now includes `sub_experiment`
* The error messages mentioned in the "Seventh call" point no longer occur.

[2017-02-15 15:27] doutriaux1 commented on #128
I personally think it's an horrible idea. conda is for software. What you could do is add convenience functions in cmor python to fetch the tables for you (git clone) that would make more sense. Look under the cmip5 repo there is convenience functions already to retrieve a set of tables at any date and to check your tables.

[2017-02-15 15:28] doutriaux1 commented on #128
see: https://github.com/PCMDI/cmip5-cmor-tables/tree/master/Lib

[2017-02-15 18:25] ehogan opened #130 "Memory issue introduced in CMOR 3.1.3"
After some investigation, I discovered that the [chunking](https://github.com/PCMDI/cmor/commit/fc738dfa35e978721ae8ebb70a3627b82861961f#diff-038204a94c57f8deea5747661ee23c31) code that was introduced to [cmor.c](https://github.com/PCMDI/cmor/blob/master/Src/cmor.c#L2042) between CMOR 3.1.2 and 3.1.3 causes CMOR to use an excessive amount of memory. For example, when I run one of my tests using CM

[2017-02-15 18:41] ehogan commented on #130
I just noticed the comment on #99; if it's helpful, the variable in my test has 2D axes.

[2017-02-15 19:10] dnadeau4 commented on #130
Can you give me more info about your file? `ncdump -hs <filename>`.   I was thinking of letting the user define a chunking attribute for each dimension (CMIP6_coordinates.json).  I set it to  `1` as asked in #99 for the default is just some crazy arbitrary size.

Right now I chunk the entire length of lat/lon dimensions and the other chunk is set to 1 (level/time).   That makes sense when you want

[2017-02-15 19:16] dnadeau4 commented on #130
You can also set compression, which might be of help.

[speed_test_table_A#L1691-L1693](https://github.com/PCMDI/cmor/blob/master/Test/speed_test_table_A#L1691-L1693)

[2017-02-15 19:31] dnadeau4 commented on #128
@durack1 I don't think there is a hook in `conda` to run a script when you do `install`, `create` or `update`.  `conda` only retrieves tarball packages including dependencies and deploys them.

I could write a convenience script like @doutriaux1 suggest in the script directory perform a `git clone` and set the table (as long as the user has `git`.  Or the user could just follow my documentation.

[2017-02-15 19:37] dnadeau4 commented on #128
@durack1 If I create a `CMIP6 Table` `conda` package, then we will need to maintain an `Inputs4MIPs`, `obs4MIPs`, `CREATE`, etc `conda` package as well.  It will be difficult to keep them up to date and maintain.

I could use `TRAVIS CI` to create push automatically to anaconda when there is a change into the `master` branch.  If you think this is a `critical` priority for `CMOR` let me know.

[2017-02-15 19:42] dnadeau4 commented on #115
I thought `feature` and `track_features` were for `meta-packages`?   I right now CMOR includes this:

* `C` plus `Fortran` plus `Python`
  * `numpy 1.9`
  * `numpy 1.10`
  * `numpy 1.11`

[2017-02-15 19:44] dnadeau4 commented on #114
@goord I added `mkstemp()` to the output name which is safe for `race condition`.  That should do the trick for parallelism.

[2017-02-15 23:43] taylor13 commented on #128
Let's not spend too much time on this.  I don't think it is so difficult to obtain the tables needed to run CMOR.

[2017-02-16 00:36] dnadeau4 commented on #88
I changed a lot of `CRITICAL_ERROR` to `NORMAL_ERROR` and added a counter `ierr`.  This should diminished the number of time you need to run the program.

I also reversed the filename template as mentioned in `google doc`:
[CMIP6_global_attributes_filenames_CVs_20160714.docx](https://docs.google.com/document/d/1h0r8RZr_f3-8egBMMh7aqLwy3snpD6_MrDz1q8n5XUk)

The license has not been settle by the WI

[2017-02-16 03:26] durack1 commented on #128
@dnadeau4 I think the "operational" projects would only include `CMIP` and `obs4MIPs` at this stage, both tables are hosted in github, so we have versioning etc, I wonder whether leveraging the work on nightly auto updates could be done here.. I agree with @taylor13 that it's a low priority, so if/when some spare time appears....

[2017-02-16 12:57] ehogan commented on #130
My apologies, I made a mistake in my initial comment. When I run CMOR 3.1.2, the output netCDF file is 22M on disk and uses ~0.94G of memory, but when I run CMOR 3.1.3, the output netCDF file is 929M on disk (~42 times larger) and uses ~35.5G of memory (~38 times larger).

Here is the difference between the output of `ncdump -hs <filename>` for the output netCDF file created using CMOR 3.1.2 and t

[2017-02-16 15:34] doutriaux1 commented on #130
@dnadeau4 `i` and `j` chunk sizes have changed. Is that you or is it an artifact of a new netcdf?

[2017-02-16 17:48] dnadeau4 commented on #130
That's me as requested by #99.

[2017-02-16 17:53] dnadeau4 commented on #130
@doutriaux1  The file seems to have a grid (lon_vertices),  it might also be a artifact of netcdf 4.4.x
The 1,1,1, size is definitely the problem here.

[2017-02-19 14:56] goord commented on #114
OK, I may run a test if I get the time... Thank you.

[2017-02-21 17:13] SophieCerfacs opened #132 "PrePARE.py asking for (wrong) missing_values"
Running the PrePARE.py on my files, I get error messages like:
"CMIP6 variable gpp requires "missing_values":"1e+20"."
Indeed, my gpp variable has an attribute
"gpp:missing_value = 1.e+20f ;" and not
"gpp:missing_values = 1.e+20f ;"

I suppose this is a bug in PrePARE.py, as missing_values with a final "s" does not conforms to the CF convention. Can you confirm and hopefully correct in a future ve

[2017-02-21 17:24] SophieCerfacs opened #133 "cmor tables not up-to-date wrt the CMIP6 Data Request"
Running PrePARE.py on my newly generated files, I get error messages like for example for my file ccldncl_Eday_CNRM-CM6-1_historical_r1i1p1f1_gn_1950_1959.nc

"You file contains "standard_name":"ccldncl" and CMIP6 tables requires "standard_name":"number_concentration_of_convective_cloud_liquid_water_particles_in_air_at_liquid_water_cloud_top"."

and

You file contains "cell_measures":"time: mean"

[2017-02-21 17:31] dnadeau4 commented on #132
@SophieCerfacs It is a bug,  I fixed it to missing_value a while back.  What version are you using?

[2017-02-21 17:52] SophieCerfacs commented on #132
Hi Denis,

My version is 3.2.1, I think. It is dated Feb 8.

I just did a git pull and I get:
[cglo765@beaufixlogin0 cmor]$ git pull
remote: Counting objects: 92, done.
remote: Compressing objects: 100% (92/92), done.
remote: Total 92 (delta 62), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (92/92), done.
From https://github.com/PCMDI/cmor
   9e462cc..d227bf8  cmor-3.2.2 -> origin/cmo

[2017-02-21 19:15] dnadeau4 commented on #132
Can you recreate your file with `cmor-3.2.2`.   I looked in every file I have and `missing_values` seems to be gone.  I found `missing_values` in version `cmor-3.2.0`

[2017-02-21 19:22] dnadeau4 commented on #133
@SophieCerfacs I mixed cell_measure and cell_methods in a old version of cmor.  This should be fixed in `CMOR 3.2.2.`  I think you need to update your CMIP6 tables and CMOR. What is your cmor_version attribute in the netcdf file?

[code]

[2017-02-22 08:13] SophieCerfacs commented on #132
Hi Denis,

I am NOT creating my files with cmor. We have a complete alternative chain based on the XIOS I/O server implemented in all components of our coupled model. Our goal is to produce directly cmor-compliant files with XIOS without any post-processing and without using cmor.
In the files I create with XIOS, I have missing_value (and not missing_values with an s), which seems to be right to m

[2017-02-22 08:58] SophieCerfacs commented on #133
Yes, thanks for these explanations. Indeed we also mixed cell_measure and cell_methods in our chain based on XIOS and this explains why I get the error.
Sorry about this, I close the issue!
  Thanks a lot

[2017-02-22 08:58] #133 closed

[2017-02-22 10:22] ehogan opened #134 "Using CMOR_REPLACE and CMOR_REPLACE_3 as the value of netcdf_file_action in the call to cmor.setup does different things"
According to the [documentation](http://cmor.llnl.gov/mydoc_cmor3_api/#cmorsetup) for the `netcdf_file_action` argument for `cmor.setup`, `The default values (no underscore) are aliased to the _3 values`. However, when I use `netcdf_file_action=CMOR_REPLACE` in the call to `cmor.setup`, CMOR produces an output netCDF file with the format `netCDF-4 classic model` (and introduces chunking), but when

[2017-02-22 17:51] dnadeau4 commented on #132
I think you are using PrePARE.py with an old version of cmor.  Can you run the following commands in python?

[code]

If you don't get 3.2.x,  you should recompile cmor or get it the latest from anaconda using `conda install`.

I grep in all my files, and I don't have *missing_values* anymore, only *missing_value*.

* http://cmor.llnl.gov/mydoc_cmor3_conda/

[2017-02-22 18:00] dnadeau4 commented on #132
The tag `description` is attached to the `experiment_id`.

@taylor13 @durack1  What is the different between `description` and `experiment` in your CMIP6 Table?

I forced `description` to be attached to `experiment_id`.  Did I get this right?

[2017-02-22 18:48] SophieCerfacs commented on #132
I did that and I get:
3
2
1
I suppose this is OK then?

To make sure I cloned and installed cmor again:
git clone https://github.com/PCMDI/cmor.git
./configure --prefix=/home/ext/cf/cglo/valckes/SAVE/cmor/cmor/here --with-uuid=/home/ext/cf/cglo/valckes/SAVE/uuid-1.6.2/usr/local --with-udunits2=/opt/softs/libraries/ICC16.1.150/udunits-2.2.20 --with-netcdf=/opt/softs/libraries/ICC16.1.150/netcdf-4.4

[2017-02-22 18:59] ehogan commented on #134
The fifth bullet point on http://cmor.llnl.gov/#design-considerations-and-overview may also need updating.

[2017-02-22 19:05] dnadeau4 commented on #132
Ok I was able to reproduce the problem with 3.2.1.  Time for me to release 3.2.2.   ;-)

Please get version 3.2.2

git clone -b cmor-3.2.2  https://github.com/PCMDI/cmor.git

Thanks for your help finding this...

[2017-02-22 20:22] dnadeau4 commented on #134
I will change the documentation,  the default is now NetCDF-4 classic model
https://github.com/PCMDI/cmor/blob/master/include/cmor.h#L46-L48
[code]

[2017-02-22 20:40] dnadeau4 commented on #134
I changed the documentation.  Scripts to update runs every hour. `:00`
https://github.com/PCMDI/cmor3_documentation/pull/29

[2017-02-22 20:40] #134 closed

[2017-02-23 17:56] dnadeau4 opened #135 "Chunking schema"
@Taylor13 @durack1 @doutriaux1

I have been working on the "chunking" attributes and pushed in cmor-3.2.2 a new "chunking" schema.

It is very difficult to chose one schema that will satisfied everybody as you can see in this document.
[chunking_data_why_it_matters](http://www.unidata.ucar.edu/blogs/developer/entry/chunking_data_why_it_matters)

I decided to chunk following the `Spatial Access`  c

[2017-02-23 17:57] dnadeau4 commented on #12
What is the salinity works of @doutriaux1?  I don't think it is in CMOR.

[2017-02-23 17:58] dnadeau4 commented on #22
@taylor13 Do you have an answer about `Convention`?

[2017-02-23 18:06] dnadeau4 commented on #39
Can we finalize the zfactor for `time1,` time2`, `time3` and `time4` dimension.

## CMIP6 time definition.
* time1: same as time, but no bounds necessary (instantaneous)
* time2:  Climatology
* time3: Found in E1hrClimMon (same as time2, but defined as diurnal cycle)

[2017-02-23 18:08] durack1 commented on #12
@doutriaux1 was that units stuff in a branch?

[2017-02-23 18:16] durack1 commented on #135
@dnadeau4 I personally would be accessing the time axis first, as for most applications you want the temporal history rather than a single time slice

[2017-02-23 18:22] dnadeau4 commented on #135
Well, if chunk the data using `time series access` schema,  I create `core samples` of data for each lat/lon.   This is not what most people want when they run a model.

Chunking with `(TimeSize, 1, 1, 1)` will take a huge amount of disk space and thereafter accessing `(1,1,Ysize, Xsize)` will be very slow.

[2017-02-23 19:11] dnadeau4 commented on #132
@SophieCerfacs Did you try 3.2.2?  Is it working for you?

[2017-02-23 19:12] dnadeau4 commented on #126
@cehbrecht Does this solution work for you?

[2017-02-23 19:13] #115 closed

[2017-02-23 20:40] durack1 commented on #135
@dnadeau4 I really wonder whether this is a good idea, the performance hit is huge for making assumptions about how users are going to access the data.. The defaults look pretty good to me..

| Storage layout, chunk shapes | Read time series (sec) | Read spatial slice (sec) | Performance bias (slowest/fastest) |
|--|:--:|:--:|:--:|
| Contiguous favoring time range | 0.013 | 180 | 14000 |
| Contigu

[2017-02-23 21:18] dnadeau4 commented on #135
I could let `netCDF4` default the `chunksize` and expose a `attribute variable` for flexibility.

* example:

  * `"tas": { "chunksize_dimension": [512,512,1,1] }`    CMOR will let the user  overwrite  this attribute for their needs.   The user will need to know that each value will chunk the array according to the dimension attribute. i.e. `"dimension": "longitude latitude plevs17 time" `

[2017-02-23 21:25] dnadeau4 commented on #135
I should expose the "set cache size" as well...
[HDF5 white paper](https://support.hdfgroup.org/HDF5/doc/Advanced/Chunking/)

[2017-02-24 10:33] cehbrecht commented on #126
@dnadeau4
it might work that way ... but personally i would prefer to use the `setup.py` configuration with entry_points and moving the command line code to the package. See the following examples:

* cfchecker:
https://github.com/cedadev/cf-checker/blob/master/setup.py#L33

* compliance-checker:
https://github.com/ioos/compliance-checker/blob/master/setup.py#L46

[2017-02-24 15:27] SophieCerfacs commented on #132
It takes longer than expected because I had to ask the admin system people to reinstall cmip6_cv. I will let you know!

On 23 Feb 2017, at 20:11, Denis Nadeau <notifications@github.com> wrote:

---------------------------------------------------------------
Sophie Valcke

  Research Engineer
  Climate Modelling and Global Change team
  CECI UMR 5318 CNRS/CERFACS
  42 Av. G. Coriolis
  31057 Toulou

[2017-02-24 16:45] senesis commented on #132
I think that the 'description' NetCDF attribute should simply be equal to the 'description' attribute in CMIP6_experiment_id.json
Example :
        "historical":{
            "activity_id":[ "CMIP"  ],
               ......
            "description":"CMIP6 historical",
...
        "1pctCO2":{
	         ....
		"description":"DECK: 1pctCO2",

[2017-02-24 17:24] taylor13 commented on #132
"description" is included in the CV .json file only to help humans understand what the experiment is.  "description" is *not* a required global attribute (see https://docs.google.com/document/d/1h0r8RZr_f3-8egBMMh7aqLwy3snpD6_MrDz1q8n5XUk/edit ) and like some of the other items in the experiment_id file, it really isn't considered part of controlled vocabulary.  For this reason, CMOR does not auto

[2017-02-27 22:56] dnadeau4 commented on #130
@ehogan @doutriaux1 should I remove all chunking by default then and let using set values in the JSON file if needed like for compression?

[2017-02-27 22:56] dnadeau4 commented on #129
@ehogan is this working for your now in version 3.2.2?

[2017-02-27 23:04] dnadeau4 commented on #126
@cehbrecht That will make prepare a package, not a script.  That might work better for ESGF to import it thought.  @sashakames  would it be better for your to set PrePARE.py as an entry point?

[2017-02-27 23:34] doutriaux1 commented on #130
I would say yes, do nothing by default and let the user decide. It's safer.

[2017-02-28 00:28] sashakames commented on #126
@dnadeau4 If you convert to a package, thats fine and probably preferable for ESGF as I access it now through a bit of a hack.  Bottom line, best to get done before we release ESGF 2.5 in case a standalone upgrade were to break what I have now

[2017-02-28 01:10] dnadeau4 commented on #126
@sashakames I was able to create an entry_point instead of a script.  It will be in the next release.

[2017-02-28 10:03] ehogan commented on #129
According to https://github.com/PCMDI/cmor/releases, version 3.2.2 hasn't been released (or tagged) yet?

[2017-02-28 17:38] dnadeau4 commented on #129
@taylor13 does not want me to release,  he has a WIP meeting today and he wants me to release by the end of the week.  I'll see how much work comes out of this meeting and what I can do...

[2017-03-02 10:46] SophieCerfacs commented on #132
Everything is fine now, I installed 3.2.2 and PrePARE.py is not asking for missing_values (with an s) anymore!
  Thanks,
   Sophie

On 23 Feb 2017, at 20:11, Denis Nadeau <notifications@github.com> wrote:

---------------------------------------------------------------
Sophie Valcke

  Research Engineer
  Climate Modelling and Global Change team
  CECI UMR 5318 CNRS/CERFACS
  42 Av. G. Coriolis

[2017-03-02 11:13] SophieCerfacs commented on #132
There is still the "description" issue though (see Karl's comment). Will you release a new version of PrepARE.py not controlling the value of "description"?
  Thanks

[2017-03-02 12:49] ehogan commented on #129
@dnadeau4 @taylor13 if you're not able to release by the end of the week, would you consider making a release candidate (3.2.2-rc1) available that I could use for testing prior to the release? :)

[2017-03-02 17:41] dnadeau4 commented on #132
I will release CMOR 3.2.2 today,  I will make sure that `description` is no longer used, but `experiment`.   I got some work about  `sub_experiment`, `parent_experiment_id` and `parent_activity_id`.  As well, the `license` has changed which is always difficult to parse as a regular expression.

[2017-03-02 17:43] dnadeau4 commented on #129
I am release CMOR 3.2.2 today, but I like the `release candidate` idea for next time.  I need to verify if `conda` will accept a version number with characters in it.

[2017-03-03 02:06] #88 closed

[2017-03-03 02:18] dnadeau4 commented on #135
I have let the set chunking otherwise the default chunk is used.

[2017-03-03 02:18] #135 closed

[2017-03-03 03:04] dnadeau4 commented on #132
@SophieCerfacs I fixed the `description` issue in PrePARE.py for version 3.2.2.

[2017-03-03 03:04] #132 closed

[2017-03-03 03:05] dnadeau4 commented on #130
@ehogan I fixed the chunking issues. There is no chunking unless you specify them.  Look at Test/test_chunking.py

[2017-03-03 03:06] dnadeau4 commented on #126
@cehbrecht I have an entry_point in cmor 3.2.2 release.  Thanks.

[2017-03-03 03:06] #126 closed

[2017-03-03 03:08] #117 closed

[2017-03-03 03:09] dnadeau4 opened #136 "Tag CMOR 3.2.3"
- [x] Change configure.ac to `3.2.3` and rerun `autoconf`.
- [x] verify that optimization is disable from setup.py.in.
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [x] #80 issue
- [x] Validate version info is correctly written (CMOR version should be `3.2.3`)
- [x] Validate data_specs_version written ([`01.00.06`](https://www.earthsystemc

[2017-03-03 03:10] dnadeau4 commented on #114
I have implemented the thread safe option in 3.2.2.  Please reopen if it is not working properly for you.

[2017-03-03 03:10] #114 closed

[2017-03-03 03:11] dnadeau4 commented on #97
Will do soon....

[2017-03-03 03:11] dnadeau4 commented on #87
This is now working for me.

[2017-03-03 03:11] #87 closed

[2017-03-03 03:12] dnadeau4 commented on #80
@Taylor13 when you have sub_experiment settle I will implement it.  I am moving the milestone to 3.2.3

[2017-03-03 03:13] dnadeau4 commented on #73
I don't see this issue anymore.  @ehogan?

[2017-03-03 03:13] #70 closed

[2017-03-03 03:14] dnadeau4 commented on #54
@doutriaux1 I have fix this yet,  Your test is very old,  I will need to create a new one for a more recent version of cmor.

[2017-03-03 03:15] dnadeau4 commented on #52
time3 is now in the `coordinate_variables.json` file.

[2017-03-03 03:15] #52 closed

[2017-03-03 03:16] dnadeau4 commented on #43
@BeatriceCNRM Did you ever get around this issue?  I have not figured out what was the final problem.

[2017-03-03 03:17] dnadeau4 commented on #39
@doutriaux1 Can you send me a example?

[2017-03-03 03:17] dnadeau4 commented on #22
Most of this ticket has been resolved except Convention,  I will close it and we can reopen a new one.

[2017-03-03 03:17] #22 closed

[2017-03-03 03:18] dnadeau4 commented on #12
@doutriaux1 where is you salinity code?

[2017-03-03 03:21] dnadeau4 commented on #82
Since we don't have any comments on this issue for a long time, I will close it.  Feel free to re-open.

[2017-03-03 03:21] #82 closed

[2017-03-03 03:21] dnadeau4 commented on #129
This is now working in 3.2.2.

[2017-03-03 03:21] #129 closed

[2017-03-03 10:10] ehogan opened #137 "CMOR 3.2.2 doesn't include chunking fixes or 01.00.03 MIP tables"
https://github.com/PCMDI/cmor/releases states that there have been 3 changes to master since CMOR 3.2.2 was released; these changes include the chunking fixes and the 01.00.03 MIP tables, see, e.g. https://github.com/PCMDI/cmor/blob/CMOR-3.2.2/Src/cmor.c#L2045 and https://github.com/PCMDI/cmor/blob/CMOR-3.2.2/TestTables/CMIP6_AERday.json. According to the release notes, these changes should have b

[2017-03-03 10:21] jypeter opened #138 "conda installation of 3.2.2 in uvcdat 2.8.0 requests a downgrade of libnetcdf"
Congratulations @dnadeau4 on getting this new update! But if I try to install it in uvcdat 2.8.0, it wants to **downgrade libnetcdf**...

What should I do? Force the installation and keep the libnetcdf that's already there? Or wait? I don't need CMOR right now. It's just that I have started practicing with cmor and I wanted to check what happens if I try to install it

[code]

[2017-03-03 14:24] JimBiardCics opened #139 "Coding error in pywrapper.py line 222"
A call to the cmor.set_grid_mapping function fails in pywrapper.py line 222 with the error

NameError: "global name 'punits' is not defined"

when a grid mapping contains an element that is a tuple or list because the proper name for the variable being referenced is punit, not punits.

[2017-03-03 17:26] #139 closed

[2017-03-03 17:41] JimBiardCics opened #140 "cmor.set_grid_mapping has multiple problems."
A call to the cmor.set_grid_mapping function fails in pywrapper.py line 222 with the error

NameError: "global name 'punits' is not defined"

when the parameter_names argument to the function is a dictionary and contains an element that is a tuple or list of the form (value, units), because the punit and punits should be the same variable.

I fixed this problem by changing all instances of punits

[2017-03-03 18:13] dnadeau4 commented on #137
It is there.
https://github.com/PCMDI/cmor/blob/cmor-3.2.2/Src/cmor.c#L2045

[2017-03-03 18:18] dnadeau4 commented on #137
You type CMOR-3.2.2 instead of cmor-3.2.2,  I just moved the tag CMOR-3.2.2 to master.

[2017-03-03 18:21] ehogan commented on #137
Ah, I was using just `3.2.2`, which is now different to `CMOR-3.2.2` (see https://github.com/PCMDI/cmor/tags); could the `3.2.2` tag be updated too, please? :)

[2017-03-03 18:22] dnadeau4 commented on #137
Just did, I must have create the tag before pushing my last update.

[2017-03-03 18:22] JimBiardCics opened #141 "cmor.load_table('CMIP6_grids.json') in CMOR 3.2.1 generates warning about cf_version"
When calling cmor.load_table('CMIP6_grids.json') in CMOR 3.2.1, a warning is generated about the cf_version element of the JSON file. The message is:

[code]
If I delete the cf_version entry from the Header section of the CMIP6_grids.json file, no warning is displayed. It seems that either the code or the file should be changed.

[2017-03-03 18:23] ehogan commented on #137
Wonderful, thank you very much! :)

[2017-03-03 18:23] #137 closed

[2017-03-03 18:34] dnadeau4 commented on #138
I used the same conda-recipes as uvcdat-2.8.0.   I looked at the meta.yaml and they don't seem to `pin` the version and conda-forge select libnecdf-4.4.1-0.  https://github.com/conda-forge/staged-recipes/wiki/Pinned-dependencies

I don't know how `uv-cdat` created their package with `libnetcdf 4.4.1.1-2`.

[2017-03-03 18:48] dnadeau4 commented on #140
Can you provide me with a test?

[2017-03-03 18:49] dnadeau4 commented on #141
I saw that too, It must be something in the Table header that was left over.  I did not find it yesterday and  had to release.

[2017-03-03 18:51] JimBiardCics commented on #140
@dnadeau4 Inspection should be sufficient, but I can. I'll get you one shortly.

[2017-03-03 18:59] dnadeau4 commented on #141
https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_grids.json#L4

I fixed this in
https://github.com/PCMDI/cmip6-cmor-tables/tree/master/Tables

[2017-03-03 18:59] #141 closed

[2017-03-03 19:03] dnadeau4 commented on #140
@JimBiardCics I like test, I can add them to my test suite and make sure things are still working as they should before the release.

[2017-03-03 19:06] dnadeau4 commented on #138
@jypeter You can try to create a new environment until I figure that one out.   I looked at all our `meta.yaml` file and it is not obvious why `uv-cdat` is using `libnetcdf 4.4.1.1-2`.   It might just be related to their version of `hdf5`.

[code]
@doutriaux1 Your help would be welcome here.

[2017-03-03 19:24] JimBiardCics commented on #140
Here's a python script that creates a grid and sets a grid mapping on it, along with tables that it needs.

[SetGridMappingTest.zip](https://github.com/PCMDI/cmor/files/817681/SetGridMappingTest.zip)

To run it in the folder it is found in type:
`python testCmorGrid.py Tables/obs4MIPs_SImon.json cmor_config.json CMIP6_grids.json`

You can also use this script to check out what's up with the obs4MI

[2017-03-03 19:25] JimBiardCics commented on #141
Did a new pull and found that everything is peachy now. Thanks!

[2017-03-03 19:26] dnadeau4 commented on #130
Actually the chunking is set here.  HDF5 also can deflate/shuffle each chunk.

https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_chunking.json#L16-L20

[2017-03-06 14:22] ehogan commented on #129
Confirmed; thank you very much! :)

[2017-03-06 14:31] ehogan commented on #97
This appears to be working in CMOR 3.2.2. I did notice the `realm` in the `Header` of the `CMIP6_day.json` MIP table is now `atmos` (see https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_day.json#L5), which matches with `tasmin`. However, in the `CMIP6_Amon.json` MIP table, the `realm` in the `Header` is `atmos atmosChem` (see https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_Amo

[2017-03-06 14:37] ehogan commented on #98
Confirmed; thank you very much! :)

[2017-03-06 14:50] ehogan commented on #87
@dnadeau4 I repeated the steps in my first comment using CMOR 3.2.2 and I'm afraid I am still seeing the original issue.

[2017-03-06 14:56] ehogan commented on #73
Using CMOR 3.2.2 I still get:
[code]

[2017-03-06 15:03] ehogan commented on #73
P.S. `example.py` contains the code in the `try` loop here: https://github.com/PCMDI/cmor/blob/master/Test/test_python_CMIP6_experimentID.py#L59 but with `logfile='cmor.log'` in the call to `cmor.setup`.

[2017-03-06 15:40] ehogan commented on #130
When I run CMOR 3.2.2, the output netCDF file is 22M on disk and uses ~0.94G of memory (just like CMOR 3.1.2) :) Thank you very much!

[2017-03-06 15:40] #130 closed

[2017-03-06 18:50] dnadeau4 commented on #97
I need to use `modeling_realm` from tje variable metadata and pass it as `Global Attribute` `realm`.  I have not got to this just yet.  If I remember, the `WIP` decided to use the first `modeling_realm` value when you have 2 values.

[2017-03-06 19:17] dnadeau4 commented on #138
@jypeter You can also try to create a new UV-CDAT environment to see if conda is getting libnetcdf 4.4.1.1-2.  (You can answer `no` to the question.  This is a way  to see what `conda` from the archive pull without creating the environment.)

[2017-03-07 17:46] sashakames opened #142 "can't import PrePARE"
PrePARE.py is still in in /bin but not installed as a site-package
@dnadeau4 started investigating and knows why

[2017-03-08 13:04] jypeter commented on #138
@dnadeau4 I get the following (with  libnetcdf **4.4.1-0**) if I try a _dry-run_ installation oc cmor
[code]
You can check the following page if you want to see my (quite) full notes about 2.8.0 installation: https://wiki.lsce.ipsl.fr/pmip3/doku.php/other:uvcdat:cdat_conda:cdat_2_8_0

Or at least the following link that lists what was installed for 2.8.0 (with libnetcdf **4.4.1.1-2**): https://wik

[2017-03-08 15:11] ehogan commented on #97
Apologies for not being clear; I believe that the value of the `modeling_realm` attribute from the variable metadata is already being used as the value of the `realm` global attribute in the output netCDF file :)

[2017-03-09 12:04] cehbrecht opened #143 "json/yaml output?"
It would be nice if the cmor checker has (optional) json or yaml output with the check results. This json document could then easily be evaluated by other tools for further steps.

For example, the ioos compliance checker supports text, html and json output, see the docs:

https://github.com/ioos/compliance-checker/blob/master/README.md

[2017-03-09 17:39] dnadeau4 commented on #97
Thanks!  I just check the code and use `modeling_realm` if it exist in the variable, otherwise I use `realm` from the table.  If we have 2 realms, both are passed to the file.

[2017-03-09 19:41] taylor13 opened #144 "Treatment of forecast & hindcast CMIP6 expts."
In forecast or hindcast experiments -- i.e., all of the experiments where sub_experiment_id is *not* "none" -- a singleton coordinate should be defined recording the "forecast_reference_time" (the time the simulation was initiated from observations).

Specifically, the plan is to use "verification" (i.e.,
actual) time for the time coordinate, and record the
forecast_reference_time as a separate va

[2017-03-09 19:57] dnadeau4 commented on #142
I changed `setup.py` and forgot to change `setup.py.in` and my entry_point was lost.  Thanks for notifying me.  I will recreate it in `setup.py.in` this time.

[2017-03-15 23:07] dnadeau4 commented on #143
@cehbrecht You are right, it would look much better, I'll try to get to it, but I am really busy with other major issues.

[2017-03-16 14:53] doutriaux1 commented on #143
@cehbrecht I cocnur with @dnadeau4 that this would be awesome to have! Unfortunately @dnadeau4 and I are quite oversubscribed at the moment, any chance you could submit a PR for this?

[2017-03-17 00:11] taylor13 commented on #144
Another option would be to keep the table names the same but the rename the files, replacing "CMIP6" with "DCPP".  CMOR would obtain the correct table from within an if/else construct with the outcome determined on whether or not sub_experiment_id = "none" or not.

[2017-03-17 00:14] taylor13 opened #145 "QA checks for CMOR and PrePARE"
See this document:
[CMOR_PrePARE_QA_checks.pdf](https://github.com/PCMDI/cmor/files/849323/CMOR_PrePARE_QA_checks.pdf)
Revised: 3/22/17
[CMOR_PrePARE_QA_checks.pdf](https://github.com/PCMDI/cmor/files/862555/CMOR_PrePARE_QA_checks.pdf)

[2017-03-17 15:14] cehbrecht commented on #143
@doutriaux1
i'm also busy ;) But it would be nice to have a "structured" output which can be used by other tools for evaluation ... html output is optional.

Maybe i will have a look at it and come back with a suggestion (PR).

[2017-03-17 15:45] doutriaux1 commented on #143
Thanks @cehbrecht! Hopefully one of us can get to this soon!

[2017-03-17 20:23] durack1 commented on #145
@taylor13 is this document available through google docs or an equivalent web-browse-able link?

[2017-03-17 20:29] taylor13 commented on #145
@durack1  nope.  I just completed it and am waiting for feedback from Denis.  Do you want to make some suggestions before then?  If so, I could email the word doc to you.

[2017-03-17 20:30] durack1 commented on #145
@taylor13 might I suggest a copy and paste into google docs.. It might save our inboxes

[2017-03-22 17:59] taylor13 commented on #47
This issue is being actively worked on the CF trac system.  Expect we will be in compliance with version 1.7 of CF

[2017-03-22 18:28] dnadeau4 commented on #138
We will create 2 packages PrePARE and CMOR. This might not solve this issue.

[2017-03-23 08:09] jypeter commented on #138
OK, let me know if you want me to test something

[2017-03-23 19:48] dnadeau4 commented on #138
@doutriaux1 @taylor13 and I have been talking about it today,  if I push cmor into conda-forge, that should fix the issue.  CDMS2 is already in the conda-forge channel with all its dependencies.

[2017-03-23 21:40] JimBiardCics opened #146 "Creating a longitude axis with bounds fails for 0.05 degree global grid"
I have a dataset with a global 0.05 deg lat/lon grid. The lat and lon variables in the input netCDF file are 32-bit floats. When I attempt to create a CMOR axis from the CDMS2 axis using the bounds calculated by CDMS2, I get errors and a warning like
[code]
When I inspect the longitude and longitude bounds values, I find that they are all within one 32-bit floating point epsilon of their ideal val

[2017-03-23 22:16] taylor13 commented on #146
I don't think this is a CMOR problem is it?  I think something is wrong with the CDMS2 code used to create the bounds.  In this case the 2nd bound of one cell should be identical with the 1st bound of the neighboring cell.  This doesn't appear to be the case.

For CMIP6 we require coordinate values and bounds be carried as 64 bit floats (double precision), which would at least reduce the amount of

[2017-03-24 12:53] JimBiardCics commented on #146
@taylor13 That's a good point that CDMS2 should produce matched bounds,
but since there's not a guarantee of double precision in an incoming
dataset, it seems that CMOR should be more forgiving. I have had a hard
time figuring out exactly what CMOR is claiming the problem is, because
I don't see the all the values in the error reports in my longitude and
bounds values. Some of it seems to arise fr

[2017-03-24 14:16] JimBiardCics commented on #146
I've produced an updated example program that optionally forces the bounds to be butt-joined. CMOR still generates errors when there is an offset of 2*-17 added. So there appears to be a definite CMOR problem. The new program takes two arguments, a clean/noclean argument and the offset exponent, with an exponent value of zero producing an offset of zero. Run the app with no arguments to get a help

[2017-03-24 18:07] dnadeau4 commented on #146
@JimBiardCics CDMS looks for data that are right to the dateline (-180,180) and you cannot pass the dateline or you have a cross over.   When I create the bounds, if the  last values in your longitude plus dx/2 is more that 180, I fudge the value to 180.

The problem is really that you create data that are beyond 180.  (180.000031) and that the latest bound set to 180.    I agree that the message

[2017-03-24 18:38] dnadeau4 commented on #146
Jim,  this clever way to create data always work for me....  People always told me that bounds are more important than the center lat/lon and they create the bounds first and lat/lon center next.

[code]

[2017-03-24 18:38] JimBiardCics commented on #146
@dnadeau4 Did you mean to write CMOR above instead of CMDS2? I'm not creating data that falls over the bounds. CDMS2.getBounds() is. If you check using my program by running it with the arguments 'noclean 0', you'll see that the first and last bounds values produced by CDMS2 are both over the +-180 degree cut line (-180.000007629394531, 180.000007629394531) yet they don't produce an error. There's

[2017-03-24 18:39] JimBiardCics commented on #146
@dnadeau4 I'm not creating the data in my actual program. I'm reading it from input files.

[2017-03-24 21:08] dnadeau4 commented on #146
@taylor13 @doutriaux1 @durack1  -- I have been looking at genGenericBounds(), and I am voting to **remove** autobounds completely from CDMS.

Let people generate their own bounds.  This has been an occuring issues with autobounds and it seems that turning it off by default is not enough.  The computation is right, but the floating point mantissa cannot handle that kind of precision, especially in

[2017-03-24 21:27] dnadeau4 commented on #146
@JimBiardCics You are using CDMS to create the bounds.
[code]
You could also create your bounds and do
[code]

[2017-03-24 21:47] durack1 commented on #146
@dnadeau4 I don't think removing this functionality from `cdms` is the right step forward, adding a warning could be suitable, but it works well for standard lon/lat grids and I use this a fair bit as an end-user.. Happy to hear from @doutriaux1, @taylor13 and @gleckler1 on this

[2017-03-24 21:50] dnadeau4 commented on #146
if you can figure out a better equations, I will be happy to implement it.  I am still trying to figure this out... I was supposed to do @taylor13 CMOR list today...

[2017-03-24 22:22] dnadeau4 commented on #146
I was able to get CMOR to accept the bounds if I round the to 1/1000 (1e4) using @JimBiardCics program with -17.  When CMOR convert the longitude bounds to 0-360, the dateline become non-monotonic in this case due to floating point precision issue.

[2017-03-24 23:01] dnadeau4 commented on #146
If I round the limits of the automatically generated bounds to 4 decimals (1e-4) it works in this case....
[code]

[2017-03-24 23:02] dnadeau4 commented on #146
I have done this in CDMS.

[2017-03-24 23:03] durack1 commented on #146
@dnadeau4 if you wanted to test this, there are a very large number of CMIP5 model datasets that you could run it against..

[2017-03-24 23:04] durack1 commented on #146
@dnadeau4 how far can you push that, would 5 or 6 decimal places also work? I'm just trying to think about very high res cases where the decimal place matters..

[2017-03-24 23:04] dnadeau4 commented on #146
I will have to cmorize your `large number of CMIP5 model datasets`.  Nice try! :smirk:

[2017-03-24 23:09] durack1 commented on #146
@dnadeau4 no, not rewrite any data, but just use the additional grids in your test case.. I've seen some very weird coordinate numbers in the CMOR-written CMIP5 datasets

[2017-03-24 23:13] dnadeau4 commented on #146
5 does not work, precision is `0.000015258789062` for `2^-17` which is the limit of the mantissa.

[2017-03-24 23:15] dnadeau4 commented on #146
I'd like to see your grids and figure out what happened.

[2017-03-27 16:10] dnadeau4 commented on #146
I think that is a good work around and will push it to master
@durack1 @taylor13 @doutriaux1
Do you agree?
[code]

[2017-03-27 17:17] durack1 commented on #146
@dnadeau4 4th decimal place precision has an effective resolution of 0.01 km which I believe is suitable for all examples I can think of (I say this with a very global perspective though).. I have no idea what data would have a higher resolution than even 0.1 degree (~11 km) which is considerably more crude than your limit

[2017-03-27 17:35] JimBiardCics commented on #146
@dnadeau4

Would this change be in CMDS2 or CMOR?

On 3/27/17 1:17 PM, Paul J. Durack wrote:

--
CICS-NC <http://www.cicsnc.org/> Visit us on
Facebook <http://www.facebook.com/cicsnc> 	*Jim Biard*
*Research Scholar*
Cooperative Institute for Climate and Satellites NC <http://cicsnc.org/>
North Carolina State University <http://ncsu.edu/>
NOAA National Centers for Environmental Information <http://

[2017-03-27 18:45] durack1 opened #147 "Precision of coordinates"
The file:
[code]
includes the following weird values:
[code]
And similar precision-like occurrences with the lat and lon values

I wonder whether a warning should be thrown to a user? @dnadeau4 for additional test cases, many CMIP5 datasets can be found at crunch:/work/cmip5/

@taylor13 @dnadeau4 what behavior should be undertaken here?

[2017-03-27 22:25] durack1 commented on #73
@dnadeau4 move to `3.2.3`?

[2017-03-27 22:48] durack1 opened #148 "Catching invalid specified grids"
@dnadeau4 the following file was generated using `CMOR 2.7.1`:
[code]
It seems the longitude values are repeated, and do not span the -90 to 90 range that you would expect. It would be useful for CMOR to throw a warning in this case.

When plotted `VCS` tries pretty hard
![cmip5 bnu-esm historical r0i0p0 fx atm fx sftlf ver-1 latestx](https://cloud.githubusercontent.com/assets/3229632/24381612/070

[2017-03-27 22:57] durack1 commented on #148
@dnadeau4 and here is another issue, upside down grid:
![cmip5 ec-earth historical r0i0p0 fx atm fx sftlf ver-v20130211](https://cloud.githubusercontent.com/assets/3229632/24381618/1350c8ea-1306-11e7-9148-755eb123f21d.png)

[2017-03-28 16:44] dnadeau4 commented on #146
@JimBiardCics This will change CDMS2 in creating bounds, making sure to round the first and last bounds so that this computer precision issue does not arise.

[2017-03-28 17:06] JimBiardCics commented on #146
Denis,

Here is a bit of code I wrote to clean up the bounds returned by the axis getBounds method.

[code]

[2017-03-28 20:05] taylor13 commented on #146
@dnadeau4 Here's a simple approach that will ensure (in whatever precision) that the bounds of contiguous grid cells coincide:
Let

C(i) = coord. values (assumed to be n values montonically increasing, but the algorithm could easily be generalized to also handle decreasing) supplied by user)
Bfirst = lower limit of domain (i.e., lower bound of first grid cell) supplied by user
Blast = upper limit

[2017-03-28 20:50] taylor13 commented on #147
@durack1  @dnadeau4
Are the values wrong or just odd?
Is lev a dimensionless (parametric) vertical coordinate or actual depth?
I presume vertices applies to the horizontal grid.
In any case I don't think CMOR could answer these questions, so would not know how to respond.

[2017-03-28 21:24] durack1 opened #149 "Problems getting latest from conda channel"
@dnadeau4 it seems that the PCMDI conda channel is not serving up the latest `cmor-3.2.2`:
[code]

[2017-03-28 21:41] dnadeau4 commented on #149
try `conda install cmor -c pcdmi` instead

[2017-03-29 00:43] taylor13 commented on #148
I thought we trapped both types of errors: 1) coordinates that do not increase or decrease monotonically, and 2) coordinates increasing in the right direction.  How do you explain the above results?

[2017-03-29 00:49] durack1 commented on #148
@taylor13 remember this is `CMOR 2.7.1` so @dnadeau4 has no need to explain these results.. We just need to make sure that `CMOR3` doesn't write such data..

[2017-03-29 16:27] taylor13 commented on #148
Understood, but I'm pretty sure both CMOR1 & CMOR2 included these checks, so it would be nice to double check those parts of the code are intact and working properly.

[2017-03-29 17:42] dnadeau4 commented on #146
@taylor13 and @durack1
Can you revise this code.  I got rid of floating point error precision for longitude at the date line when appropriate.  I tried with Jim programs and it works in every situations.
[code]

[2017-03-29 19:52] taylor13 commented on #146
@dnadeau4

I thought CDMS was written in C, not python, but no matter, I don't really know either.

The first ("if" statement) should also check that the units on longitude are "degrees" (or similar, like "degrees_east")

I think we should perform the check even when the difference between the end bounds is just a bit less than 360, because I think we can assume they wanted global coverage.  Also,

[2017-03-29 19:57] durack1 commented on #149
@dnadeau4 my environments were just messed up with a machine rebuild, so will close this.. I'm not sure the conda `update` is working correctly however

[2017-03-29 20:23] dnadeau4 commented on #149
I think the `update` command does not work, but you can do `install` with all the channel and it will update to the latest version.

[2017-03-29 20:33] dnadeau4 commented on #146
@taylor13 I'll give it a try...

Actually it is numpy.floor that does this, not int()
[code]

[2017-03-29 21:07] taylor13 commented on #146
Reviewing my pseudo-code above (which is not written in any known language but should be clear), I've found ways to simplify it:

    If (longitude coord. and units are degrees)

        if abs((abs(bnds[-1,1] – bnds[0,0] - 360.) < Min(0.01, abs(bnds[0,1]-bnds[0,0])*0.1)

               #  they probably meant domain to span exactly 360 deg.

    		# now check whether either bound is near an intege

[2017-03-30 08:16] goord opened #150 "Error after closing 3D variable"
After closing the 2nd 3d (hybrid model levels) variable in the Amon table (the first always passes without problems), cmor complains about the surface pressure not being written. However, I have written the surface pressure after each write of cli, with the appropriate storevar argument...
[code]

[2017-03-30 16:35] dnadeau4 commented on #150
@goord Can you send me your scripts? I would like to reproduce this issue.
Thanks!

[2017-03-30 16:37] dnadeau4 commented on #146
I submit a pull request in CDMS yesterday with the latest modification.  It should solve this bound issue for CMOR.

https://github.com/UV-CDAT/cdms/pull/109

[2017-03-30 16:37] #146 closed

[2017-03-30 21:43] dnadeau4 commented on #145
@taylor13 @durack1 I will implement the QA_checks document into CMOR tomorrow.

1. Am I allowed to run the CF-1 compliance program and distribute it?
2. I will check if I have test for all those cases
3. This part is new and need to be implemented.
4. Need to be implemented. I need to check what is timerange for fx files.

[2017-03-30 22:35] dnadeau4 commented on #150
@goord It seems that you don't write the "ps" data for each time step.  Please take a look at this example:

https://github.com/PCMDI/cmor/blob/master/Test/test_sophie.f90#L315-L347

where zfactor_id is defined as "ps"
https://github.com/PCMDI/cmor/blob/master/Test/test_sophie.f90#L262-L266

[2017-03-31 09:29] goord commented on #150
Apparently I had a copy of the surface pressure id associated to my variable, which was not written along with it, so the problem was in my part of the code. PS, the code I am working on is [https://github.com/goord/ece2cmor3](url)

[2017-03-31 09:29] #150 closed

[2017-03-31 13:26] Funkensieper opened #151 "Shape mismatch error with 2D histograms"
I would like to re-write 2D histograms ( cloud-top-pressure vs cloud-optical-thickness) using cmor:

    import cmor
    import numpy as np

    cmor.setup(netcdf_file_action=cmor.CMOR_REPLACE)
    cmor.dataset_json('Tables/user_input.json')
    cmor.load_table('Tables/CMIP6_Amon.json')

    # Generate dummy data
    time = np.array([0, 30, 60])
    time_bounds = np.array([[0, 30],

[2017-03-31 13:27] Funkensieper commented on #151
P.S. I added the following variable definition to `CMIP6_Amon.json`:

        "jch": {
            "modeling_realm": "atmos",
            "standard_name": "atmosphere_optical_thickness_due_to_cloud_and_air_pressure_at_cloud_top_histogram",
            "units": "1",
            "cell_methods": "area: time: histogram",
            "cell_measures": "area: areacella",
            "long_name": "Joint h

[2017-04-01 00:25] dnadeau4 commented on #150
Excellent!!

[2017-04-04 10:45] cehbrecht commented on #138
@dnadeau4
i didn't find the cmor conda recipe but from the downloaded conda package it looks like you have pinned the libnetcdf version: ``libnetcdf 4.4.1``.

The highest version on the conda default channel seems to be 4.4.1 while on conda-forge it is 4.4.1.1. We use several packages from conda-forge, like cdo, which are build with the latest version from the conda-forge channel. When you look at

[2017-04-04 11:39] goord opened #152 "Loading more than 10 tables results in segfault"
Whenever I try to cmorize a set of variables that require more than 10 (CMOR_MAX_TABLES) tables to be loaded, the application ungracefully crashes with a segmentation error. There should be a check in cmor_tables.c line 547 to make sure cmor_ntables does not exceed the array bounds. Apart from that, I was wondering why the limit is set so low, as the number of cmip6 tables is a multiple of this. M

[2017-04-04 11:57] Funkensieper opened #153 "cmor.close() does not work on NAS drive"
I'm having trouble deleting the cmor output directory if it is located on a NAS drive. Although I'm calling cmor.close(), a file handle remains open which prevents the directory from being deleted. Here is a minimal example:

    import cmor
    import numpy as np
    import shutil

    cmor.setup(netcdf_file_action=cmor.CMOR_REPLACE)
    cmor.dataset_json('Tables/user_input.json')
    cmor.load_t

[2017-04-04 23:44] durack1 opened #154 "Rogue values being written"
Here is another example where rogue values are being written by `CMOR 2.5.7`:
[code]
And the file can be found at /cmip5_css02/scratch/cmip5/output1/MOHC/HadGEM2-ES/piControl/mon/atmos/Amon/r1i1p1/v20120307/wap/wap_Amon_HadGEM2-ES_piControl_r1i1p1_217312-219811.nc
And an `ncdump -c` output for the whole header:
[css02-MOHC-HadGEM2-ES-piControl-mon-atmos-Amon-r1i1p1-v20120307-wap_Amon_HadGEM2-ES_pi

[2017-04-05 09:11] Funkensieper commented on #151
Sorry, my bad. Using variable ``clisccp`` from table ``CF_Amon`` (with the expected coordinate values and bounds) works just fine. I must have broken something when editing the CMIP tables.

[2017-04-05 09:11] #151 closed

[2017-04-05 17:20] dnadeau4 commented on #153
We do call nc_close on every files that are opened, except when CMOR crash, I think the `temporary` file is not closed properly.

Do you know what is the `./.nfs*` file doing?

Can you try this command to find which `netcdf` files are opened?
[code]

Here code from CMOR closing all files.
[code]

[2017-04-05 17:36] dnadeau4 commented on #151
@Funkensieper happy to hear about this,  these error message are usually about dimensions.

[2017-04-05 19:28] durack1 commented on #154
@taylor13 this requires your input

[2017-04-05 19:30] durack1 commented on #154
@ehogan, @jkettleb, @dnadeau4 wanted me to point this out to you both. It would be good to trace where things went wrong in the writing of this file and that `CMOR3.2+` has the checks in place to prevent errors in CMIP6

[2017-04-05 20:45] dnadeau4 commented on #152
@goord the first developer of CMOR put the tables on the STACK and not on the HEAP.   Tables are getting very big and you run out of memory.    I never load more than 2 to 3 tables at once to get my variables.    Why do you need that many?

[2017-04-06 00:13] dnadeau4 commented on #138
@cehbrecht I tried with `libnetcdf 4.4.*` and it worked I got `libnetcdf 4.4.1.1-4`.  :smile:
Thanks!

[2017-04-06 07:11] goord commented on #152
We are post-processing and rewriting EC-Earth output to CMIP6 compliant data for the PRIMAVERA project. The data request spans around 25 tables, and I am running CMOR-python in a single program for all of them. I can split up the data request in multiple chunks of <10 tables though.

[2017-04-06 07:36] Funkensieper commented on #153
Here is a nice explanation what ``.nfs`` files are for: https://uisapp2.iu.edu/confluence-prd/x/_YJjBw
The ``lsof`` command does not print anything. If I kill the python script, the ``.nfs`` file is gone as well.

[2017-04-06 17:42] dnadeau4 commented on #152
TravisCI and circleCI only allows 3G on their virtual machine for Continuous Integration.  I am not sure I can load that many tables in one of my tests on their machine.  I think you should split your program in different `realm` for stability.  I can change the code so that there is no segmentation fault, but I should not to re-architect CMOR entirely at this point.

BTW,  I have just finished im

[2017-04-06 17:58] dnadeau4 commented on #153
if `lsof` does not return anything this means that all `netcdf` files are closed.
You might want to try different command to find what files you have opened.
[code]
I put a `pdb.set_trace()` command  in my test just before `cmor.close()` and got this CMOR temporary file.   After `cmor.close()`  it disappeared.
[code]

[2017-04-06 18:22] dnadeau4 commented on #152
Actually I was able to read 30 tables in.  So I will make the changes to read a maximum of 30 tables.  Hopefully that will help you.  I also got rid of the segmentation fault.

[2017-04-06 18:31] #152 closed

[2017-04-06 19:21] goord commented on #152
Great, thanks! Will this change also appear in the anaconda package?

[2017-04-06 19:44] dnadeau4 commented on #152
I used to have a daily update for my branch.  I can re-trigger and let you know when it is ready.

[2017-04-06 20:07] dnadeau4 commented on #152
You can get the latest and greatest.... Note that you will get the nightly development version, so I created a new environment that you need to activate.   This way you don't break your current environment.

`conda create -n nightly -c pcmdi/label/nightly -c conda-forge cmor`
`source activate nightly`

[2017-04-07 13:54] ehogan commented on #129
Would it be possible to reopen this ticket? @jonseddon just discovered an issue when trying to produce `ps` using the `3hr` MIP table, which I believe is related to this ticket. The error message is `Error: You defined variable 'ps' (table 3hr) with axis id 'time1' which is not part of this variable according to your table, it says: ( time latitude longitude )`

[2017-04-07 14:30] ehogan commented on #129
My apologies, please ignore me (it's Friday!); I forgot to tell Jon to use CMOR 3.2.2!

[2017-04-10 13:14] Funkensieper commented on #153
Exactly. The temporary file disappears both from the filesystem and from the list of open files when cmor.close() is called. But simultaneously the .nfs file appears both in the filesystem and in the list of open files. Even after a couple of minutes it is still there, which is why I don't believe the problem is caused by some kind of network lag.

[2017-04-10 14:52] Funkensieper commented on #153
Maybe renaming the file using ``rename( cmor_vars[var_id].current_path, outname );`` leaves the .nfs file, but I can't confirm that in a simple C program. Anyway, I will go for a workaround by deleting the output directory outside the python script. Thanks for your effort!

[2017-04-10 14:52] #153 closed

[2017-04-10 17:36] dnadeau4 commented on #153
@Funkensieper I found out that my tables/json file might not be closed.  The log file seems to be closed properly.  As well I added some fclose() statements in the cmor_validateFilename() function.

Can you check if the you still have ".json" files open?  Are you using a log file?

[2017-04-10 20:06] dnadeau4 commented on #153
I found that my JSON files were not closed properly.  I fixed it for the next version.
Thanks for your help!

[code]

[2017-04-11 07:12] Funkensieper commented on #153
Yes, the .json files are left open as well, but in a different directory. So that's probably not the reason. In which branch did you commit the changes? I would give it a try.

[2017-04-11 11:42] ehogan commented on #97
@dnadeau4 I'm just testing CMOR 3.2.2 and this issue has been reintroduced (the issue was resolved in CMOR 3.2.1), i.e. the `realm` is being used instead of the `modeling_realm`. Is there any chance you could take a look at this?

[2017-04-11 11:58] ehogan opened #155 "standard_name not written to latitude and longitude variables in output netCDF files"
Using CMOR 3.2.2 and version `01.00.06` of the MIP tables, the `standard_name` attribute is no longer written to the latitude and longitude variables in the output netCDF file, even though the `standard_name` attribute exists in the MIP table, see https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_coordinate.json#L781.

[2017-04-11 18:27] durack1 commented on #149
@dnadeau4 it seems this issue has reappeared:
[code]

[2017-04-11 18:42] durack1 commented on #149
@dnadeau4 the issue is the `-c uvcdat`:
[code]

[2017-04-11 18:43] durack1 commented on #149
@dnadeau4 I also wonder about the netcdf library version, it would be good to bump that up for the `3.2.3` release, as `netcdf 4.4.1.1` is now out

[2017-04-11 20:27] durack1 commented on #149
@dnadeau4 ok the way to solve this is to purge the `cmor` files on https://anaconda.org/uvcdat/cmor/files - these were uploaded by @doutriaux1 and should just be purged

[2017-04-11 22:09] dnadeau4 commented on #155
I tested with 3.2.3 and it worked fine.   If you want to install it there is a new release on conda for  each PR i create.  Try:

[code]

I will **try** to release cmor 3.2.3 this week.

[2017-04-11 22:19] dnadeau4 commented on #149
So I deleted the files cmor 3.1.3 and moved the old ones to pcmdi.  I did changed the label to v2.9 for now on the uvcdat channels just in case some ask for it.

[2017-04-11 22:19] #149 closed

[2017-04-11 22:22] dnadeau4 commented on #148
@durack1  I cannot change the input values from the data providers.  What you see is they did not care enough to round their `lat/lon` values to an appropriate values.  For projections in "meters" it make senses to have such precise `lat/lon` or for land people working on a small area.

[2017-04-11 22:23] dnadeau4 commented on #145
Ok,  I have dones 2,3,4, but not 1 since I don't think I am allow to distribute other people software.

[2017-04-11 22:30] dnadeau4 commented on #97
I did not change anything there....

https://github.com/PCMDI/cmor/blob/master/Src/cmor.c#L2621-L2633
Should take the variable realm first and then the table realm.

 (I think the second table `vars` should be indexed with `var_id` not `nVarRefTblID`).
Can you send me your variable and table as an example?

[2017-04-11 23:02] durack1 commented on #148
@dnadeau4 I never wanted you to change values, just throw a warning for such cases.. It's best to not let these kind of errors propagate without notifying the user

[2017-04-11 23:08] durack1 commented on #149
@dnadeau4 this should be ok then.. I think this should resolve my issue, although if folks reference `-c uvcdat` they will not get `CMOR3`..

[2017-04-12 10:08] Funkensieper opened #156 "Add cmor.set_deflate to online API documentation"
Maybe adding ``cmor.set_deflate`` to the online API documentation (https://cmor.llnl.gov/mydoc_cmor3_api/) will make users more aware of that option?

[2017-04-12 15:00] ehogan commented on #97
I'm so sorry @dnadeau4, I got myself confused (again!) :( Everything is working fine, please ignore me :)

[2017-04-12 15:00] #97 closed

[2017-04-12 19:00] taylor13 commented on #154
@ehogan, @jkettleb, @dnadeau4  When CMOR writes several time samples at once (rather than one by one) I think it checks for monotonicity and checks that the spacing between time-samples is correct (to within a few percent).  Thus, in the above sample, the first time-slice at least was written separately from the others, so the check couldn't be performed.
We could include a check that would trap t

[2017-04-12 19:00] taylor13 commented on #154
I think this ticket can probably be closed, because enhancements of this sort to PrePARE won't be forgotten.

[2017-04-12 20:08] #154 closed

[2017-04-12 20:40] durack1 commented on #154
@taylor13 @dnadeau4 should this be reopened as an open issue for PrePARE? I really do think catching (or at least warning a user) about such problems is a good idea

[2017-04-12 20:41] dnadeau4 commented on #148
@durack1 how many decimal should I used to trigger a warning?

[2017-04-12 20:44] durack1 commented on #148
@dnadeau4 I think the same number as your previous fix (for cdms), was that 4 (https://github.com/PCMDI/cmor/issues/146)?

[2017-04-12 20:44] dnadeau4 commented on #148
@durack1 your upside-down picture looks like a vcs issue,  the lat/lon are find but they have 80S on the top.  not sure why.

[2017-04-12 20:46] durack1 commented on #148
@dnadeau4 I think specifying another warning would be a good idea, so warning that the left, lower (index 0,0) value is starts at the southern-most bound.. That is uniform across all CMIP5 contributed data APART from this model

[2017-04-12 22:26] dnadeau4 commented on #153
That is in cmor-3.2.3, but I will make a formal release this week.

[2017-04-12 22:27] dnadeau4 commented on #148
@doutriaux1 why vcs did not flip the picture above?

[2017-04-12 22:39] dnadeau4 commented on #156
Done!

[2017-04-12 22:39] #156 closed

[2017-04-12 23:35] dnadeau4 commented on #140
You are not using  [cmor.set_grid_mapping()](https://cmor.llnl.gov/mydoc_cmor3_api/#cmorsetgridmapping) properly.
[SetGridMappingTest.zip](https://github.com/PCMDI/cmor/files/918143/SetGridMappingTest.zip)

[code]

[2017-04-13 00:46] dnadeau4 commented on #73
I fixed it, it was the `rename` warning that was not print.

[code]

[2017-04-13 14:08] doutriaux1 commented on #140
@dnadeau4 @JimBiardCics can we close this then?

[2017-04-13 17:25] dnadeau4 commented on #140
@JimBiardCics should close it.

[2017-04-13 18:58] taylor13 commented on #148
@dnadeau4 @durack1 Note that the first file above was *not* written my CMOR.  CMOR would have trapped this error (both then and now.)  PrePARE, on the other hand isn't yet checking the order of coordinates, so wouldn't notice this problem.

I don't know why VCS isn't smart enough to put the S. Pole at the bottom of the plot.

I don't think there is anything we need to do now as far as modifying CM

[2017-04-13 21:35] dnadeau4 commented on #142
in CMOR3.2.3 you will be able to `import` PrePARE this way.
[code]

Here is how to run it.
[code]

[2017-04-13 21:37] dnadeau4 commented on #143
@cehbrecht I looked at the code and might be able to create a plugin like Glider DAC did.  No promise  thougj. :smirk:

[2017-04-14 11:59] jkettleb commented on #154
Its very hard for us to say why we have these rogue values in the file.  If you look at the full ncdump output that @durack1 [links to](https://github.com/PCMDI/cmor/files/894790/css02-MOHC-HadGEM2-ES-piControl-mon-atmos-Amon-r1i1p1-v20120307-wap_Amon_HadGEM2-ES_piControl_r1i1p1_217312-219811.txt) you can see that is not just the time that has a funny value, but also the plev and lats and lons.  @

[2017-04-14 15:48] durack1 commented on #154
@jkettleb thanks for looking, we are hoping that at the very least a user will get a warning when such issues are encountered. It would be great to determine what caused this output, and determine a fix that will prevent this occurring in the future

From memory this is not a single isolated incident as you note, we have uncovered a number of unusual inconsistencies with the CMIP5 MOHC contributed

[2017-04-14 15:54] durack1 opened #157 "SImon table issue - doesn't contain cell_measures"
@dnadeau4 updating the `input4MIPs` data today I encountered the following problem:
[code]
The variable in the table is:
[code]
Any tips for me here?

[2017-04-14 22:10] durack1 commented on #157
@dnadeau4 @taylor13 it seems this issue is related to a change upstream in [PCMDI/cmip6-cmor-tables#0ad7689](https://github.com/PCMDI/cmip6-cmor-tables/commit/0ad7689eec872228cd23ed33aa85c5e6349bc7ba), with the `01.00.06` update (PCMDI/cmip6-cmor-tables#50) `cell_methods` went from:
[code]
This seems to be a weird hybrid of the `cell_methods` and `cell_measures` and a clear error in the table upda

[2017-04-15 02:04] durack1 opened #158 "Deflation output changes v3.1.2 vs v3.2.2 - 3.2.2 no longer deflates coords"
I've just seen the `areacello` file increase from 41.4Kb (3.1.2) to 62.3Kb (3.2.2) with no change in the arguments given to `cmor.set_deflate(varid,1,1,1)`.

The ncdump output of the v3.1.2 file (41.4Kb):
[areacello_input4MIPs_SSTsAndSeaIce_CMIP_PCMDI-AMIP-1-1-1_gn-CMOR312.txt](https://github.com/PCMDI/cmor/files/923227/areacello_input4MIPs_SSTsAndSeaIce_CMIP_PCMDI-AMIP-1-1-1_gn-CMOR312.txt)
[code

[2017-04-16 22:56] durack1 commented on #158
@dnadeau4 ok so the [`superblockVersion` change is just due to a `netcdf 4.4.1+` update](https://github.com/Unidata/netcdf-c/releases/tag/v4.4.1), so the difference here is that the coords are no longer being compressed, when in `cmor 3.1.2` they were.. We're also [up-to-date with `libnetcdf 4.4.1.1` on conda-forge](https://anaconda.org/conda-forge/libnetcdf/files), so it's a `cmor`-specific issue

[2017-04-18 15:46] JimBiardCics commented on #140
Per the API documentation in pywrapper.py:

[code]
It says that parameter_names can be a dictionary rather than doing the separate names, values, and units lists. I'm just using the API as it is advertised.

[2017-04-18 18:08] dnadeau4 commented on #158
I change this code to not compress/chunk by default.    Only the `var_id` will be compressed.  There is no way to compress coordinate variables at this time,  only the variable.  I could create a cmor_get_varid that you could then pass to the the cmor_set_var_chunking function if needed.

[2017-04-18 18:11] dnadeau4 commented on #140
@JimBiardCics thanks,  I can see the python wrapper code.   I'll fix it, before release 3.2.3

[2017-04-18 18:21] durack1 commented on #158
@dnadeau4 did you expect the behavior to change? It seems from the ncdump output above, `3.1.2` WAS compressing coords, whereas that's no longer the case in `3.2.2`

[2017-04-18 18:38] taylor13 commented on #157
Denis and I talked about this.  I'm not sure how siconcbcs gets into table SImon since it is not a CMIP6 output variable and its not included in Martin's "data request".  The variable entry is wrong.  Does Denis create this variable and put it into SImon?

[2017-04-18 18:40] durack1 commented on #157
@taylor13 apologies.. I close the `siconc` variable and then update this for the boundary conditions and call the updated variable `siconcbcs` - which is a sea ice analogue to `tos` and `tosbcs` - so it's a problem with `siconc` as the links above show

[2017-04-18 18:54] durack1 commented on #157
@taylor13 @dnadeau4 to be clear, the identical error would appear with the dataRequest version of `siconc` when the code got to that variable, it's just `siconcbcs` was processed first

[2017-04-18 20:08] taylor13 commented on #157
Unless we include areacella in the file along with siconcbcs, then "cell_measures" should not appear as part of the variable entry.  The cell_methods should be:

cell_methods: area: mean time: point

And be sure that "time2" doesn't have bounds.

[2017-04-18 20:08] dnadeau4 commented on #140
Fixed:
https://github.com/PCMDI/cmor/pull/159

[2017-04-18 20:08] #140 closed

[2017-04-18 20:12] dnadeau4 commented on #157
@taylor13 , I don't check if the variables are linked to an experiment anymore for consistency with Martin's tables.  This mean that some variables might be in the tables, but never used for `CMIP6`.

[2017-04-18 20:13] dnadeau4 commented on #158
This was a request from UK.  They were not happy with the chunking setup in CMOR.   Deflation/chunking are set in the same function.

[2017-04-18 20:14] dnadeau4 commented on #158
https://github.com/PCMDI/cmor/issues/137

[2017-04-18 20:16] durack1 commented on #158
@ehogan @jkettleb did you guys want this different behavior regarding coord deflation? It seems like an inconsistency to me.. I would prefer that deflation returns to the same behavior that was in `3.1.2` as noted above

[2017-04-18 20:17] durack1 commented on #157
@dnadeau4 @taylor13 this is something that I think the three of us are going to have to stare at a screen and try and decipher.. @dnadeau4 I recreated the CMOR input json files for input4MIPs, and had to change some of the variable entries (pulled from cmip6-cmor-tables) to make CMOR work for me.. That doesn't seem like something any other user should have to do

[2017-04-18 23:11] durack1 commented on #138
@dnadeau4 I'm getting the same error:
[code]
The environment already has a `uvcdat` install using `conda create -n cdatcmorNnclnco -c conda-forge -c uvcdat uvcdat`. It'd be good not to force the downgrade, the netcdf update fixed a couple of things

[2017-04-19 00:45] durack1 commented on #157
@dnadeau4 it appears that I managed to get all tangled up with this, and now have things working more cleanly with `CMOR 3.2.2`. If you wanted to see what the files that I am using look like, take a peek at https://github.com/PCMDI/input4MIPs-cmor-tables and https://github.com/PCMDI/amipbcs/tree/master/CMOR.

There is no longer an issue (if there ever was), so am closing this

[2017-04-19 00:45] #157 closed

[2017-04-19 22:04] dnadeau4 commented on #138
fixed in cmor 3.2.3

[2017-04-19 22:04] #138 closed

[2017-04-19 22:04] dnadeau4 commented on #37
autopep8 was done on tests,  I am working slowly on the C code.

[2017-04-19 22:06] dnadeau4 commented on #43
@BeatriceCNRM Beatrice Feel free to re-open if this is still an issue.

[2017-04-19 22:06] #43 closed

[2017-04-19 22:07] dnadeau4 commented on #73
Fixed in CMOR 3.2.3

[2017-04-19 22:07] #73 closed

[2017-04-19 22:09] dnadeau4 commented on #80
@durack1  Is this still needed?
- [ ] Add  standard_name ocean_s_coordinate_g1 [Check]
- [ ] Add  standard_name ocean_s_coordinate_g2 [Check]

[2017-04-19 22:11] dnadeau4 commented on #128
@durack1 Do you want to create a conda package for CMIP6 tables?

[2017-04-19 22:12] dnadeau4 commented on #142
This has been fixed in CMOR 3.2.3

[2017-04-19 22:12] #142 closed

[2017-04-19 22:13] dnadeau4 commented on #143
I have looked into this and @taylor13 will tell me if he wants an plugin for CMIP6 into https://github.com/ioos/compliance-checker/blob/master/README.md

[2017-04-19 22:14] #145 closed

[2017-04-19 22:16] dnadeau4 commented on #147
This is a data provider problem.  Not sure how to proceed.

[2017-04-19 22:17] dnadeau4 commented on #148
This is a VCS problem

[2017-04-19 22:17] durack1 commented on #80
@dnadeau4 I believe this is now redundant with [WCRP-CMIP/CMIP6_CVs](https://github.com/WCRP-CMIP/CMIP6_CVs) so it's good to close

[2017-04-19 22:18] durack1 commented on #128
@dnadeau4 let's push this off to the next release, as there are still issues upstream I don't think automating this now is a good use of time

[2017-04-19 22:20] durack1 commented on #147
@dnadeau4 let's reopen this and consider the idea of issuing a warning to a user indicating these values are unusual.. I'll move to `3.2.4`

[2017-04-19 22:20] #80 closed

[2017-04-19 22:23] durack1 commented on #148
@dnadeau4 the issue is that `CMOR 2.7.1` allowed the invalid grid to be written to a file [see above](https://github.com/PCMDI/cmor/issues/148#issue-217397601), I'll set it for the next milestone - I wanted to make sure that such issues were caught in `CMOR 3.2.3+` and such invalid grids are not generated by CMOR

[2017-04-19 23:01] sashakames commented on #142
Thanks.  Looking forward to the pushed update (still on the pcmdi channel?)

On Wed, Apr 19, 2017 at 3:12 PM, Denis Nadeau <notifications@github.com>
wrote:

[2017-04-19 23:13] dnadeau4 commented on #142
Yep,  I just updated the channel.  I will send the notification before the end of the day.

[2017-04-20 00:17] #136 closed

[2017-04-20 00:17] dnadeau4 opened #160 "Tag CMOR 3.2.4"
- [x] Change configure.ac to `3.2.4` and rerun `autoconf`.
- [x] verify that optimization is disable from setup.py.in.
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [x] #80 issue
- [x] Validate version info is correctly written (CMOR version should be `3.2.4`)
- [x] Validate data_specs_version written ([`01.00.11`](https://www.earthsystemc

[2017-04-20 00:33] dnadeau4 commented on #147
@durack1 give me some kind of algorithm on how to do this...  Here is a valid projection as an example.  https://www.dropbox.com/s/ugzw3ctjth14vab/orog_GIS_LGGE_ELMER2_asmb.nc?dl=0

How can we make the warning valid in every cases.

[2017-04-20 08:47] jypeter commented on #138
Thanks! I have now installed it successfully in 2.8.0 (but not used/tested it)

[2017-04-20 12:39] cehbrecht commented on #143
@dnadeau4
would be nice to have compliance-checker plugin :) By this we would have a common way to use and also to implement all these checking tools.

[2017-04-20 14:42] durack1 commented on #136
@dnadeau4 you forgot to tag `CMIP6_CVs` - I have just done this https://github.com/WCRP-CMIP/CMIP6_CVs/releases/tag/3.2.3

[2017-04-20 16:07] durack1 commented on #138
@dnadeau4 I can also confirm that it is fixed in `3.2.3`

[2017-04-20 17:15] dnadeau4 commented on #136
Thanks!  I saw 3 repo and thought I have done it.  I guess I need to add "cmor" repo in there.

[2017-04-20 17:56] durack1 commented on #148
@dnadeau4 for the [top problem, all `lats` are identical]:
[code]
So that's a simple problem

[2017-04-20 20:38] dnadeau4 opened #161 "license issue"
From: kwok-wai.lo@nasa.gov

[code]

[2017-04-20 20:38] dnadeau4 commented on #161
Actually the issue is the license that has been changed.  Try something like this:

https://github.com/PCMDI/cmor/blob/master/Test/common_user_input.json#L74

    CMIP6 model data produced by Lawrence Livermore PCMDI is licensed under a Creative Commons Attribution ShareAlike 4.0 International License (https://creativecommons.org/licenses). Consult https://pcmdi.llnl.gov/CMIP6/TermsOfUse for terms

[2017-04-20 20:39] dnadeau4 commented on #161
You need to update your `common_user_input.json`.

[2017-04-20 20:50] #161 closed

[2017-04-21 09:31] martinjuckes opened #162 "UGRID grid specification"
I'm planning to add a request for a variable "ugrid" which will contain UGRID information about any unstructured grids (we expect data from at least one model with an unstructured ocean grid).
My understanding is that CMOR can handle data variables on unstructured grids following the CF convention, but does not provide the full specification of the grid as defined in the UGRID convention. So a sep

[2017-04-21 11:59] cehbrecht opened #163 "PrePARE 3.2.3: exception "no attribute variable_id""
i've tried ``PrePARE`` from the new cmor release 3.2.3 with a test file (cordex, cmip5) and got this exception:

[code]

This worked in the previous version.

[2017-04-21 17:12] dnadeau4 commented on #162
@martinjuckes CMOR tables have the Conventions attribute written in their header.  You can redefine them.
.i.e
https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_AERhr.json#L14

 I make sure it match this regular expression in PrePARE.  `CF-1.7 CMIP-6.0` or `CF-1.7 CMIP-6.0 UGRID-1.0`.

**REGEX**
* ^CF-1.7 CMIP-6.0\\( UGRID-1.0\\)\\{0,\\}
https://github.com/PCMDI/cmip6-cmor-tables/blob/mas

[2017-04-21 17:17] dnadeau4 commented on #163
@cehbrecht `PrePARE` messages could be better I agree.  You can try to pass the `--variable` option and see what happens.  I never try to any other file than CMIP6.  You will have a lot of message on the screen similar to a compiler.  :smirk:
[code]

[2017-04-21 17:20] dnadeau4 commented on #155
@ehogan is this working for you with 3.2.3?

[2017-04-21 17:22] dnadeau4 commented on #148
@taylor13 PrePARE was meant to be for metadata not data.  This is beyond PrePARE scope in my opinion.

[2017-04-21 17:34] durack1 commented on #148
@dnadeau4 for the second one, the `lat` ***should be stored*** smallest (southern negative value) to largest (northern positive value), if the order is not this way an error could be thrown..

[2017-04-21 17:44] taylor13 commented on #148
@durack1   All versions of CMOR would trap (and I think correct) this error.  PrePARE is currently checking file-level metadata (not variable or dimension stuff).  There are lots of additional things for PrePARE to check, but for now we need to make sure it is working flawlessly on the things it checks.

[2017-04-21 17:51] durack1 commented on #148
@taylor13 if you look at the [`global_atts` for the first file](https://github.com/PCMDI/cmor/issues/148#issue-217397601), it indicates that `:cmor_version = "2.7.1"` was used to write the file.. Admittedly this is not `CMOR3`, but I am curious if a test in `2.7.1` which appears to not have worked is now functioning correctly..

[2017-04-21 18:17] dnadeau4 commented on #161
Kowk-Wai,

I think when you use a double square bracket, this way, the license is not validate and point to NULL.
Make sure that you have the latest CMIP6_CV.json and that you have changed your license to match the regular expression.

This license will be shown in every file doing a “ncdump –h”.   PCMDI spent a lot of time writing it,

Here is mine and it passes the validator:

"license":

[2017-04-21 18:30] taylor13 commented on #148
Presence of "cmor_version="2.7.1" doesn't guarantee use of CMOR.  That being said, perhaps we should check that the code checks monotonicity by requiring a coord. value to be ">" and not just ">=" the previous coord. value.

[2017-04-21 18:43] dnadeau4 commented on #148
CMOR check if every axis it creates is monotonic.
https://github.com/PCMDI/cmor/blob/master/Src/cmor_axes.c#L1363-L1364

[2017-04-21 19:15] taylor13 commented on #148
Reviewing Charle's code, I see in line 737:
if( ( ( values[i] - values[i + 1] ) / ( values[i + 1] - values[i + 2] ) ) <  0. )

This leads to a divide by zero if consecutive values are equal.  Could this explain why the error in the output file wasn't caught?  One fix would be to replace "/" with "*"  (multiply instead of divide) and replace "<" with "<=".

Also, will there be a problem if the leng

[2017-04-21 19:27] durack1 commented on #158
@dnadeau4 digging a little deeper, it seems that the `3.1.2` to `3.2.3` change has bloated the larger file sizes considerably (both `tos*` variables) but also reduced some file sizes by 30%!! (`siconc`):
**3.1.2**
[code]
**3.2.3**
[code]

[2017-04-26 23:44] dnadeau4 commented on #12
https://github.com/PCMDI/pcmdi_metrics/pull/477

[2017-04-26 23:59] durack1 commented on #12
This is more directly relevant [this code block](https://github.com/jservonnat/pcmdi_metrics/blob/9b0814c9dc9ab5d8b0c6091208e82456e333bec9/src/python/pcmdi/scripts/pcmdi_metrics_driver_OceanLevels.py#L20-L35)
[code]

[2017-04-27 17:45] taylor13 opened #164 "chunking time coordinate"
It appears that CMOR compresses the time coordinate (but not other coordinates).  Since users might write one time sample at a time, we should check that the chunks are not wasting a lot of space (since the chunk size for each write of the coordinate value is in only 1 double precision variable).  If a full chunk (of say 512 bytes) is written, that's a lot of wasted space.

This is not particularl

[2017-04-27 17:49] durack1 commented on #164
@dnadeau4 this is linked to the same deflation issue #158 - a resolution will solve both of these issues, both with time and lat/lon/depth/height coordinate deflation (and chunking)

[2017-04-27 19:38] taylor13 commented on #158
@durack1    I think the change in temperature units from kelvin to degC explains the "bloating" of the SST files.  The kelvin numbers like 27x.xxx, 28x.xxxx, 29x.xxxx have more digits in common than their degC counterparts (e.g., all numbers start with 2, whereas the degC numbers don't all have a common digit).

I can't explain why the sea ice concentration files have gotten smaller.  I think @dna

[2017-04-27 19:56] durack1 commented on #158
@taylor13 @dnadeau4 here is the `siconc` output to compare. I think you might be onto something with the difference

3.2.3: `time:_ChunkSizes = 512 ;` and 3.1.2: `time:_ChunkSizes = 524288 ;`.

The ncdump output of the v3.1.2 file (45Mb):
[siconc_input4MIPs_SSTsAndSeaIce_CMIP_PCMDI-AMIP-1-1-1_gn_187001-201606.txt](https://github.com/PCMDI/cmor/files/962765/siconc_input4MIPs_SSTsAndSeaIce_CMIP_PCMD

[2017-05-03 11:34] ehogan commented on #158
@durack1 apologies for the delay in my reply; I returned to the office yesterday after 2 weeks of leave :)

The original issue I submitted about the chunking is #130. The chunking was introduced in CMOR 3.1.3 and reverted in CMOR 3.2.2. I confirmed the data I was using for testing behaved in the same way for CMOR 3.2.2 as it did in CMOR 3.1.2.

Is the deflation issue not related to the fact that t