[2017-12-05 09:09] matthew-mizielinski commented on #273
Just to confirm the issue that @piotrflorek has raised; the latitude, longitude variables for variables processed by CMOR on our ocean grid (tripolar) are of the form

        float latitude(j, i) ;
                latitude:standard_name = "latitude" ;
                latitude:units = "degrees_north" ;
                latitude:missing_value = 1.e+20f ;
                latitude:_FillValue = 1.e+20f

[2017-12-05 17:55] dnadeau4 commented on #273
I can change the `standard name` for these 2 grid variables.  Any idea what they should be set too?  I guess the name `vertices_lattitude` was just copied in the standard name.

[2017-12-06 18:04] taylor13 commented on #273
I'm not sure how the CMIP6_grids.json file got generated.  In CMIP5 the standard_name attribute was *not* included for "vertices_latitude" and "vertices_longitude" in the Tables_CMIP5_grids file, and I presume It wasn't included in the output files either.  This is what we want also for CMIP6.  As noted above the bounds (and vertices) for coordinate variables do not need (and in this case shouldn'

[2017-12-06 22:52] dnadeau4 commented on #273
No it will not,  I can just remove them from the tables.

[2017-12-12 19:38] taylor13 commented on #271
Here's a letter I just sent to the WIP:

[code]

[2017-12-12 21:47] dnadeau4 commented on #263
@ehogan I fixed the memory issue.  It was a big array that was not dynamically allocated and now the CV has about 3000 objects.     The tables are loaded only once,  CMOR/PrePARE verify that they are already loaded.

CV is loaded with each table, I could make a pointer instead to the first Table CV since they are always the same.   I'll look into it tomorrow

https://github.com/PCMDI/cmor/commit/9

[2017-12-13 00:57] durack1 commented on #263
@dnadeau4 nice! This change is now in the nightly conda build right?

[2017-12-13 17:42] dnadeau4 commented on #263
Yes it is.  [CMOR-PrePARE](https://anaconda.org/PCMDI/cmor/files)

[2017-12-13 22:09] dnadeau4 commented on #273
Fix in 3.3.0

[2017-12-13 22:09] #273 closed

[2017-12-13 22:15] dnadeau4 commented on #268
@jypeter I will update the installation,  that was written 2 years ago and `PrePARE` did not exist at the time. Actually PrePARE does not use `CMDS2` anymore, but `Cdunif` direclty in version `3.3.0` which increased the speed a lot.

I might get rid of the *Github* steps, I don't think people are using them.

[2017-12-13 22:19] dnadeau4 commented on #250
@aradhakrishnanGFDL  After discussion, PrePARE (PRE-Publication Attribute Reviewer) was only build for attributes to assert that the file is found by the ESGF search engine.   If the data has not been correctly produce, it is not PrePARE task to find this out.

PrePARE only works on attributes.
CMOR works on data.

[2017-12-13 22:19] #250 closed

[2017-12-13 22:20] dnadeau4 commented on #245
Pushing to 3.3.1, cannot be fix in 3.3.0 release time frame.

[2017-12-13 22:23] dnadeau4 commented on #272
I will try to make the dependency to `libnetcdf 4.4.*` and delete `hdf5 1.8.18`.  Let see if this work.

[2017-12-13 22:25] dnadeau4 commented on #263
@ehogan let me know if the work for you in 3.3.0.  I will close this and feel free to re-open.

[2017-12-13 22:26] dnadeau4 commented on #246
@taylor13 Can you follow up on this?

[2017-12-13 22:39] goord commented on #272
Hi, we finally managed to compile an anaconda stack without conflicts, but nevertheless I think it's a good idea to try to have such a flexible dependency tree.

[2017-12-14 07:35] mpmoine commented on #271
@taylor13 @dnadeau4

Good point! 👍

Many thanks for advocating for this change and for its implementation in PrePARE.

Marie-Pierre.

[2017-12-15 17:58] ehogan commented on #263
Thanks @dnadeau4; I ran the following commands:

[code]
and got:

![memory_usage_cmor3 3 0](https://user-images.githubusercontent.com/918142/34053788-12d9fc22-e1c0-11e7-9718-c88f536b786e.png)

where the usage of the `cmor.setup` call is between ~0.30-0.37 seconds, the usage of the two `cmor.load_table` calls is between ~0.37-0.47 seconds (much quicker!), and the usage of the generation of the data

[2017-12-15 18:42] taylor13 commented on #263
@ehogan  Do you think there is any significance to the difference in time spent generating the data?  If I understand your plots, previously it took 1.8 sec; now it take 2 sec.

@dnadeau4 The reduction in memory by about 1 GB is impressive.

I agree that when calling cmor_close you would expect to release memory not increase it.  Would be nice to fix this (@dnadeau4 )

[2017-12-16 01:15] durack1 commented on #263
@ehogan could you drop the `example.py` file inline here (you may have to add a `*.txt` extension), so we can test locally and pull it into the test suite?

[2017-12-18 18:56] durack1 commented on #263
@ehogan we're reopening this, just to make sure that we've pushed the software as hard as we can. Please send through the demo `example.py` so we can start working on the exact problem that you're encountering

[2017-12-18 18:59] durack1 commented on #272
@goord this issue seems resolved and so I will close. If you continue to have issues, please reopen and provide additional info for us to track down

[2017-12-18 18:59] #272 closed

[2017-12-19 15:49] ehogan commented on #263
@durack1, `example.py` contains:

[code]

Then run the commands in [this comment](https://github.com/PCMDI/cmor/issues/263#issuecomment-352071137) to reproduce the plot :)

[2017-12-19 16:12] ehogan commented on #263
@taylor13, I just restarted my desktop and recreated the first plot; the data were loaded in ~1.6 seconds, so I don't think there is any significance in the difference in time spent generated the data (only that my desktop was trying to do a lot of stuff when I ran the tests last week!) :)

[2017-12-19 17:51] dnadeau4 commented on #263
@ehogan thanks,  I will look at it tomorrow.

`cmor_setup` only open the log file and initializes all arrays.  It does create a new unit called "PSU" using `udunits2`.  `udunits2` has internal memory leak of some `bytes`.  I freed everything I could, and told them about it.  https://github.com/PCMDI/cmor/blob/master/Src/cmor.c#L729

`cmor_close` should not allocate memory either.  It cleans up the

[2017-12-21 02:05] dnadeau4 commented on #263
@ehogan I run your example.py above  with mprof and got 500Mb in memory just for the arrays.
I looked at the arrays in  and everything is `static` from CMOR2.   I would have to re-architecture CMOR to make this dynamic...  So cmor uses 500Mb just to start.

https://github.com/PCMDI/cmor/blob/master/include/cmor.h#L484

![figure_1](https://user-images.githubusercontent.com/6933634/34236747-cd73dc24

[2017-12-21 02:22] dnadeau4 commented on #263
@ehogan I also tried this program with the same results.

[code]

[2017-12-21 02:25] dnadeau4 commented on #263
When loading 3 tables.  (Emon, Amon and Omon)

![figure_1-1](https://user-images.githubusercontent.com/6933634/34237729-134bc784-e5b3-11e7-87ad-70723d6bb522.png)

[2017-12-21 18:49] durack1 commented on #263
@dnadeau4 @ehogan what's the difference between the 1.2Gb for Emma's example and the 0.5Gb for your example above, there are big differences here. I also wonder how much time you would estimate (x2) that re-architecting CMOR for dynamic (rather than static) memory allocation would require?

[2017-12-22 13:35] ehogan commented on #263
That's really weird that you don't see the second jump that I see when `cmor.close()` is executed, especially given that we're using the same Conda environment. Why is that?

The plots @dnadeau4 has posted should be compared with my plot in [this comment](https://github.com/PCMDI/cmor/issues/263#issuecomment-342495950); there's a jump of ~250 MiB in my plot that doesn't appear in @dnadeau4 plots.

[2018-01-02 10:44] senesis opened #277 "A number of issues when installing using build.sh ( + solutions )"
When trying to install version 3.3.0 using build.sh :

  - hdf5 location is not working. Should use `wget https://support.hdfgroup.org/ftp/HDF5/prev-releases/hdf5-1.8/hdf5-1.8.17/src/hdf5-1.8.17.tar`

 - udunits version 2.2.20 is no more available on line, should use `wget ftp://ftp.unidata.ucar.edu/pub/udunits/udunits-2.2.24.tar.gz`

  - the CMOR version git checkout command has a typo, it should

[2018-01-02 13:26] senesis opened #278 "PrePARE doesn't work in version 3.3.0 : cdms2.Cdunif is missing"
Once build.sh for CMOR 3.3.0 is fixed as stated #277 , I end up with the following problems when using PrePARE :

script PrePare.py includes a line
   `sys.path.insert(0,sys.prefix+"/lib/python2.7/site-packages/cdms2")`
which does not match the set of libraries which is installed using build.sh

It also includes an :
   `import Cdunif`
which, as far as I understand, should be satisfied by CDMS, wh

[2018-01-02 17:04] doutriaux1 commented on #278
can prepare even work without cdms2?

[2018-01-02 17:16] senesis commented on #278
Reading again the release notes , I discover :

but there is no guideline for building this library, and I am not sure whether the code lines quoted above are to be kept for such a 'direct library call'

[2018-01-02 17:51] doutriaux1 commented on #278
this means that it's calling the guts of cdms2 (cdunif) directly, w/o the extra bell and whistles, but it's still part of cdms2.

[2018-01-02 17:51] doutriaux1 commented on #278
@dnadeau4 I guess you need to make cdms2 a dependency for prepare.

[2018-01-03 17:56] dnadeau4 commented on #278
@doutriaux1 Sebastian is not using anaconda.

[2018-01-03 21:25] dnadeau4 commented on #278
You need to follow the script found in the conda-recipe to build cdms2.  That is the easiest way.
* CDMS2
  * [dependencies](https://github.com/UV-CDAT/conda-recipes/blob/master/libcdms/meta.yaml.in)
  * [build](https://github.com/UV-CDAT/conda-recipes/blob/master/libcdms/meta.yaml.in)

Each dependency build can be found in the following directory.
* https://github.com/UV-CDAT/conda-recipes

[2018-01-03 21:33] dnadeau4 commented on #278
We usually use `conda build` for each recipe.  `conda build libcdms` or `conda build libcf` and so on.    conda build takes care of the dependencies and run the build script for us.  If a dependency is missing, we just build it from the recipe and `conda` finds the tarball locally.

That saves a lot of time.

You can also get the precompile `tarball` from the `anaconda cloud` and install it in you

[2018-01-03 23:52] dnadeau4 commented on #277
- [ ]  hdf5 location is not working. Should use `wget https://support.hdfgroup.org/ftp/HDF5/prev-releases/hdf5-1.8/hdf5-1.8.17/src/hdf5-1.8.17.tar`
    - done in cdms3_documentation (installation branch)

- [ ] udunits version 2.2.20 is no more available on line, should use `wget ftp://ftp.unidata.ucar.edu/pub/udunits/udunits-2.2.24.tar.gz`
    - done in cdms3_documentation (installation branch)

[2018-01-04 00:01] taylor13 opened #279 "change geo_region to "sector" (or "domain"?)"
CMOR3 is currently hardwired to define a variable name "geo_region", which is pointed to by the "coordinates" attribute for all dimensions identified as type "character".  In CMIP6 there are instances of "ocean basin", "lines" (like straits), and surface types (e.g., vegetation).

I think geo_region should be changed to "sector"  (or "domain"?) to provide a somewhat more apt description of surface

[2018-01-04 07:30] senesis commented on #277
The command reads as `git checkout cmor3`

[2018-01-04 07:35] senesis commented on #277
Regarding the configure command for cmor, it reads in build.sh as
`./configure --prefix=$PREFIX --with-python --with-uuid --with-udunits --with-netcdf=$PREFIX/ `
which does not tell configure that libraries uuid and udunits have been installed in dir $PREFIX. So the install do not succeed; just give it a try on a fresh install without any udunits lib around
The other writing works fine :
`./config

[2018-01-04 07:37] senesis commented on #277
I know, but I can't for now.

[2018-01-04 08:01] markcollier opened #282 "Update cmor3 for python3"
Just to mention that I have been able to successfully run cmor3 with a new anaconda installation of software (python=2.7) - I plan to create a python=3.6 version of my cmor3 based software removing packages that only exist in python2*, this means removing dependancies on packages like cdms2 that I think are only python2* currently (some packages are only currently supported in python3 like xesmf t

[2018-01-04 09:04] senesis commented on #278
OK. I moved to conda for installing cdms2 and include that in PrePARE.py:
`sys.path.insert(0,"/home/gmgec/mrgu/senesi/miniconda2/lib/python2.7/site-packages/cdms2")`

I know get a runtime error :
`
  File "/home/gmgec/mrgu/senesi/build/cmor-3.3.0/lib/python2.7/site-packages/CMOR-3.3-py2.7-linux-x86_64.egg/cmip6_cv/PrePARE/PrePARE.py", line 23, in <module>
    import Cdunif
ImportError: /usr/lib64/

[2018-01-04 16:12] doutriaux1 commented on #282
@markcollier we now have all packages (except cmor3 python maybe) available in python3.

try:
Linux:
[code]
Mac:

[code]

Remove packages you don't really need like `vcs sphinx` etc...

[2018-01-04 18:15] taylor13 opened #283 "check climatology files"
frequency = "monC" (and time coordinate entry "time2") or frequency = "3hrCM" (and time coordinate entry "time3" imply that the file contains climatological data.  For these frequencies, a "climatology" attribute should be attached to the time coordinate instead of the "bounds" attribute.  Please check that CMOR3 is doing this correctly.  I am a bit worried by the fact that in the CMIP6_coordinate

[2018-01-04 18:35] dnadeau4 commented on #277
Thanks for your help on fixing all these issues.   The current build scripts I am using for conda can be found here.
https://github.com/PCMDI/cmor/blob/master/recipes/cmor/build.sh

and the dependencies are here:

https://github.com/PCMDI/cmor/blob/master/recipes/cmor/meta.yaml

In your case you will have to compile each one manually.

[2018-01-04 19:16] dnadeau4 commented on #282
@markcollier thanks a lot for you comment!

We have ESMF with Python 3/2 integrated in CDMS, similar to XESMF, but I think CDMS is more powerful and allows regridding in ways that xesmf does not.   I have a lot of tests in the CDMS directory.  In CDMS you can generate your own grid, cartesian or spherical.   You can mask your data.  I have an example where you can regrid the model mask land/ocean

[2018-01-04 19:18] dnadeau4 commented on #282
I am still working on cdms documentation, but here is the draft.
http://cdms.readthedocs.io/en/cdmsdocsmerge/

[2018-01-04 19:23] dnadeau4 commented on #278
@senesis I think that your libgfortran in `/usr/lib64` is older than the one in /home/gmgec/mrgu/senesi/miniconda2/lib/

You might have to set you LD_LIBRARY_PATH or update you libgfortran.so.3 in /usr/lib64

Can you try this commands?
`nm  -D /usr/lib64/libgfortran.so.3 | grep GFORTRAN`
`nm  -D /home/gmgec/mrgu/senesi/miniconda2/lib/libgfortran.so.3 | grep GFORTRAN`

You should get this:
[code]

[2018-01-04 22:33] markcollier commented on #282
I have tried installing cdms2 using conda with python=3.6 but it always wants to downgrade to python=2.7
Is there some way to overcome this, maybe I am looking at wrong documentation? This is why I tried to remove cdms2 from my software.

[2018-01-05 07:32] senesis commented on #278
Adding the conda lib dir in LD_LIBRARY_PATH was useful
I also had to add the conda python packages dir in my PYTHONPATH
I am quite surprised that activating conda did not take care of both settings. Is it normal, or should I look for an issue in my conda install ?
Anyway, thanks

[2018-01-05 08:09] senesis opened #284 "Prepare exit status is not meaningful"
PrePARE actually has exit status = 0 for non compliant files
This is not helpful for automated the QC workflow

[2018-01-08 20:34] dnadeau4 commented on #278
Actually when you activate `conda` your `PATH` should change and `python` will be called from the `env/bin` directory.  `python` knows where the python libraries are due to 'sys.path'.  You should not have to set your `PYTHONPATH` unless it point to a directory outside the `conda environment`.

Normallly all libraries should be under `<yourenv>/lib`.
I have to set `LD_LIBRARY_PATH` when I create m

[2018-01-08 20:34] dnadeau4 commented on #284
What do you call `non compliant` file, you mean when there is an metadata issue?

[2018-01-08 20:48] dnadeau4 commented on #284
Looking at the code, when an `exception` is raised, PrePARE return `non-zero`.  When does this happen to you?

Note that `PrePARE` means (Pre-Publication Attribute Reviewer) following this [document](https://docs.google.com/document/d/1h0r8RZr_f3-8egBMMh7aqLwy3snpD6_MrDz1q8n5XUk/edit).  If the netcdf file  CF-1 compliant, `PrePARE` does not check this. `CMOR` is the other tool we have to validate

[2018-01-08 20:51] dnadeau4 commented on #282
@doutriaux1 do you know why this is happening?   Python 3 was done last September.  Do you have a special channel under `conda` for it?

[2018-01-08 20:55] dnadeau4 commented on #282
@markcollier It seems that cdms with python3 is under the channel `uvcdat/label/nightly`

These are the channels needed. (not nesii is for ESMF python3)
[code]

[2018-01-08 20:57] dnadeau4 commented on #282
The documentations is here.  I am writing a new chapter for ESMF, but the SCRIP one is very similar.
http://cdms.readthedocs.io/en/cdmsdocsmerge/

[2018-01-08 21:05] doutriaux1 commented on #282
@markcollier did you try the command I posted above? They come straight from our test suite.

[2018-01-08 21:27] slavakharin opened #286 "pl700 vs p700"
I am not sure if this is the right place to comment but I noticed two entries in the [CMIP6_coordinate.json](https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_coordinate.json) file for 700 hPa level, `pl700` and `p700`. Is it intentional or just mis-spelling? I see other entries `p###` for various pressure levels but only a single `pl700` entry which suggests that the latter is just a mis

[2018-01-08 23:10] taylor13 commented on #286
I noticed that you also queried Martin about this, which is the right place to post.  I think this issue can be closed here on the CMOR site.  Any changes Martin makes in response will be reflected in updates of the CMOR tables.
thanks for raising this issue.

[2018-01-08 23:19] #286 closed

[2018-01-09 07:33] senesis commented on #284
The exit status of command PrePARE can be zeo in such a (real, but shortened) case :
`
+ cmor-3.3.0//bin/PrePARE ./Tables/CMIP6_Ofx.json ./basin_Ofx_CNRM-CM6-1_1pctCO2_r1i1p1f2_gn.nc
processing:  ./basin_Ofx_CNRM-CM6-1_1pctCO2_r1i1p1f2_gn.nc
...
===========================================================
You file contains "missing_value":"-10000.0" and
CMIP6 tables requires "missing_value":"16384.

[2018-01-09 07:45] senesis commented on #278
OK. My conda-dummy mistake. Sorry

[2018-01-09 14:19] ehogan commented on #263
@dnadeau4 I've just tried again to reproduce this and I now get the same plots as you! So I'll go ahead and close this issue. Thanks again for all your help! :)

[2018-01-09 14:19] #263 closed

[2018-01-10 01:02] markcollier commented on #282
Yes it worked, I modified it to leave our some packages that seemed unnecessary. I could also install xemsf on top of it plus some other packages at environment creation time. I'll keep playing around with it and adding in new packages, but I usually clone the environment for testing to ensure I don't break an installation. Didn't need to explicitly specify cmor as I suspect it is in one of the st

[2018-01-10 14:23] ehogan opened #287 "Problem producing climatological variables"
I am trying to produce `rlut` for `E1hrClimMon`. If `cmor.write` is called with `time_vals` and `time_bnds` set, CMOR fails with `Exception: error time_bnds have gaps between them` (see [_check_time_bounds_contiguous in pywrapper.py](https://github.com/PCMDI/cmor/blob/master/Lib/pywrapper.py#L803)). If I provide the values and bounds for the time coordinate via `cmor.axis` I have no problems.

Wou

[2018-01-10 14:26] ehogan commented on #287
cc @alejandrobodas

[2018-01-10 17:56] dnadeau4 commented on #284
@senesis This is a warning, not a critical error this is why PrePARE returns 0.
@taylor13 @durack1 should PrePARE returns a critical error when missing_value is different.

[2018-01-10 18:40] taylor13 commented on #284
Several comments:
1) the missing_value defined for the integer "basin" data must be type integer (not float or real or double).
2) your data should be integers and should not have any missing values.  Every grid cell should be assigned to one of the basins listed in goo.gl/neswPr .
3)  this variable is a special case requiring both the flag_values and flag_meanings attributes to be defined (attach

[2018-01-10 18:54] taylor13 commented on #287
CMOR and PrePARe need to handle climatological axes differently from regular time axes.  CMOR can infer that an axis is "climatological" whenever frequency = "monC" (and time coordinate entry "time2") or frequency = "3hrCM" (and time coordinate entry "time3").  For these cases CMOR should generate the "climatology" attribute attached to "time" (and omit the "bounds" attribute), which it seems to b

[2018-01-11 07:32] senesis commented on #284
Thanks, the first three points were quite clear for me.

[2018-01-11 08:37] senesis opened #288 "PrePARE (or CMIP6 spec) issue with frequency 1hrCM"
According to https://docs.google.com/document/d/1h0r8RZr_f3-8egBMMh7aqLwy3snpD6_MrDz1q8n5XUk/edit,  and specifically to this sentence

a data file for frequency 1hrCM which has averaged data over a full month (say 197901) should have a date segment in its name such as : `197901010000-197902010000`, and have time bounds which encompass the full month

I used a file which has
double time(time) ;
		t

[2018-01-18 00:26] taylor13 commented on #288
email from @senesis:  I read this morning the CF convention for climatologies, and I realized that this convention is much less obvious/sensible than what I expected, regarding time. Hence, the data file I produced does not comply and the behaviour of PrePare can here be normal and you probably can close the issue

[2018-01-19 11:27] matthew-mizielinski opened #289 "Incorrect setting of "external_variables" global attribute depending on order of processing"
When processing two variables, such as `Omon/thetao` and `Omon/uo`, the order in which they are processed can have an impact on the metadata they are produced with.

For example if `Omon/thetao` is processed before `Omon/uo` the latter will be incorrectly produced with the global attribute `external_variables` set to `areacello volcello`. If `Omon/uo` is processed first this attribute is not set i

[2018-01-19 17:53] taylor13 commented on #289
This is definitely a bug.

[2018-01-22 08:52] senesis opened #290 "Consistency between CMIP6_CV.json and and CMIP6_CV"
At some stage, when using PrePARe 3.3.0, there is some check of active components against the content of file cmor-cmor-3.3.0/Tables/CMIP6_CV.json which is distributed with this version of PrePARe
The "amip" entry of this file reads
[code]
This is not in line with the content of CMIP6_CV at https://github.com/WCRP-CMIP/CMIP6_CVs/blob/master/CMIP6_experiment_id.json, which is also in version CMOR-3

[2018-01-23 09:19] senesis commented on #290
@taylor13 : I assume that only the technical consistency around CMIP6-CV should be discussed here;

nevertheless : we feel there is some ambiguity on what BGC really implies (i.e. whether it should apply only to the case where both biological AND carbon-chemical is included); we would like it to e.g. carry the meaning : "in the land component, the vegetation (and its carbon aspects) is not prescri

[2018-01-23 15:56] durack1 commented on #290
@senesis each of the `source_type` entries for CMIP6 are listed in the CMIP6_CV documents, with the `BGC` entry [here](https://github.com/WCRP-CMIP/CMIP6_CVs/blob/master/CMIP6_source_type.json#L6)

[2018-01-24 10:22] senesis commented on #290
Thanks. It reads :

which still has to be interpreted for the case of an atmosphere+land-only simulation which accounts for that fluxes, but which, by design, lacks any ocean component, be it physical or biogeo one

[2018-01-24 15:18] alaniwi opened #291 "typo in output message"
should be "Your" in https://github.com/PCMDI/cmor/blob/9141a5757f8557719c7ed4a1e4064f508e47a3fd/LibCV/PrePARE/PrePARE.py#L387

[2018-01-24 17:49] taylor13 commented on #290
@senesis  A more complete description of the use of "BGC" is provided in http://goo.gl/v1drZl where it states, in part:
[code]
This description was revised in December 2017, as recorded in the Appendix: https://docs.google.com/document/d/1h0r8RZr_f3-8egBMMh7aqLwy3snpD6_MrDz1q8n5XUk/edit#bookmark=id.gdszdv3dm9pv .

Perhaps we should revise the CV (https://github.com/WCRP-CMIP/CMIP6_CVs/blob/master/

[2018-01-24 18:17] dnadeau4 commented on #291
Thanks!  I fixed it in the PrePARE branch.  It will be in 3.3.1 release.
https://github.com/PCMDI/cmor/blob/PrePARE/LibCV/PrePARE/PrePARE.py#L420

[2018-01-24 22:32] dnadeau4 commented on #289
@matthew-mizielinski looking a the code, I do reset the external_variables metadata between each process.

https://github.com/PCMDI/cmor/blob/master/Src/cmor.c#L2867-L2899

After looking at the table, there is optional `cell_measures` for `uo`

* uo
   * ["cell_measures": "--OPT"](https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_Omon.json#L4378)
* thetao (is fine)
   * ["cell_me

[2018-01-25 09:39] alaniwi commented on #291
Thanks, I'll close this then.

[2018-01-25 09:39] #291 closed

[2018-01-25 18:39] ehogan commented on #289
@dnadeau4, I've produced an example using `ua` and `ta` (from `6hrLev`, where `ua` has ["cell_measures": "--OPT"](https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_6hrLev.json#L124)), and version `01.00.20` of the MIP tables to demonstrate the issue (this example code doesn't do anything special with regards to the `--OPT` value):

[code]

If you run the code above, then check th

[2018-01-25 22:58] durack1 opened #293 "Segfault in cmor.write during source_id validation"
I'm getting a persistent segfault during the `cmor.write` call, with a gdb suggesting the issue is in:
[code]
I've had problems determining where the problem is occurring, so have replicated the setup at:
[code]
Running `runCmorDemo.py` in that directory should reproduce the error, all table files and input files are specified within this python script

[2018-01-25 22:58] durack1 commented on #293
@taylor13 ping

[2018-01-26 11:11] martinjuckes opened #294 "New soil depth dimensions"
There are two variables in the data request which, I think, need new vertical coordinates. They are cSoilAbove1m (the carbon content in the soil above 1m depth) and cSoilBelow1m (the carbon content in soil below 1m depth).

The request currently includes, as in CMIP5, `sdepth` for all soil levels and `sdepth1` for the upper 0.1m.

I propose to add `sdepth1m` for the upper 1m .. which would be a si

[2018-01-29 02:59] markcollier commented on #282
do you expect to have cmor3 in python? I had a some mixed environments and it was working for the wrong reason. I would really like to move to python3 asap.

[2018-01-29 16:28] dnadeau4 commented on #282
@markcollier cmor3 won't be available for python3.  I would have to change all the C AP* and CMIP6 has already started to roll.

[2018-01-29 17:19] durack1 commented on #293
@dnadeau4 if you have `cmor` time today, it'd be great to get to the bottom of this issue

[2018-01-29 17:30] taylor13 commented on #293
one thought is:  Is there a hardwired limit to the size of an array CMOR can write in one call to cmor_write?  I think the file being treated exceeds 2 gigabytes.

Also check that the type of the dimensions is properly defined as "double".

[2018-01-29 17:39] durack1 commented on #293
@taylor13 you're right, the array is very near that 2GB size and is stored as a `float` in the source file, so at `double` precision, will be a fair bit larger than 2GB

[2018-01-31 00:04] markcollier commented on #282
Yes and seems like you don't have a whole lot of coding support, pity the CMIP6 community cannot support a software developer for activities like this. Python2 will not be "supported" beyond 2020 and this will still be an important period of the CMIP6 delivery: https://pythonclock.org/
For me personally CMOR is an important part of the file generation process as the output files are so useful rega

[2018-01-31 00:10] taylor13 commented on #282
Thanks, Mark, for your ongoing interest.  I too believe that by the end of this year it would be good to port CMOR to python 3.  Perhaps this summer we could get a summer student to do this?  Does that seem like a good idea @dnadeau4  ?

[2018-01-31 00:41] dnadeau4 commented on #282
I was thinking of  having`CMOR` with Python 3 for CMIP7.

It should not be too difficult now that we have the experience of `CDMS` to Python 3.  That was never in the plans to have `CMOR` in python 3 for CMIP6.

A summer student seems like a good idea.

[2018-01-31 22:35] taylor13 commented on #246
After discussing with Denis, we agree that your suggested changes would be good (if they don't break any of the tests cases).
thanks.

[2018-01-31 23:43] dnadeau4 commented on #293
https://github.com/PCMDI/cmor/commit/adb14354316637fa228a8c84f9c4342630b261b6

[2018-01-31 23:43] #293 closed

[2018-02-01 01:57] dnadeau4 commented on #289
@ehogan your example was very useful.   I really appreciate your help. 😄

That was hard to solve, since there exist no API to delete a Global Attribute.  You can ovewrite and set it to `'\0'`, but the attribute was still created in the netCDF file with `""`.

 I finally found where to add some code for those special cases.

I added your test  to:
[Test/test_python_CMIP6_CV_externalvariables.py](ht

[2018-02-01 01:57] dnadeau4 commented on #289
I am still working on the PrePARE branch.

[2018-02-01 12:45] ehogan commented on #289
No problem at all! Thanks for solving this :)

[2018-02-01 16:19] ehogan commented on #246
Great, thanks for letting me know :)

[2018-02-02 08:50] glevava opened #296 ""branch_time_*" global attribute seems not to be checked by PrePARE"
During ESGF DC1, IPSL data successfully passed PrePARE with `branch_time_*` attribute as strings.

For instance:
`branch_time_in_parent = "365.0"`

But `cdf2cim` fails to ingest the data during publication because this doesn't follow CMIP6 specifications as `branch_time_*` attribute should be "float".

IPSL should failed PrePARE during publication.

[2018-02-02 15:16] taylor13 commented on #296
Actually, according to http://goo.gl/v1drZl (see footnote 5 after table 1 or see table 3), both of these should be double precision.  Note also that there are some indexes (like realization_index) that must be integers (not strings).  Please check these too.
Also, I think CMOR should allow users to define additional global attributes (not called for by CMIP6), and they should be able to specify wh

[2018-02-02 18:43] dnadeau4 commented on #296
This is @taylor `parent_experiment_id` thing that I program about 2 years ago during the summer of 2016.   The logic is complicated and @taylor13 can explain it to you.   Most of these are set if `parent_experiment_id` is not `no parent`.  I do ensure that `branch_time_*` is set to `double`.

https://github.com/PCMDI/cmor/blob/master/Src/cmor_CV.c#L1054-L1341

[2018-02-02 18:50] dnadeau4 commented on #296
All `branch_time_*` are written as double value by`cmor3`
https://github.com/PCMDI/cmor/blob/master/Src/cmor.c#L3126-L3146

[2018-02-02 20:04] taylor13 commented on #296
That's great.
Can we also get PrePARe to check that the type of these and the index attributes are correct?  Would that be difficult?

[2018-02-03 00:26] dnadeau4 commented on #296
I can hack PrePARE to do that the same way I did for `realization_index` and other `*_index` directly.   No C code necessary for this.

https://github.com/PCMDI/cmor/blob/master/LibCV/PrePARE/PrePARE.py#L323-L350

[2018-02-03 06:34] taylor13 commented on #294
see https://github.com/cmip6dr/CMIP6_DataRequest_VariableDefinitions/issues/293 for further information about this.

[2018-02-03 19:00] durack1 opened #297 "Correctly defining climatological time_bounds"
I'm trying to generate a time axis for a climatological average variable which extends from `1955-01-01` to `2012-12-31`, I have a valid time axis:
[code]
And I have what I thought was a valid time_bounds:
[code]
However I am getting the following error from CMOR3.3.0:
[code]
@dnadeau4 @taylor13 do you have any tips for me?

PCMDI/input4MIPs-cmor-tables#30

[2018-02-03 19:07] durack1 commented on #297
I get the same error if I attempt to set the beginning of the following month as the start and end bounds:
[code]

[2018-02-04 16:10] taylor13 commented on #297
I think there is a bug in CMOR/PrePARe.  See https://github.com/PCMDI/cmor/issues/287 and also check https://github.com/PCMDI/cmor/issues/283.

[2018-02-06 06:22] iaplasg opened #298 "Can't make install cmor3"
make install
r - cmor.o
r - cmor_axes.o
r - cmor_CV.o
r - cmor_variables.o
r - cmor_tables.o
r - cdTimeConv.o
r - cdUtil.o
r - timeConv.o
r - timeArith.o
r - cmor_grids.o
r - cmor_md5.o
r - arraylist.o
r - json_c_version.o
r - json_object_iterator.o
r - json_util.o
r - linkhash.o
r - random_seed.o
r - debug.o
r - json_object.o
r - json_tokener.o
r - libjson.o
r - printbuf.o
r - cmor_cfortran_inter

[2018-02-06 17:41] dnadeau4 commented on #298
You installation directory in configure `--prefix` is the same as your current directory.
Try:
[code]

[2018-02-06 18:41] taylor13 commented on #296
Good to hear.

[2018-02-06 18:43] taylor13 commented on #294
Let's hold off on doing anything until Martin modifies the data request.  I think the CMOR tables will then automatically update.

[2018-02-06 20:51] taylor13 commented on #296
Note, also, the discussion at  #244  .  Does CMOR now correctly maintain the attribute type for both global attributes (like branch_time*) but also varibles (e.g., missing_value, valid_max)?

[2018-02-06 21:18] taylor13 commented on #246
If we implement this change, will we be asking for trouble in connection with the "version" issue https://github.com/PCMDI/cmor/issues/210 and https://github.com/PCMDI/cmor/issues/267 ?  Will discuss this with @dnadeau4  tomorrow, but @ehogan if you have any thing you want to say, please do.

[2018-02-06 23:01] durack1 commented on #278
@senesis I believe this issue should be closed, can you confirm?

[2018-02-06 23:08] durack1 commented on #289
@matthew-mizielinski @ehogan I think we're fixed here, correct? If so, we can close

[2018-02-07 01:26] taylor13 commented on #279
We should also check that CMOR handles correctly the vegtype dimension (where users supply their own list of types).  Need a test code for this.

[2018-02-07 07:37] senesis commented on #278
Yes, sure. Thanks

[2018-02-07 07:37] #278 closed

[2018-02-07 07:38] senesis commented on #277
Because I moved to conda, I cannot say for sure that the build.sh script is fine now. But, as far as I am concerned, the issue can be closed.

[2018-02-07 12:20] martinjuckes opened #299 "Question about CMOR variable type"
I've had a question asked about the use of `integer` for the `type` of variable `basin`. This is the same as used in CMIP5, but the NetCDF code for integer variables is `int`, so, the question raised (https://github.com/cmip6dr/Request/issues/66 ) is whether we can change `integer` to `int`? I don't think this is a priority, but I'm passing on the question.

[2018-02-07 15:57] taylor13 commented on #299
See my answer at #66.  I will close this issue.

[2018-02-07 15:57] #299 closed

[2018-02-07 15:58] taylor13 commented on #66
Oops.  Above reference from #299 should not have been made.

[2018-02-07 15:59] taylor13 commented on #299
oops.  above reference should have been to: https://github.com/cmip6dr/Request/issues/66

[2018-02-07 17:15] durack1 commented on #277
@dnadeau4 it seems you have one last tweak noted above https://github.com/PCMDI/cmor/issues/277#issuecomment-355160866 - then I think this is good to close?

[2018-02-07 19:03] dnadeau4 commented on #277
@durack1 @senesis the build script is no longer working.  I will delete the github sections from the documentation.

[2018-02-07 19:16] dnadeau4 commented on #277
cmor.llnl.gov

[2018-02-07 19:16] #277 closed

[2018-02-07 22:25] #298 closed

[2018-02-07 22:25] dnadeau4 commented on #296
done
fed9d003100cc37b28c65b7de200d1dad28618bb

[2018-02-08 02:32] dnadeau4 commented on #287
Thanks I was able to fix it and added your example in my test suite.
df7c2b964bb52d42779de9a0e6bfaa878705f9c9

[2018-02-08 02:45] dnadeau4 commented on #283
I was able to fix this adding `Clim` for the variable name if the table is `Amon` and if the file has `-clim` at the end of the filename.

For other files, if the output variable name "`out_name`" as the same attributes as the input variable name "`entry`" that it will work.   (`ua` and `ua7h` in [CMIP6_6hrPlevPt.json](https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_6hrPlevPt.json#L484-

[2018-02-08 17:29] durack1 commented on #287
@dnadeau4 do you think this also solves #297? If yes, I'll pull down the `nightly` and see if I can write the climatology file

[2018-02-08 18:01] dnadeau4 commented on #287
I think so,  the nightly is **broken** again.  They updated `miniconda` and `conda-build` and there is something wrong with `openssl` during the upload.

[2018-02-08 18:15] durack1 commented on #287
@dnadeau4 it seems we have [`linux-64/cmor-2018.02.07.PrePARE-py27_0.tar.bz2`](https://anaconda.org/PCMDI/cmor/files) which was generated ~12pm yesterday.. Would that be the one to try?

[2018-02-08 18:17] dnadeau4 commented on #287
not for climatology.  I think that was the easy PrePARE fixed that I pushed.

[2018-02-08 18:19] taylor13 commented on #283
I have reviewed the entire data request and find 60 variables that have an "out_name" different from the "entry" name.  There are 4 categories:
1)  in Amon 7 variables have a "clim" version in addition to the full time-series version.  You're now handling that correctly I think.
2)  In Oclim and Omon there are variables with both a 2-d and 3-d version.  If PrePARe doesn't check the shape of the va

[2018-02-13 19:48] durack1 commented on #297
@dnadeau4 some success:
[code]

[2018-02-13 19:54] durack1 commented on #297
And this is the `axis` being passed that is causing the problem:
[code]

[2018-02-13 20:20] durack1 commented on #297
@dnadeau4 ouch, another segfault:
[code]

[2018-02-13 20:36] durack1 commented on #297
@dnadeau4 I've found some other weird behaviors (ignore the `source_id` error, I have to clean up my inputs) that would be great to be fixed, the `segfault` above, and this weird error:
[code]

[2018-02-13 23:31] taylor13 commented on #297
As I recall, you can either define the time axis values when you define the time axis, or you can pass the time values when you write the data, but you can't do both.  Would that explain it?

[2018-02-13 23:56] durack1 commented on #297
@taylor13 thanks for clarifying, if that is indeed the case then I think we need to catch this with an appropriate error message. Oh, and we also need to ascertain what is causing the segfault and deal with that better too

[2018-02-14 00:16] taylor13 commented on #297
How would you improve upon: "! Error: variable 'sos' (table input4MIPs_OmonC) you are passing time values but you already defined them via cmor_axis, this is not allowed".

Note that the CMOR documentation (https://cmor.llnl.gov/mydoc_cmor3_api/) of cmor_write says about the time_vals argument: "This argument should appear only if the time coordinate values were not passed in defining the time axi

[2018-02-14 00:23] taylor13 commented on #297
As for the segfault, if fixing whatever causes the warning "! Warning: You did not define a source section in your source_id MRI-JRA55-do-1-3." eliminates the segfault, then I think that's probably good enough for now.  As soon as a user encounters the segfault, he/she should first eliminate the warnings, and then be good to go.

[2018-02-14 05:04] durack1 commented on #297
The segfault is no longer due to the bad source_id definition, rather it's with bad info passed to cmor, but it would be better to catch all segfaults if we can..

[2018-02-14 10:45] treerink opened #300 "CMOR 3.3 anaconda package version for MAC OS"
The latest CMOR anaconda package version for MAC OS seems to be cmor=3.2.7, where we would like to have version 3.3 for MAC OS. Is this possible?

[2018-02-14 14:23] martinjuckes commented on #294
I'm planning to add two new dimension entries which will be adapted from `sdepth1`, one for the top 1m layer and a 2nd for the layer below 1m (Karl and I tried to talk Chris Jones out of using this, but so far he is standing firm). The tags that will change from `sdepth1` are:

**Top 1m layer:**
label: sdepth10
boundsValues: 0. 1.
description: coordinate value for topmost 1 meter layer of soil
tab

[2018-02-14 16:40] taylor13 commented on #297
I agree. thanks.

[2018-02-14 17:19] taylor13 commented on #294
As I recall,  valid_max and valid_min should be between the boundsValues, because the coordinate value should be between the bounds.

[2018-02-14 17:29] martinjuckes commented on #294
That doesn't fit with the existing usage for `sdepth1`, which has `bounds=0. 0.1`, `valid_max=0.2` (as for CMIP5). There is only one other coordinate with `bounds` and `valid_min/max` set, `olayer100m`, which is in line with what you were expecting:  `bounds=0. 100.`, `valid_max=100.0`, 'valid_min=0.0'. Can someone check how these parameters interact? I'm a little unclear about the distinction bet

[2018-02-14 17:42] taylor13 commented on #294
@martinjuckes I don't think we should accede to Chris' preference to store soil carbon below 1 m instead of total soil carbon.

For the record I've copied the email exchanges with Chris Jones.  Chris did restate his preference, but recognized the reasonableness of our argument.  There are apparently 3 pools of carbon of interest: total soil carbon, soil carbon in the uppermost 1 m and soil carbon

[2018-02-14 17:45] dnadeau4 commented on #300
@treerink All files are there for Linux and OSX.
https://anaconda.org/PCMDI/cmor/files?channel=main

[2018-02-14 17:45] dnadeau4 commented on #300
What is you command?

[2018-02-14 17:50] dnadeau4 commented on #297
@durack1 can you close this issue and open a new one with the `bad info passed to cmor`.  If you can give me some bad code too 😏 that would help.

[2018-02-14 19:20] #296 closed

[2018-02-14 19:21] dnadeau4 commented on #290
Should be in 3.3.1 release today 2-14-2018.  @senesis can you verify that it work?

[2018-02-14 19:22] #289 closed

[2018-02-14 19:22] dnadeau4 commented on #288
@senesis I will close this, re-open if needed.

[2018-02-14 19:22] #288 closed

[2018-02-14 19:23] #287 closed

[2018-02-14 19:32] dnadeau4 commented on #284
01007a55f72a7e37c795c4c34d608c359ca2c4de

[2018-02-14 19:32] #284 closed

[2018-02-14 19:33] #279 closed

[2018-02-14 19:43] dnadeau4 commented on #268
I got rid of the github step since it was no longer working and people use cdms2 now.
To create cmor they should follow the steps in the ".travis.yml" file.

[2018-02-14 19:50] dnadeau4 commented on #246
@ehogan I merged your pull request, if you have problem with this let me know.  I did not create a test for it either.

[2018-02-14 19:50] #246 closed

[2018-02-14 20:06] dnadeau4 commented on #245
@ehogan I have very confused with all this https://github.com/PCMDI/cmor/issues/245#issuecomment-343526060   Some of the place where you want to `return(-1)` will stop the loop and you won't get all the information like a compiler (PCMDI requirements).
[here](https://github.com/PCMDI/cmor/blob/df0feb2a68aed0173e1da1a5690830aa4204ea44/Src/cmor_CV.c#L533)

I will push this to 3.3.2, but I am not sur

[2018-02-14 23:51] durack1 commented on #297
This issue is resolved, however the segfault is not (https://github.com/PCMDI/cmor/issues/297#issuecomment-365391642) so will open a new issue

[2018-02-14 23:51] #297 closed

[2018-02-14 23:52] durack1 opened #302 "segfault in cmor.write"
I am able to reproduce a segfault in cmor.write (as noted in https://github.com/PCMDI/cmor/issues/297#issuecomment-365391642). I will generate a little test case for use in bug fixing and attach it to this issue.

[2018-02-15 09:29] treerink commented on #300
Hi, thanks the link https://anaconda.org/PCMDI/cmor/files?channel=main was quite useful via the **i** info I could trace which specific package we need to use in our package (in our case: cmor=3.3.0=py27hd3cfe68_0). Usually, eg. for linux, I get this info via
 conda info cmor
But on mac os this returns nothing, so maybe there is something to improve on that.

Anyway via the given link I am able to

[2018-02-15 09:29] #300 closed

[2018-02-15 09:46] senesis commented on #290
Sorry, but embarking with 3.3.1 has low priority here.

[2018-02-15 09:50] martinjuckes commented on #294
OK, I'll take out `cSoilBelow1m`, and add the `sdepth10` dimension for `cSoilAbove1m`.

[2018-02-15 16:06] taylor13 commented on #300
@treerink There are important bug fixes in 3.3.1, just released.  Would it be a problem to install the latest?

[2018-02-15 16:13] taylor13 commented on #290
I thought the issue raised was that CMIP6_CV.json was not consistent with  https://github.com/WCRP-CMIP/CMIP6_CVs/blob/master/CMIP6_experiment_id.json.  It now should be.  If that wasn't the issue (related to CMOR), what is?

[2018-02-15 16:56] treerink commented on #300
Ok, I will have a look

[2018-02-15 18:24] dnadeau4 commented on #300
@treerink This is the command I use on OSX.
[code]

`conda info` only tells you information on packages you have on your machine.

`conda search` is what you want.
[code]

[2018-02-15 21:32] treerink commented on #300
Ok thanks. Though I need to check the dependencies (so need actually the conda info, but the info button on that website works fine for that, so I am ok).

I updated our package for the CMOR 3.3.1 update, both on linux and on mac os, and all seems to work fine.

[2018-02-16 07:37] senesis commented on #290
1- sorry, I misunderstood the request, as I was distracted by the side discussion which occurred in this thread
2- I can see that the issue is fixed in the head github version of CMIP6_CV.json (https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_CV.json) so I assume it is OK for further CMOR releases;

Thanks

[2018-02-17 01:33] dnadeau4 commented on #290
@senesis I did not sent the Release Note for CMOR 3.3.1 so I though it was important for you to know that it is out there.  I should have been more specific about the update CMIP6_CV.json file with the release.

[2018-02-20 21:22] taylor13 commented on #220
If CMOR can handle areacellr the same way as areacella, areacello, and areacellg, then I think this issue can be closed.

[2018-02-20 23:01] taylor13 commented on #294
@martinjuckes : while you're at it, wouldn't it make sense to modify the 10cm surface soil layer so that the valid_max lies between the upper and lower bound, i.e.:

Top 10dm layer:
label: sdepth1
boundsValues: 0. 0.1
description: coordinate value for topmost 10 cm layer of soil
uid: dim:sdepth1
valid_min: 0.0
valid_max: 0.1
value: 0.05

and then similarly define for the 1 m surface layer:

label:

[2018-02-21 00:53] taylor13 opened #305 "2 scalar coordinates for one variable"
There are half dozen variables that have two scalar coordinates (besides being functions of lat, lon, and time).  I don't think CMOR has ever faced variables like that.  We need to confirm that it can handle it correctly.  see https://github.com/cmip6dr/CMIP6_DataRequest_VariableDefinitions/issues/303

[2018-02-21 10:38] senesis opened #306 "PrePARE crashes when setting 'branch_time_in_child'"
I Just installed CMOR and tables using https://cmor.llnl.gov/mydoc_cmor3_conda/
Launching PrePARE as
``
PrePARE .../cmip6-cmor-tables/Tables areacella_fx_CNRM-CM6-1_amip_r99i1p1f2_gr.nc
``
Got :
_Traceback (most recent call last):
  File "/home/gmgec/mrgu/senesi/miniconda2/envs/cmor/bin/PrePARE", line 11, in <module>
    load_entry_point('CMOR==3.3', 'console_scripts', 'PrePARE')()
  File "/home/g

[2018-02-21 15:15] martinjuckes commented on #294
OK, I'll take out `cSoilBelow1m`, and add the `sdepth10` dimension for `cSoilAbove1m`.

[2018-02-21 17:01] taylor13 commented on #306
For AMIP simulations (like this one), there is no "parent", so branch_time_in_child can either be omitted as a global attribute (which is the preferred options) or set to the start time of the run.  Perhaps PrePARE hasn't encountered this case before???

In any case the error message isn't very explicit about what the problem is (or maybe I just don't understand python-speak).

[2018-02-21 17:17] senesis commented on #306
Just shaking (I mean re-setting) my environment made the problem disappear
Thanks . Sorry for the noise

[2018-02-21 18:37] dnadeau4 commented on #306
@taylor13 if `branch_time_in_child` is not there PrePARE will fail.  I was asked to check if it is `double`.  I thought it was defaulted to "0.0".

[2018-02-21 18:44] taylor13 commented on #306
I'll reopen this and we can discuss next week whether we need to do something.  Apparently @senesis solved his immediate problem.

There are several global attributes that must be present *if* there is a parent, but may otherwise be omitted.  Next week we can check whether revisions are needed when PrePARE checks these attributes.

[2018-02-21 19:06] dnadeau4 commented on #283
@taylor13
In 3.
I don't think `PrePARE` will check `"latitude"`, `"longitude"` variables.   The variable used by `PrePARE` is retrieve by the filename.  `PrePARE` does not check dimensions.

[2018-02-21 19:13] dnadeau4 commented on #283
@taylor13
In 4:
@taylor13 `PrePARE` cannot **guess** the out_name.  If I to read the "JSON" table and try to find the `out_name` parent(s) (entry(s)), that will slow down `PrePARE` a lot.    They might be more than 1 `entry` name matchint the same `out_name`

This search needs to be done before calling `cmor_variable()` in Python.  `cmor_variable()` function retrieves all metadata for that variabl

[2018-02-21 19:16] dnadeau4 commented on #283
PrePARE needs the variable name to create the output filename.   We might not be able need to check the variable attributes in some cases.

[2018-02-21 20:49] taylor13 commented on #283
regarding  3),  "latitude" and "longitude" in table CFsubhr, these are regular variables and are functions of "site",  so PrePARE will try to check them.  Their "out_names" are "lat" and "lon" (just like when they are coordinate variables).
Regarding 3) and 4), there appears to be no easy way to handle these cases.  One option might be to somehow skip variables where out_name isn't the same as the

[2018-02-21 23:47] dnadeau4 commented on #283
Solution 4 will slow down PrePARE by a lot.  (I have to read the JSON file in Python.)

As for 3, the filename does not have "latititude_.....nc" so PrePARE will not check "latitude", but the variable name found in the filename.

[2018-02-23 00:19] durack1 opened #308 "Update test suite to reflect changes to PCMDI-test-1-0 revised descriptions"
Changes made in WCRP-CMIP/CMIP6_CVs#463 may have caused some issues with the test suite

[2018-02-23 13:38] senesis commented on #306
I agree the issue should be reopened : it occurs because my amip data do not have attribute branch_time_in_child while PrePARE (or the Tabe describing amip expt) thinks it must have one
The [CMIPS6 CV document](https://docs.google.com/document/d/1h0r8RZr_f3-8egBMMh7aqLwy3snpD6_MrDz1q8n5XUk/edit) allows for omitting branch times when there is no parent

[2018-02-28 00:56] doutriaux1 opened #310 "possible error in zfactor"
@taylor13 and I ran Test/test_site_ts.py

A few things seem odd:

* no a factor was passed (and therefore not stored), shouldn't CMOR have caught this and ask for `a` factor
* b_bnds are passed as `zfactor_bounds=[[x - 0.5, x + 0.5] for x in range(2)])` but appear in cdump as follow:

[code]

[2018-02-28 23:01] dnadeau4 commented on #310
You need to pass the values as float64.

[code]
[code]

[2018-02-28 23:01] #310 closed

[2018-02-28 23:09] dnadeau4 commented on #308
@durack1 I just run my tests with latest `CMIP6_CV.json` and everything works.
Thanks for the issue to remind me to test things.

[2018-02-28 23:09] #308 closed

[2018-03-01 00:05] dnadeau4 commented on #302
@durack1 do you have code for this?

[2018-03-01 00:09] dnadeau4 commented on #306
@senesis fix in the PrePARE branch.
https://github.com/PCMDI/cmor/commit/6157a673dc1f9233fc3ca3d3c6908b31ef30cd98

[2018-03-01 00:09] #306 closed

[2018-03-01 00:14] dnadeau4 commented on #306
https://github.com/PCMDI/cmor/commit/2c07f87edfb864cb2c63788bf598119a0629824e

[2018-03-01 18:38] durack1 commented on #308
@dnadeau4 great, I'm glad it was painless!

[2018-03-06 18:31] taylor13 opened #311 ""site" coordinate"
Does CMOR currently write the longitude and latitudes as auxiliary coordinates in table CFsubhr, which contains variables that are a function of "site"?

[2018-03-06 18:56] taylor13 commented on #311
are the variables containing longitudes and latitudes named "lon" and "lat" or "longitude" and "latitude"?

[2018-03-07 19:20] durack1 commented on #266
@dnadeau4 the `3.3.1` release notes have been updated with the commit history, let's close this issue, and make sure that as part of the `3.3.2` release we send an email announcing this, just in case folks have missed the `3.3.1` release - are you happy to close?

@taylor13

[2018-03-07 20:09] durack1 commented on #302
@dnadeau4 I have tried a number of the scripts that generated this error, I believe with a `nightly` generated on the 13th Feb. I can't reproduce this with the `3.3.1` release, so will close, and reopen if I can get it reproducing.

[2018-03-07 20:09] #302 closed

[2018-03-07 23:02] dnadeau4 commented on #266
Actually, I would rather have the 3.3.1 release notes, so we don't forget anything.  I think @taylor13 was working on them.

[2018-03-07 23:20] durack1 commented on #266
@dnadeau4 take a look at the `3.3.1` release, which was updated with the commit history. That’s why I was recommending this closed

[2018-03-08 22:51] durack1 opened #312 "cmor331 pinned to cdat 2.10?"
I just tried to install `genutil` into a `cmor 3.3.1` conda environment and got the following:
[code]
It would be nice if no DOWNGRADING occurred as part of this install

[2018-03-09 00:10] dnadeau4 commented on #266
Sounds good then.

[2018-03-09 00:10] #266 closed

[2018-03-09 00:10] dnadeau4 opened #313 "TAG CMOR 3.3.2"
- [x] Change configure.ac to `3.3.2` and rerun `autoconf`.
- [x] Verify that optimization is disable from setup.py.in.
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [x] Validate version info is correctly written (CMOR version should be `3.3.2`)
- [x] Validate data_specs_version written ([`01.00.XX`](https://www.earthsystemcog.org/projects/

[2018-03-09 00:18] dnadeau4 commented on #312
@durack1 try to use the conda-forge channel.

[2018-03-09 18:53] durack1 commented on #312
@dnadeau4 when are you planning on releasing `3.3.2`? I'll make sure to test `-c conda-forge` and close this (if it's not an issue) before the release

[2018-03-10 00:11] dnadeau4 commented on #312
I was unable to release genutil 3.0 since cdms2 is not avail for py3.   I am not sure when 3.3.2 will be available since we are in the middle of releasing CDAT.

[2018-03-12 06:23] senesis commented on #305
The issue referenced above also calls for a change in CMOR tables regarding out_name of dimensions typec3pft and typec4pft

[2018-03-12 09:41] glevava opened #314 "PrePARE table memory issue"
Hi @dnadeau4
I make a fresh install of CMOR 3.3.1 and it seems that PrePARE has a table memory issue.
Here what I done:
- Apply PrePARE to one file => Compliant
- Apply PrePARE sequentially to a directory including the same above file => this file returns CV error.

I observed that the CV error appears for all files checked after the first "table change". For instance:
- File 1 <- tableA = Complia

[2018-03-12 15:59] taylor13 commented on #305
Yes, I agree.  Before implementing the changes, we need to determine whether CMOR can even handle two scalar coordinates.  I don't think it can at this point.

[2018-03-12 17:47] glevava commented on #314
The error still appears in a fresh conda install of CMOR 3.3.1 in our HPD env. After further investigation, I confirm a "table memory" side effect in the 'C' internal memory. It seems that the following lines into PrePARE have different behavior depending on the env:
[code]
An explicit `cmip6_cv.purge()` or `cmip6_cv_reset()` vacuuming 'C' memory could be helpful here to ensure memory cleaning wha

[2018-03-13 07:40] senesis commented on #305
OK. I will post the same remarks in the CMIP6-CMOR-tables repository. because in that context, the question of CMOR capability to use handle two scalar coordinates is not a pre-requisite for implementing the out_name change

[2018-03-13 10:25] glevava commented on #314
Find the solution. This is due to the cmip6_cv.set_CV_Error() which is not reinitialize when checking several files sequentially. I will suggest a PR to solve this.

[2018-03-13 13:04] durack1 commented on #314
@glevava thanks for the detective work on tracking this down, a PR would very much be appreciated and if all the tests pass should hopefully be merged quickly

[2018-03-13 13:57] glevava commented on #314
Hi @durack1 @dnadeau4 I made a [PR](https://github.com/PCMDI/cmor/pull/315) to solve this issue.
The PR also provide some improvements including "OR" operator support from CMOR table for the `cell_measures` attribute.
Thanks

[2018-03-14 16:41] jonseddon opened #316 "PrePARE exit status"
Hi,

This is similar to #284. With CMOR 3.3.1 I can use the following session to reproducibly get a return code of 0:

[code]

If I have a critical error then I do get a return code of 1, but for this not compliant error I always get a return code of 0. A return code of 1 (or something else non-zero) would be useful to allow us to integrate PrePARE into our pre-publication checks without parsing t

[2018-03-14 16:54] jonseddon opened #317 "PrePARE requires"
Hi,

According to version 6.2.6 of https://goo.gl/v1drZl then if there is no parent then it is preferred if `branch_time_in_child` and `branch_time_in_parent` are omitted, or set to `no_parent`. At the moment, either of these will result in a KeyError:

[code]

Thanks,

Jon

[2018-03-14 17:09] dnadeau4 commented on #316
That functionality was lost when @glevava parallelized PrePARE.  I can put it back for the `sequential` section.  Not sure how to handle the parallel one since the process return a logfile.

I will try to use the `cmip6_cv.get_CV_Error()` function and see if that does the trick.

[2018-03-14 17:11] dnadeau4 commented on #317
I fixed that in the PrePARE branch.  https://github.com/PCMDI/cmor/blob/PrePARE/LibCV/PrePARE/PrePARE.py#L469-L485

[2018-03-14 17:11] #317 closed

[2018-03-14 17:13] taylor13 commented on #314
All instances of an "OR" construct are found either in the SImon or SIday table.  The data request should not include cell_measures with an "OR" operator in the cell_measures attribute.  I think this should be corrected by Martin following https://github.com/cmip6dr/CMIP6_DataRequest_VariableDefinitions/issues/252.  It is acceptable that PrePARE can handle this case (until the data request is corr

[2018-03-14 17:16] durack1 commented on #317
@dnadeau4 should this be tagged against `3.3.2` and reopened until that is released?

[2018-03-14 19:43] dnadeau4 commented on #316
This has been fixed in PrePARE.
https://github.com/PCMDI/cmor/pull/318/commits/b6eee148336a0bca44f4fcc019fb3689e5b97513

[2018-03-14 19:43] #316 closed

[2018-03-14 19:50] dnadeau4 commented on #314
@glevava if the change I made in the PrePARE branch works for you, can you close the issue?

Thanks!

[2018-03-14 21:19] glevava commented on #314
of course I will test the latest script version from "PrePARE" branch tomorrow, and close the issue after testing it for sure. Thanks again for your quick merge !

[2018-03-14 22:09] taylor13 opened #319 "attribute string length limits"
(I think I was supposed to report this issue, but perhaps it's already been reported  by someone else, in which case I suppose this can be merged):

the "comment" attribute (attached to the variable) is declared to have a maximum length of 1024 (which is also the maximum length allowed for nearly all other string attributes).  Recently "comments" have been added to the data request that exceed 300

[2018-03-14 23:41] taylor13 commented on #319
Note that in the the "global attributes" section of the output requirements document (https://goo.gl/neswPr), we specify that the maximum length of strings must not exceed 1024 characters, so maybe we should require changes in the data request to meet this limit.

[2018-03-15 06:33] markcollier opened #320 "time axis with varying approx_interval's"
In my cmor'ising python tool I can write out seasonal averages e.g. DJF simply by increasing the approx_interval value. However, if I want to write out each separate month (ie. broadcast the elements) of the season e.g.

year 1, D, J and F
year 2, D, J and F
...
year n,D,J and F

for where the months are available, I cannot do this as it would require two intervals, one between each month and anot

[2018-03-15 09:54] jonseddon commented on #317
@dnadeau4 @durack1 The global attributes document (https://goo.gl/v1drZl) says that the string "no parent" is also a valid value for these attributes.

[2018-03-15 09:56] jonseddon commented on #316
Brilliant, thanks @dnadeau4 for adding this!

[2018-03-15 10:06] wachsylon opened #321 "Naming of coordinate variables, dimensions and labeled axes"
Hi,
what is the detailled procedure of how CMOR names coordinate variables and dimensions? I thought that the attribute "out_name" of the respective coordinate variable contains the name, which is later in the output. E.g., variable "tas" from CMIP6_Amon.json has dimension "height2m" which is in CMIP6_coordinates.json. The out_name of "height2m" is "height".  However I can see that this is not the

[2018-03-15 13:31] glevava commented on #316
Unfortunately, `cmip6_cv.get_CV_Error()` shouldn't be use here ([https://github.com/PCMDI/cmor/blob/e560228f28e6e6cf37aff78dbfb6a88f2701b8fe/LibCV/PrePARE/PrePARE.py#L595](https://github.com/PCMDI/cmor/blob/e560228f28e6e6cf37aff78dbfb6a88f2701b8fe/LibCV/PrePARE/PrePARE.py#L595)). The "table memory" issue appears again despite my PR...
I removed a lot of `cmip6_cv.set_CV_Error()` into PrePARE as it

[2018-03-15 13:34] glevava commented on #314
Hi @dnadeau4 I tested PrePARE.py version from latest commit on the "PrePARE" branch. And the "table memory" issue raises again due to `cmip6_cv.get_CV_error()` you rollbacked. See my comment here: [https://github.com/PCMDI/cmor/issues/316#issuecomment-373321410](https://github.com/PCMDI/cmor/issues/316#issuecomment-373321410)

I can think about another way to deal with different return codes but p

[2018-03-15 14:24] durack1 commented on #320
@markcollier it's not 100% clear what you're trying to do. It seems from my reading of the above that you're trying to generate climatology outputs - so seasonal climatologies per year. The way that I have achieved this for the 1955-2012 salinity climatologies (WOA13v2) can be viewed [here](https://github.com/PCMDI/input4MIPs-cmor-tables/blob/master/demo/MRI-JMA-JRA55-do-1-3/runCmorDemo.py#L188-L2

[2018-03-15 14:32] durack1 commented on #321
@wachsylon have you reviewed the registered details found in https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_coordinate.json?

[2018-03-15 14:37] glevava commented on #316
Fixed with [https://github.com/PCMDI/cmor/pull/322](https://github.com/PCMDI/cmor/pull/322)

[2018-03-15 14:38] glevava opened #323 "Wrong return code by cmip6_cv.check_filename into PrePARE"
Even with wrong filename, the method returns 0:

[code]

[2018-03-15 15:02] wachsylon commented on #321
Do you mean the latter point? Yes, grassFracC4 in Emon with "typec4pft typenatgr" dimensions which are listed in coordinate.json.
Do you think it is better to post it in that context?

[2018-03-15 15:23] durack1 commented on #321
@wachsylon I am having a hard time ascertaining what your question(s) are. Could you try posing these again. If there are two, can you separate them into more defined single questions?

[2018-03-15 16:37] wachsylon commented on #321
Ok, I am sorry for confusing you, I try to clearify.
Thx for the fast response.

1. My main question is: Where does CMOR take the names from for the coordinate variables? Is there a general rule?
For singleton dimensions, we have:
Line 1659 following in cmor_variables.c:
`            if (cmor_has_variable_attribute(vrid, "coordinates") == 0) {
                cmor_get_variable_attribute(vrid, "coo

[2018-03-15 18:32] dnadeau4 commented on #314
Here is the set_CV_Error function,  it is a direct python call.

https://github.com/glevava/cmor/blob/5a9153f8f2785ec6a75b0a406a2dbaaf42276f4a/Src/cmor_CV.c#L430-L436

[2018-03-15 20:41] markcollier commented on #320
I have no problems writing out regular climatologies. The problem is in essence, writing out monthly data with gaps as cmor checks for time gaps and raises an exception if they do not all approximate the approx_interval value found in the cmor table. I assume something similar would occur for other frequencies.

[2018-03-15 22:57] markcollier commented on #320
I should mention that in this case I am not using cmor to generate datasets for submission to CMIP6. My philosophy is that when rewriting model data, where possible output datasets should be reduced in size wherever possible. From this point of view, if someone only wants selected months from a time-series (rather than a continuous set) then it should be possible. I'll try to take a look at some o

[2018-03-16 01:35] markcollier commented on #320
Think it is a good sign when tools like cmor are being used successfully beyond their designed/resourced scope. All good Karl/Paul.

[2018-03-16 05:25] taylor13 commented on #321
I will try to provide a definitive explanation soon (perhaps not tomorrow, but soon).  We are well aware of the 2-scalar coordinates issue, and that currently this still needs to be addressed.  I think other threads also raise this (both on github and as comments in google docs).

[2018-03-16 08:42] glevava commented on #314
Hi @dnadeau4 , let me try to explain clearer what happens here.
Image you submit two files to be checked by PrePARE (file1.nc then file2.nc).
Let's say file1.nc contains a CV error and file2.nc is CMIP6 compliant.

So, we submit both files to PrePARE in a sequential processing (e.g., in one command-line call).
- PrePARE checks file1.nc and find the CV error through one of the `cmip6_cv.check_***()

[2018-03-16 11:41] wachsylon commented on #321
Great, thanks. Just to be clear, not only 2-scalar coordinates but also 2 labeled axes may be possible according to the MIP-tables. I think this would end up in two dimensions "strlen" and maybe "strlen2".

[2018-03-16 17:08] dnadeau4 commented on #314
Thanks!  This is very clear.  I did not understand what you meant by "table memory" before,  I thought the issue was in the `cmip6_cv.load_table()` function.  This misunderstanding happens sometimes with email communication.

After testing your solution, I will accept your PR.

I think I will have to make sure that [these functions](https://github.com/glevava/cmor/blob/5a9153f8f2785ec6a75b0a406a2d

[2018-03-16 19:44] durack1 commented on #320
No problem @markcollier did you want to close this issue then?

[2018-03-16 23:40] markcollier commented on #320
I should have mentioned, that my issue was in trying to write these months to a single file, I can, write out the required months to separate files (for little resources), and then have a "merge" tool that does the combining of the files, if required. I think that is more than satisfactory.

[2018-03-16 23:40] #320 closed

[2018-03-16 23:51] markcollier commented on #282
I could also investigate whether one of the Australian groups might be able to put some $ up to pay for some of this work to be undertaken. It could be a scientist from Australia/U.S. or elsewhere with the potential to visit PCMDI and elsewhere to facilitate a more featured product. David Karoly is now based in Aspendale and sits on a prominent position that might be able to investigate funding. I

[2018-03-17 06:11] taylor13 commented on #282
thanks for this suggestion.  We'll discuss and be in touch.  Good to know that Dave K. may be able to vouch for the importance of this.

[2018-03-17 13:42] glevava commented on #314
The issue title is not appropriate. In the beginning without investigating further I also though the issue comes from the table loading in a way or another... Sorry for the mistake.

Thanks for merging and checking return codes from cmip6_cv functions  and look forward a fully operational PrePARE 3.3.2 ; ) !

[2018-03-19 16:54] dnadeau4 commented on #314
I'll try to push it through Wednesday.

[2018-03-19 17:11] dnadeau4 commented on #312
@durack1 can you try this again,  genutil 3.0 is now in conda-forge.

[2018-03-19 17:23] durack1 commented on #312
@dnadeau4 thanks! When are you planning on releasing 3.3.2? This week? Just trying to shuffle jobs before vacation

[2018-03-20 16:23] delong260 opened #324 "Installation Error: Could not get a working udunits2"
I am attempting to install CMOR3 on a 64-bit Ubuntu virtual machine, but I am getting the following errors after running the configure script.  I was not able to find the Udunits installation in /usr/local where it's supposed to be by default, but I noticed that the makefile for Udunits was updating files in the build directory since I was using Cmake.  As you can see, using that target for the --

[2018-03-20 17:33] wachsylon commented on #273
Hi,
when producing variables on such a grid now (tested for CMOR 3.2.8 and 3.3.1), we do not have 'standard_name' attributes for latitude and longitude anymore:
[code]
Can you reproduce this?
Additionally, our QA annotates that CF recommends not assigning _FillValue and missing_value to the vertices coordinate variables. Do you agree?
Thanks and best regards,
Fabi

[2018-03-20 17:42] wachsylon commented on #273
Also, for variables "areacello" and "deptho" in CMIP6_Ofx.json
an unused dimension <bnds> is in the output file.

[2018-03-20 17:45] durack1 commented on #273
@wachsylon can you provide an `ncdump -h` output for the `areacello` and `deptho` files - this will fast track ascertaining what's gone wrong here - same as above (and inline comment) would be great

[2018-03-20 17:58] wachsylon commented on #273
Of course,
[code]
and

[code]

[2018-03-20 22:43] senesis opened #325 "Is PrePARE OK with leap years ?"
Using two distinct libraries (python/datetime and Xios), it seems that gregorian calendar has 127835 days between 1500-01-01 and 1850-01-01

[code]

However, when PrePARE is fed with a file having the time variable dumped below, it complains in a way which implies that there is a 9 days discrepancy with its own calculation .

Which library is right ?

[code]

[code]

[2018-03-20 23:45] taylor13 commented on #325
The problem can be addressed by paying attention to the description of calendars at the end of http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#calendar .  When a simulation spans a period crossing the date when the Gregorian Calendar was first adopted (i.e., 1582-10-15), you need to set calendar="proleptic_gregorian".   Otherwise a 9-day discrepancy is found.

B

[2018-03-20 23:53] taylor13 commented on #325
This issue was also noted in item 17c of global attributes section of https://goo.gl/neswPr .  Is there a way to make that information more prominent?

[2018-03-21 09:16] senesis commented on #325
Thanks for this clear explanation. I had never dig that question, and didn't notice that the Python datetime library states that it is:

and that Xios , when instructed to use a gregorian calendar, actually behaves as if a proleptic_gregorian option was used
The document quoted above is clear enough, and the myriad of specifications cannot all be made prominent !

[2018-03-21 09:22] senesis commented on #325
And PrePARE duly decalres that the data is correct once the value of calendar_type is changed to proleptic_gregorian.
Thanks

[2018-03-21 18:19] taylor13 commented on #319
I understand that as a stop-gap measure, the long strings are being truncated (ending at a ".") before the 1024 limit.  This is a good solution for now, but lets keep this issue open and try to improve handling of strings in a later release.

[2018-03-21 18:25] taylor13 commented on #294
Martin has fixed the problem, I think, so this can be closed.

[2018-03-21 18:28] taylor13 commented on #290
I think this issue can be closed.

[2018-03-21 20:44] #325 closed

[2018-03-21 20:45] #323 closed

[2018-03-21 20:55] dnadeau4 commented on #319
I truncated to 1024 characters and stop at a sentence when creating the table.

[2018-03-21 20:55] #319 closed

[2018-03-21 20:56] dnadeau4 commented on #314
Fix in 3.3.2

[2018-03-21 20:56] #314 closed

[2018-03-21 20:56] dnadeau4 commented on #312
Fix in genutil on conda-forge.

[2018-03-21 20:56] #312 closed

[2018-03-21 20:58] dnadeau4 commented on #311
They are named "longitude" and "latitude".
https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_grids.json#L117-L151

[2018-03-21 20:58] #311 closed

[2018-03-21 21:03] #290 closed

[2018-03-21 21:07] #220 closed

[2018-03-23 17:14] taylor13 opened #328 "generating/checking climatological coordinate bounds"
The output requirements for CMIP6 ( https://goo.gl/neswPr ) provide guidance on how to treat the bounds on coordinates. It doesn't suggest that the bounds be treated differently if they represent a climatology (rather than a normal time axis) except the name of the bounds variable should be given by the CF "climatology" attribute rather than the CF "bounds" attribute.  The guidance states:

[code]

[2018-03-28 00:52] taylor13 commented on #321
Forgive the delay in getting back to this.  In what follows, I describe how CMOR is *supposed* to work, but I'm not absolutely possible that this is actually the way it works; there may be bugs.

Let me specifically address two of your implied questions above (and I'll try to add more tomorrow):
[code]
 "Labeled" axes are axes where the coordinate values are in fact consecutive integers (an "index

[2018-03-28 09:39] jypeter opened #329 "web site: slight errors on the Contact page"
@dnadeau4 The following line is missing a `mailto`
`To send an email to the list: CMOR@LISTS.LLNL.GOV`

Some commands you can send to the list server are surrounded by `?`. Is this correct or a typo?

- `?SIGNOFF CMOR?`
- `?Review CMOR?`

You could use a `?body` tag. See how I have done it in the _List server commands_ links of [PMIP 2 Mailing Lists](https://pmip2.lsce.ipsl.fr/lists.shtml)

[2018-03-28 11:49] wachsylon commented on #321
Thanks for the detailed answer. It is difficult for me to comprehend the entire connections beginning with the variable entry "dimensions" which is not necessarily the name of netCDF dimension:

Can I deduce the general rule from this: "The value of "out_name" of an entry in the Coordinates table defines the dimension name in the netCDF file"? And is there a rule for naming the coordinate variable

[2018-03-28 12:25] wachsylon commented on #321
OK I finally (unfortunately only recently) realized:
All label coordinates named "type*" are singleton. One reason why I overlooked it is: I mistakenly expected to have exactly one value for the coordinate entry "requested" since it is a label axis. Maybe it could be an idea to merge both "value" and "requsted" entries to "requested_values" some day?

The variable
"nwdFracLut"  in table Emon remai

[2018-03-28 12:41] wachsylon commented on #321
I was slightly wrong. CMOR takes "coords_attrib" which is not in any MIP-table. Notwithstanding, I agree with

[2018-03-28 15:23] senesis opened #330 "PrePARE issue with ambiguous CMOR variables (same out_names)"
It seems that PrePARE, when examining a NetCDF variable which name matches multiple entries in the table used (which have the same out_name, the one which matches the NetCDF variable name), is not able to use dimensions to choose the relevant variable

Example :  The file includes :
[code]
The  table includes   two matching entries :
[code]
And PrePARE complains that :
[code]

[2018-03-28 16:41] taylor13 commented on #330
There seem to be a number of special cases we need to consider.  In retrospect, we probably should have required that the variable_key  (i.e., the CMOR entry for the variable) be saved as a variable attribute (or global attribute?) in the file.  Then PrePARE could find all "keys" that include the out_name, and then use the variable_key attribute to decide which of these applies.  I guess it's too

[2018-03-28 17:18] wachsylon commented on #305
What is the reason for individual variables for these tiles? I mean pastureFracC3(lat,lon,time) and pastureFracC4(lat,lon,time) instead of something like pastureFrac(lat,lon,time,type).

Additionally,
in table Emon we have variable "fracLut" using dimension landUse which requests "pastures".
In table Lmon we have variable "pastureFrac" using dimension "typepasture" which has the value "pastures".

[2018-03-28 17:30] taylor13 commented on #305
Please copy your inquiry into an new issue at https://github.com/cmip6dr/CMIP6_DataRequest_VariableDefinitions/issues
That's where all issues concerning the data request should be raised.  the CMOR site is for issues related to discrepancies between the CMOR tables and the data request or problems with the CMOR or PrePARE codes.
To answer your first question, the MIP leaders requesting the output

[2018-03-28 17:39] wachsylon commented on #305
Ok thanks.

[2018-03-28 18:21] dnadeau4 commented on #329
thanks @jypeter.  I just cut/paste the info from the lab mailing list.  These `?` character are must be wrongly converted by "jekyll" when I build the site.  I'll look at them.

[2018-03-28 18:23] taylor13 commented on #321
In an above comment I said:
[code]
I'm not absolutely sure this is correct.  I'll check whether it is recorded under "out_name" or "sector" for scalar coordinates.

[2018-03-28 21:10] dnadeau4 commented on #324
It seems that your udunits library cannot be found.  Can you make sure that the `include` and `lib` directories are under build.

Here is my configure:

[code]

I would suggest you install anaconda2 and follow these instructions:

`https://cmor.llnl.gov/mydoc_cmor3_conda/`

(Note: we are getting a new certificate that will be installed tomorrow).

[2018-03-28 21:11] #294 closed

[2018-03-28 22:18] dnadeau4 opened #331 "TAG CMOR 3.3.3"
- [x] Change configure.ac to `3.3.3` and rerun `autoconf`.
- [x] Verify that optimization is disable from setup.py.in.
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [x] Validate version info is correctly written (CMOR version should be `3.3.3`)
- [x] Validate data_specs_version written ([`01.00.XX`](https://www.earthsystemcog.org/projects/

[2018-03-28 22:19] #313 closed

[2018-03-29 23:17] taylor13 opened #332 "PrePARE issues"
I reviewed the python PrePARE code and noticed the following potential problems:

1)  I think the missing_value and _FillValue attribures are checked against the CMIP6 specified value.  These are both float32 variables, and there is an if test for equivalence as follows:
[code]
which is preceded by a test to trap the case of file_value=0.

This test is not rigid enough because, for example, a file

[2018-03-29 23:48] taylor13 commented on #321
First a small correction to one of your assertions.  You said:
[code]
Actually, "vegtype" has out_name "type" and it is a vector, not a scalar.  The definition of the labels in this case up to the user (there is no controlled-vocabulary or "requested" values).  The labels in this case should be stored in a variable named "sector"

I think the best way to determine if a label coordinate is a vector

[2018-03-30 10:40] glevava commented on #332
Hi Karl, regarding point 2 of your issue, I already add the following fix on my PrePARE instance (be part of my next PR):
[code]

[2018-03-30 10:43] glevava commented on #332
For the point 1, do you mean it should be:
`if abs(1 - (table_value / file_value)) < 0.00001:`

If yes, I will include this change in my PR.

[2018-03-30 14:23] taylor13 commented on #332
Yes, that was my suggestion.  The intent is to make sure file_value is the same (or almost the same) as table_value.  We could also eliminate the special test for the case when file_value is 0. by writing it:
[code]
This would require file_value to be equal to table_value when table_value=0., and when not, the two would be required to very nearly be the same (i.e., to within 0.001%).  The approxim

[2018-03-30 14:42] taylor13 commented on #332
closed by mistake, but the original fix has been submitted as a pull request by @glevava

[2018-03-30 15:36] taylor13 opened #334 ""warnings" by PrePARE"
@senesis @glevava @dnadeau4

Some warnings produced by PrePARE are really errors and datasets that raise these warnings should not be published on ESGF.  Denis has found a way, I think, to make sure these warnings can be "seen" in the ESGF publication pipeline.  Perhaps @dnadeau4  can briefly say what he has done.  This fix should be in the next release.

Here is the background:

PrePARE relies on

[2018-03-30 15:41] glevava commented on #334
In addition could you provide an example of warning silently detect by CMOR methods behind PrePARE? Just to clearly understand how to solve this on our side if needed.

[2018-03-30 17:08] dnadeau4 commented on #334
@glevava I have addressed this in `PrePARE-fix` branch.

[2018-03-30 17:09] dnadeau4 commented on #334
https://github.com/PCMDI/cmor/compare/PrePARE-fix

[2018-03-30 17:15] glevava commented on #334
Arf, ok so ignore my PR I'll review it according your changes. Basically, I copy-past my whole tested PrePARE on a pull from PrePARE-fix to ensure no conflicts but I didn't focus on what you have changed.

[2018-03-30 17:19] dnadeau4 commented on #334
@glevava   that is fine, I can merge both, and resolve conflicts if needed.  It happens all the time,   not a problem...

[2018-03-30 17:20] glevava commented on #334
ok thanks a lot @dnadeau4 !!
Hope it will be not a huge piece of work, let me know if I can help.

[2018-03-30 17:24] glevava commented on #334
Oh yes I saw I added this... just when I pull my request -_- damned. Sorry for that.

My contribution is ok, that's part of my job in the ESGF community ; )

A pleasure to work with you and Karl.

[2018-03-31 02:12] taylor13 commented on #334
likewise.  You and Denis are critical to the success of CMIP6

[2018-03-31 08:27] senesis opened #336 "PrePARE and time_counter name 'time1' for instant fields"
When using time_counter name 'time' for all kind of fields (either average or instant fields), PrePARE doesn't complain

When using name 'time1', as requested by the DREQ, I got :

The file structure is as follows :

Which is the best way forward ?

[2018-03-31 14:30] taylor13 commented on #336
The out_name for "time1" is "time" (as is also the case for "time2" and "time"), so the name of your time coordinate should be "time", not "time1".  This may not be the only problem, but I suspect if you fix it, PrePARE will approve of you filename (which looks correct to me for the 96 samples spaced 15 minutes apart starting at 15 minutes past midnight on 1850-01-01 and ending with midnight).

Pe

[2018-03-31 14:33] taylor13 commented on #336
If you provide an ncdump of the entire header (and perhaps everything in the file except the data values of "cct", I could check whether I see any other issues.

[2018-03-31 20:16] senesis commented on #336
OK. I got caught once more by the difference between dimension label and dimension out_name (or altLabel, in DREQ parlance)
Everything is fine with PrePARE for most files when using out_name 'time'
Realization number 98 was used on purpose when providing a dateset for ESGF Data Challenges, in order to avoid non-final data to be mistakenly interpreted as really published data. By the way, using two

[2018-04-01 07:00] taylor13 commented on #336
That's our objective ... see if we can trip you up with obscure specifications.   (just kidding)   I understand that specifying a 2 digit realization was not for the same purpose, but  produced an excellent result.

[2018-04-04 14:52] anfab opened #337 "CMOR 3.3.2 and libssh2"
I've just upgrated cmor from 3.2.4 to 3.3.2.

Importing cmor in python results in the following error:

**ImportError: .../anaconda3/envs/CMOR3.3.2/lib/python2.7/site-packages/cmor/../../../libcurl.so.4: undefined symbol: libssh2_exit**

[2018-04-04 15:41] durack1 opened #338 "CMOR 3.3.2 missing on OSX anaconda channel"
I just went to create a new conda environment on my Mac, and I got 3.3.1 with
[code]
It seems only the linux-64 package is available:
https://anaconda.org/PCMDI/cmor

[2018-04-04 18:00] dnadeau4 commented on #337
Do you have the latest libcurl version in your CMOR3.3.2 env?
`...lib/libcurl.so.4.4.0`

[2018-04-04 18:57] anfab commented on #337
In the lib folder of the 3.3.2 environment I can see libcurl.so.4 and
libcurl.so.4.5.0.

*********************************************************************************
Fabrizio Antonio

Advanced Scientific Computing (ASC) Division
Scientific Data Management (SDM) Research Group

CMCC Foundation
Euro-Mediterranean Center on Climate Change
Via Augusto Imperatore 16, 73100 Lecce, Italy

mobile: +3

[2018-04-05 16:57] dnadeau4 commented on #337
Is you `LD_LIBRARY_PATH` variable set?  My guess is that your `python` is picking up the wrong `libcurl `version or `libssh`.

You could try "ldd"  on your `_cmor.so` which should be around your `site-packages/cmor` directory.  That will give you a list of all the library needed by `_cmor.so`.

Try `which python` to make sure that you are picking the `python` in your environment.

[2018-04-05 16:59] dnadeau4 commented on #338
I just uploaded the mac OSX 3.3.2

[2018-04-05 16:59] #338 closed

[2018-04-05 17:28] durack1 commented on #338
@dnadeau4 perfect thanks!

[2018-04-06 07:45] anfab commented on #337
I think the problem was the **libssh2** library.
From the "ldd" output, I noted it linked to `/usr/lib64/libssh2.so.1`.
Adding `.../anaconda3/envs/CMOR3.3.2/lib/ `to **LD_LIBRARY_PATH** seems to solve the error.

Just a question. Comparing the ldd list for the 3.2.4 and 3.3.2 cmor versions, I noted that libssh2 is not required for the first version: is it a new requirement for the upgrated one?

T

[2018-04-06 22:45] dnadeau4 commented on #337
It must be a new dependency of `libcurl`.  If you run `ldd` on `libcurl.so` from version `3.2.4` and `3.3.2` you should see the differences.

`CMOR` comes with `CDMS2` which uses `libcurl` in order to access files from `OPeNDAP` sites.  `libssl2` is used to make a secure link with `https` or when you need authentication using certificate and keys.

`CDMS2` can also use certificates to access CMIP6

[2018-04-10 07:54] anfab commented on #337
Thank you so much for that very full answer.

[2018-04-10 07:54] #337 closed

[2018-04-11 16:41] dnadeau4 commented on #334
@glevava I merged the branch into master, so now Warnings becomes error in PrePARE.

[2018-04-11 16:41] #334 closed

[2018-04-11 16:46] dnadeau4 commented on #332
This has been merged with @glevava solution.
https://github.com/PCMDI/cmor/commit/b11e29e4b5de1bbd2de461ea421b1aa01d6c3357

[2018-04-11 18:01] dnadeau4 commented on #324
@delong260 Where you able to compile cmor?

[2018-04-11 18:09] dnadeau4 commented on #328
@taylor13 we now read the bounds from the `bounds` attribute in prepare, if the `bounds` attribute is not there, we try to get `time_bnds`.

[2018-04-11 18:34] dnadeau4 commented on #329
It looks better now. 😄

[2018-04-11 18:34] #329 closed

[2018-04-11 18:35] #336 closed

[2018-04-11 18:36] dnadeau4 commented on #330
With the new change made by in `PrePARE` I can fix this `cell_measure` attribute issue.

[2018-04-11 20:26] taylor13 commented on #328
If the bounds attribute is not there, PrePARE should raise an error, shouldn't it?

[2018-04-11 21:31] dnadeau4 commented on #328
No it won't time_bnds is not an attribute, but a variable.

The bounds are only used by PrePARE to recreated the filename timestamp when we have `climatology` dataset.  In this case, the filename will be wrong if "bounds" is not found.

If bounds are not found, `start time bounds` and `end time bounds` are set to `0`.

[2018-04-11 21:37] dnadeau4 commented on #305
@doutriaux1 if you do this in CMOR2 I could probable merge your code in CMOR3.

[2018-04-11 21:42] dnadeau4 commented on #283
@taylor13 I think @glevava solves all your points.
https://github.com/PCMDI/cmor/blob/master/LibCV/PrePARE/out_names_tests.json

[2018-04-11 21:49] dnadeau4 opened #341 "has_3_dimension staticmethod"
@glevava

Is `has_3_dimensions`  set to a 2D variable when it returns true?  It seems like it...
https://github.com/PCMDI/cmor/blob/master/LibCV/PrePARE/out_names_tests.json#L68-L112

Here you have
https://github.com/PCMDI/cmor/blob/master/LibCV/PrePARE/PrePARE.py#L303-L305

Here is the if condition...
https://github.com/PCMDI/cmor/blob/master/LibCV/PrePARE/PrePARE.py#L485-L489

[2018-04-11 21:55] dnadeau4 commented on #341
I got it...

You count the `time` dimension since your are reading the attributes directly from the `CMIP6` tables.
We usually don't count the `time` dimension for the `data array` (2d, 3d).  ;-)

https://github.com/PCMDI/cmor/blob/master/TestTables/CMIP6_Oclim.json#L26

[2018-04-11 21:55] #341 closed

[2018-04-11 22:53] taylor13 commented on #328
climatology bounds variable name is stored in attribute "climatology" not "bounds"

[2018-04-11 23:13] taylor13 commented on #332
Might use my equation that eliminates the if test for 0.

[2018-04-11 23:17] taylor13 opened #342 "reordered user json input file"
[code]

[2018-04-12 00:51] dnadeau4 opened #343 "source not defined cause segmentation fault"
When source is defined to "" or not defined at all, it cause a `segmentation fault` due to the new tree architecture for CMIP6_CV for `source_id`.

CMOR needs to loop in every branch to retrieve the `source` node.  This cause "source_check" to display a erroneous warning as well.

[2018-04-12 01:08] durack1 commented on #343
@dnadeau4 thanks for catching this, it's likely one of the reasons I hit segfaults in earlier versions

[2018-04-12 18:20] taylor13 commented on #342
Didn't you know, some extraordinary souls have the ability to communicate with the dead.

I think Denis has already successfully read some version of the file, and that's how he discovered a bug in CMOR.  (Maybe he corected all the rogue symbols.

[2018-04-17 16:39] durack1 commented on #267
@dnadeau4 @taylor13 we've hit this problem with the input4MIPs data re-writing, it may be useful to consider checking hard-coded versions (e.g. `v20180417`) and throwing a warning if this is not within some threshold of the current date (is 3 days reasonable?), I believe the relevant code is found at https://github.com/PCMDI/cmor/blob/master/Src/cmor.c#L5514-L5518

[2018-04-17 18:14] taylor13 commented on #267
Some relevant discussion also is found  at #210 (comment) (begin at the July 25 entry, and read the following 2 comments too).  We could help users by implementing 5 changes:

1)  Describe how definition of "_myVersion" in the path template will override the CMOR generation of version numbers.
2)  Discourage users from overriding the "preserve" directive governing files.  This will help alert them

[2018-04-18 20:37] taylor13 opened #344 "New sample code for CMIP6"
Here is a code that I think we should use (after debugging) to illustrate a Fortran implementation of CMOR for CMIP6.  You already have the CMOR_input_example file that the fortran code needs as input.

I think a similar sample code should be developed for C coders and for python.

[code]

[2018-04-20 14:25] taylor13 commented on #305
Note that in the first entry above for this issue I claimed there were perhaps a half dozen variables where this might be a problem.  At least one of those was eliminated in the data request by defining a new "type".  see e cmip6dr/CMIP6_DataRequest_VariableDefinitions#303 .   Will need to check what the other exceptional cases are before closing.

[2018-04-25 01:21] durack1 opened #345 "<realm> incorrectly defined from table and input.json in output path"
I'm attaching an example where the `<realm>` as defined in the input json (table and user input) files is incorrectly generated.

The `user_input.json` file contains:
[code]
And the table file `input4MIPs_SImon.json` contains:
[code]
and
[code]
So I have no idea why `ocean` (defined as `<realm>`) is in the output path:
[code]
Is being defined. @dnadeau4 can you please work through this with me, al

[2018-04-25 18:32] dnadeau4 commented on #342
Is the reference good? What else should it be?

[2018-04-25 18:43] durack1 commented on #342
@dnadeau4 it's all good, I was just teasing @taylor13 - just ignore my ranting above

[2018-04-25 21:17] dnadeau4 commented on #343
Fix with commit
67585f58971aedae15441bb1b5e3df2cb5120570

[2018-04-25 21:42] durack1 commented on #343
@dnadeau4 nice - can this be closed, or is it yet to be merged?

[2018-04-25 21:49] dnadeau4 commented on #344
@taylor13  Do you have this file?

 - `cmor_dataset_json(‘CMOR_input_example.json’)`

[2018-04-25 22:07] dnadeau4 commented on #343
yet to be merged.

[2018-04-25 22:13] taylor13 commented on #344
yes:
[code]

[2018-04-25 23:56] dnadeau4 commented on #345
This is overwritten by your `Control Vocabulary` file.

The `source_id` section `PCMDI-AMIP-1-1-4` has a `"realm"`:`"ocean"` definition.

`source_id` is a special case for `obs4MIPs` where every `key`:`value` is set in the output `netCDF` file.

[2018-04-25 23:56] #345 closed

[2018-04-26 00:09] durack1 commented on #345
@dnadeau4 thanks, so the `source_id`:`realm` definition then clobbers the table `realm` or `modeling_realm` definition as one of the last elements checked. I will need to delete the `realm` definition in the registered content [here](https://github.com/PCMDI/input4MIPs-cmor-tables/blob/master/input4MIPs_source_id.json#L20)

Ref: PCMDI/input4MIPs-cmor-tables#51

[2018-04-26 13:46] wachsylon opened #346 "Error handling"
Hi,
right now I am improving the error handling of the CMOR application in CDO. I installed a signal handler at a point before `cmor_setup` is called. This did not work and the program ignored termination signals from CMOR.
1. Am I right that this is due to
[code]
in lines 757-760 cmor.c? If I set the signal handler AFTER calling `cmor_setup`, it will work, correct?

2. I actually thought I could

[2018-04-26 14:12] wachsylon commented on #346
3. I have a memory fault for "zooc" in Omon for a wrong configuration: A grid is registered and the resulting `grid_id `is in the integer array `axis_ids `provided as the fifth parameter of cmor_variable. Additionally, only a time axis is registered. Therefore, the cmor_variable call looks like this:
`cmor_variable(&cmorvarID, (char *)"zooc", (char *)"mol m-3", 2, axis_ids, ...`
If I instead call

[2018-04-26 15:02] wachsylon commented on #273
This `missing_value` and `_FillValue` as well as the missing `standard_name` occur for many variables in Oclim Ofx, Omon, Oyr, SImon. @durack1 @dnadeau4

[2018-04-26 15:32] wachsylon commented on #346
4. If `cmor_write` fails there will be empty files like sfcWind_day_EMAC-2-53-AerChem_piControl_r1i1p1f1_gnufkphd9509.nc . Is there a reason why CMOR does not remove these files? I think CMOR should..

[2018-04-26 15:40] wachsylon commented on #235
If data from a variable with a hybrid axis is appended to a file, the time value of the last record of the chunk file is changed to a wrong value.

[2018-04-26 16:08] taylor13 commented on #235
To be clear, is this what is done?
1) open a new file and write time slice(s) of data plus, for example, the corresponding time-slice(s) for surface pressure (needed by the hybrid vertical coordinate)
2) close the file
3) reopen the file in append mode and write additional time slice(s) of data plus surface pressure.
4) close file
5) examine file and find the time-coordinate for the last time-slic

[2018-04-26 16:13] wachsylon commented on #235
Yes, correct. For  example data for cli, Amon, 1851 is appended to
cli_Amon_MPI-ESM-1-2-HR_historical_r1i1p1f1_gn_185001-185012.nc
The resulting file is named correctly:
cli_Amon_MPI-ESM-1-2-HR_historical_r1i1p1f1_gn_185001-185112.nc
The time values however are:
 time = 15.5, 45, 74.5, 105, 135.5, 166, 196.5, 227.5, 258, 288.5, 319,
    349.5, 7.50876857923353e-315, 410, 439.5, 470, 500.5, 531, 56

[2018-04-26 16:16] wachsylon commented on #235
As far as I know, this only occurs for hybrid vertical axes so it may be a problem with the auxiliary pressure variable. The same problem occurs in CMOR2 versions.

[2018-04-26 16:32] durack1 commented on #273
@wachsylon are you referring to the coordinates, rather than the variables (e.g. `deptho` above, which does include `standard_name`, and `_FillValue` along with other correct attributes)? For the `longitude` coordinate, the defined coordinate does in fact contain all this information - see [CMIP6_coordinate.json](https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_coordinate.json#L

[2018-04-26 18:32] taylor13 commented on #273
I wouldn't place a high priority on removing "bnds" from the file.  Although it isn't needed, it isn't hurting anything is it?

latitude and longitude should have standard_name included (but vertices_latitude and vertices_longitude don't need standard_name).

I don't think missing_value and _FillValue should be defined for the coordinates and their vertices, but I don't think it is essential to re

[2018-04-27 07:07] wachsylon commented on #346
Thank you for your fast responses.

@taylor13 Yes, I program in C and use the C functions. CMOR is not the problem here, I just need to know how to use its error signal submitting correctly.

@dnadeau4
1 and 2. Yes, `C` it is.  I put a signal function in my program after `cmor_setup` which probably overwrites your signal handler. It seems to me that this is similar to use stop. When I put it befor

[2018-04-30 19:00] taylor13 commented on #332
To be more general (e.g., for cases where the table_value<0), we need another abs function in the test:
[code]

[2018-04-30 19:35] taylor13 commented on #305
Have checked the 6 variables that were functions of two scalar dimensions.  These all now have only a single scalar dimension, so this issue may be closed.

[2018-05-02 12:50] senesis opened #347 "Improvement : parallelized PrePARE could use all available CPUs"
This could come with value 'no_limit' for its argument max-threads, and could use https://docs.python.org/2/library/multiprocessing.html#multiprocessing.cpu_count

[2018-05-02 14:13] senesis commented on #347
However, PrePARE can exhaust available memory of 64 Gb nodes when launched with max-threads=150 in a job allocated with 21 nodes having each 40 CPUs.

When launched with max-threads=100 , it uses 25Go on node with highest memory use

[2018-05-11 20:19] doutriaux1 commented on #344
@taylor13 @dnadeau4 since fortran is not handling exceptiin nicely for CMOR, I ported Karl's code to python.

I get seg fault, that traceback to the same point as fortran:
[code]

So I think something is wrong in your CV file.

I need to
  * figure out what's wrong with CV file (if that is really the issue)
  * fix CMOR to catch this in a nicer way than a seg fault.

I'm attaching the python file

[2018-05-11 21:06] doutriaux1 commented on #344
@taylor13 @dnadeau4 ok I tracxe this back to Karl's common_input having an empty string for source, that caused the seg fault. I will try to catch this in a nicer way.

[2018-05-11 21:08] doutriaux1 opened #349 "input source in dataset_json file leads to seg fault"
using a common_input_file with empty string for source leads to seg fault...
[code]

[2018-05-11 22:29] dnadeau4 commented on #349
That is the issue I was working on last Wednesday.

[2018-05-11 22:33] doutriaux1 commented on #349
@dnadeau4 I got it sorted out. You actually print a message but return CMOR_NORMAL or soemthing error, so it keeps going and then seg fault before the message gets to the log

[2018-05-11 22:33] doutriaux1 commented on #349
@dnadeau4 I'm on it, will fix shortly

[2018-05-11 22:54] doutriaux1 commented on #349
@taylor13 the fact that this is empty is actually caught but triggers a `CMOR_NORMAL` error, hence the program continues and seg fault a bit later. I think we need to return a `CMOR_CRITICAL`

[2018-05-11 22:55] doutriaux1 commented on #349
@taylor13 @dnadeau4 alternatively I can catch it also where it creates the seg fault and return another `CMOR_NORMAL` error there.

[2018-05-11 22:58] doutriaux1 commented on #349
@taylor13 now that it keeps doing I see that later it says:
[code]

What do we want

* critical error if attribute is required and not defined
* critical error if empty ? (caught a bit later)
* normal error if empty (won't be defined I guess)
* error and set to `none` (or just warning?)

[2018-05-14 11:18] wachsylon commented on #346
[code]

[2018-05-14 12:12] doutriaux1 commented on #346
@wachsylon I just took over CMOR from @dnadeau4 I will look into this, please post the whole source as well it can't hurt 😉

[2018-05-15 15:49] wachsylon commented on #273
@taylor13 Yes and I agree with all your points.

[2018-05-18 14:16] wachsylon opened #351 ""Alevhalf" dimension but "alternate hybrid sigma pressure" axis"
Hi,
I try to convert variables requested on "alevhalf" dimension which requires [no bounds](http://clipc-services.ceda.ac.uk/dreq/u/dim:alevhalf.html). However, the model uses a "alternate hybrid sigma pressure" axis which [must have bounds](https://github.com/PCMDI/cmip6-cmor-tables/blob/2e2fb6058b495a7de94415007df3c73a2c51fbb4/Tables/CMIP6_coordinate.json#L241). If I try to register a z_axis wit

[2018-05-18 14:18] wachsylon commented on #351
[Phalf](https://github.com/PCMDI/cmip6-cmor-tables/blob/2e2fb6058b495a7de94415007df3c73a2c51fbb4/Tables/CMIP6_AERmon.json#L1727) would be such a variable for example.

[2018-05-18 14:52] wachsylon commented on #351
In CMIP5 data I can see that the "alternate hybrid sigma pressure" axis is provided with bounds for those half levels. Is this the way to go in CMIP6 as well?

[2018-05-20 15:02] taylor13 commented on #351
No, there should be an option to write the half-levels as the coordinate values and not include any bounds.  In the data request some variables are a function of alevel, and others are a function of alevhalf.  I think we either need to add new entries to the CMOR table for all the model level coordinates or make CMOR smart enough to know that variables that are a function of alevhalf don't have bo

[2018-05-21 22:28] taylor13 commented on #351
@wachsylon It would help us decide what to do here if you would check what happens if you supply artificial bounds for the half-level coordinates.  I know from a modeling perspective, we don't want bounds in this case, but we're exploring options for a work-around, and we want to make sure we understand the problem.

In particular, when you say (https://github.com/PCMDI/cmor/issues/351#issue-32442

[2018-05-21 23:26] taylor13 commented on #349
That warning for "sub_experiment" is unrelated to "source".

Also, @dnadeau4 says that some of the code is no longer needed.  If we eliminate it, it might fix the problem.

The user doesn't have to define all the "required" attributes.  CMOR can define some of them by looking at the CV's.  For example, given source_id, CMOR can generate the "source".  Given the institution_id, CMOR can generate th

[2018-05-22 11:40] doutriaux1 commented on #349
@taylor13 I will run some tests to answer these questions. Back soon 😉

[2018-05-22 11:45] wachsylon commented on #351
I just asked myself what bounds can actually be in the case of the alevhalf dimension. For me, these half-level are the actual bounds of the axis the model used. However, I searched in Dreq and found

[under this link](http://clipc-services.ceda.ac.uk/dreq/u/dim:alevhalf.html). When you say

do you mean the axis must not have bounds? It could be hard in this case to find a work-around.

I am sorry

[2018-05-22 11:48] doutriaux1 commented on #351
@wachsylon I was talking about this with @taylor13 yesterday, he feels we might need to create new entries for half levels coordinate with `"must_have_bounds":"no"`
@taylor13 is that the way you want to go?

[2018-05-22 11:58] wachsylon commented on #351
The problem however is that all atmospheric axes can be provided for `alevhalf`, correct? So it could be better to teach CMOR to ignore this attribute `"must_have_bounds":"no"` when `alevhalf` is the dimension. This again is hard since function `cmor_axis` needs to be called before `cmor_variable`...

[2018-05-22 12:18] wachsylon commented on #351
A suggestion: What about having a coordinate attribute that points to another coordinate? That reduces the repetition in the coordinate.json. In this case we could have sth like:
[code]
All attribute specifications of "alternate_hybrid_sigma_half" overwrite the linked axis attribute specifications, the rest is taken from the linked axis. This could be also translated to single coordinates, e.g.:
[

[2018-05-22 13:34] doutriaux1 commented on #351
@wachsylon it's a good suggestion, maybe a bit late in the game though, at this point considering the amount of time we can dedicate to CMOR it might not be implemented right away.

[2018-05-22 20:46] taylor13 commented on #351
@wachsylon:  @doutriaux1 and I considered the options and decided we'll make CMOR smarter by:

1) adding half-level versions of all the atmospheric parametric vertical coordinates (those with "zfactors"), and set for these must_have_bounds="no".  The table entry names will be the same as for the alevel version but with "half" appended (e.g., "standard_sigma" becomes "standard_sigma_half")
2) addin

[2018-05-22 22:11] taylor13 commented on #351
The variables that should be identified as generic_level_name = "alevel" are:
alternate_hybrid_sigma
hybrid_height
natural_log_pressure
smooth_level
standard_hybrid_sigma
standard_sigma

For each of the above we need to add a half-level version with generic_level_name = "alevhalf".

The variables that should be identified as generic_level_name = "olevel" are:
depth_coord
ocean_double_sigma
ocean_s

[2018-05-23 12:10] #349 closed

[2018-05-23 17:51] dnadeau4 commented on #245
@ehogan @jonseddon  just to let you know that @doutriaux1 is now working on CMOR3.  How are you doing with CMIP6?  I have not heard from you in a long time.

[2018-05-24 07:04] jonseddon commented on #245
Hi @dnadeau4, the PRIMAVERA project has CMORised much of its HighResMIP data already with CMOR3. We have 587 TB  of CMORised data on our analysis system at CEDA, which users are analysing and have already submitted several papers from. We contributed a couple of terabytes of CMORised data to the recent ESGF data challenges and so our data will be made available to the wider community as soon as th

[2018-05-25 09:31] tommibergman opened #354 "CMOR.write fails on OSX in validation of attributes"
I have a case where the CMOR is trying  to validate the license information for our model during writing and complains about an error on OSX. I am using the python bindings for CMOR. The same case works fine on ECMWF supercomputer.

I attach here the error message:

! In function: _CV_ValidateAttribute
! called from: _CV_checkGblAttributes
! called from: cmor_write
!

!
! Error: The attribute "lic

[2018-05-25 12:12] doutriaux1 commented on #354
@tommibergman I ran into something similar on a side test case this week. Thanks for reporting, do you mind attaching the file containing your license info on here. I'm worried copy/pasting might remove some*invisible* characters.

[2018-05-25 14:03] taylor13 commented on #354
Why should this problem be occurring all of a sudden?  It's been working for months.

[2018-05-25 14:09] doutriaux1 commented on #354
@taylor13 might be an invisible character, might be a change in Python regex, as I said once I get the file from @tommibergman I will investigate further.

[2018-05-25 14:12] tommibergman commented on #354
We use this file  for the metadata. Had to zip it, JSON is not supported here.
[metadata-template.json.zip](https://github.com/PCMDI/cmor/files/2039640/metadata-template.json.zip)

[2018-05-25 14:47] doutriaux1 opened #355 "check new tables"
(This is a copy of an email exchange.  Karl's text is in normal font, while Martin's comments are in bold italic font.)

I note the following changes to the data request might need our attention:

1) long comments: I think we should try to avoid the "long comments".  They clutter up the ncdumps of files and I think CMOR can only handle up to 1024 characters.

**_There are 49 variables with long co

[2018-05-30 15:46] durack1 commented on #355
@doutriaux1 I agree with your statement, the test suite will likely need to be augmented to make sure these changes above don't break anything..

[2018-06-01 16:49] wachsylon opened #357 "Unstructured Grids"
Hi,
I have a file with a triangular mesh grid. It contains:
[code]
with
`	double lon_vertices(ncells, nv) ;
	double lat_vertices(ncells, nv) ;`

My approach, similar to Curvilinear-Grids, is:
[code]
I received:
[code]
with
`	float vertices_longitude(i) ;
	float vertices_latitude(i) ;`
Due to #162 I am confused: Should it be possible at all to process such a file with CMOR?

I am not sure about thi

[2018-06-01 18:28] taylor13 commented on #357
I know little about triangular mesh grids, but it seems odd that the number of vertices is declared to be 16, rather than 3 (for a triangular cell).  Also, I don't understand why ntriags (number of triangles in the mesh??) isn't the same as ncells (number of cells in the mesh??)   Is there some logical structure by which the triangles are grouped into cells?

[2018-06-01 21:50] taylor13 commented on #245
@jonseddon -- Wow, 587 TB is pretty impressive.  Let us know of any issues that arise (or were previously raised and not addressed).  Thanks for your support.  @doutriaux1  is continuing to correct problems with CMOR3, as they are identified, and @dnadeau4  is available for consultation.

[2018-06-04 12:51] doutriaux1 commented on #357
@wachsylon I'm not sure if this is a question for @taylor13 or a bug? Either way please provide us with a short sample code it will help move this faster.

[2018-06-04 14:51] wachsylon commented on #357
For me it seems odd too and I am in contact with the grid description creator to clarify the structure first. In the mean time, I am trying to find out why CMOR does not process the second vertices dimension. I hoped you may already have experiences with triangular meshes in CMOR. But anyway, I try to find out what is happening at all - you do not need to do anything, thanks.

Actually it is not t

[2018-06-05 08:46] wachsylon commented on #357
This is the answer I received from the grid description creator:
We output all values on the nodes, not in the middle of triangles or tetrahedrons.

To calculate the area for which a node is representative, we need the centroids of the surrounding triangles and the medians of the edges of the surrounding triangles.

In the case of equilateral triangles we would have 6 surrounding triangles around

[2018-06-05 13:30] wachsylon commented on #357
@taylor13
1. Is there a CMIP standard for triangular meshes in general and for such a grid in particular?
2. Should CMOR be able to produce this?

@doutriaux1
In general, if a grid with one dimension and vertices for lat/lon should be produced with CMOR, the code needs to be slightly changed: If I call `cmor_grid` with only one dimension, the second dimension in the `cmor_variable` call of `vertic

[2018-06-06 16:07] doutriaux1 commented on #354
@tommibergman

I just used your file (in Test directory), and ran cmor off of master on it and it worked on both Linux and Mac OSX, does the following works for you

[code]

[2018-06-06 20:16] doutriaux1 commented on #354
@tommibergman notice that your `metadata-template.json` file needs to have the `calendar` attribute added.

[2018-06-07 11:35] tommibergman commented on #354
The attached scripts fails also on the validation of license. It seems this is related to my setup. Do you have any idea, where I could look to solve the problem? I am using anaconda distribution with cmor  3.3.2.npy1.13.

[2018-06-07 15:44] doutriaux1 commented on #354
That's ineteresting. Same as me. Which conda do you use?
[code]

[2018-06-07 15:46] doutriaux1 commented on #354
@tommibergman also can you post the result of `env`

[2018-06-08 12:09] wachsylon opened #359 "cell_methods=time: sum"
Hi,
in CMIP6_Eyr we have fracInLut and fracOutLut which have the attribute cell_methods=time: sum and the dimension time. In this case of dimension time, CMOR would set the time value of a record in the center of the interval given by the time bounds, wouldn't it? Is this the correct setting? An alternative would be to have the time value at end of the interval is also an option for a sum.
Best re

[2018-06-08 14:22] doutriaux1 commented on #359
@taylor13 this one is for you 😉

[2018-06-08 17:05] doutriaux1 commented on #343
fixed in #352

[2018-06-08 17:05] #343 closed

[2018-06-14 11:35] senesis commented on #246
In the [DR issue referenced above](https://github.com/cmip6dr/CMIP6_DataRequest_VariableDefinitions/issues/336), the problem is presented in a CMOR-agnostic way, as the issue is rather due to combination of DR content and CMIP6 output formating guidelines. No PR merge will fix the issue for those centers which do not use CMOR

[2018-06-18 08:38] tommibergman commented on #354
Here you go, conda seems to be the same.

conda --version
conda 4.5.4

BIBINPUTS=.:/Users/bergmant/bib
PROJ_LIB=/Users/bergmant/conda/anaconda2/envs/ece2cmor3/share/proj
_CONDA_SET_PROJ_LIB=PROJ_LIB
TERM_PROGRAM=Apple_Terminal
TERM=xterm-256color
SHELL=/bin/bash
TMPDIR=/var/folders/s2/vnfxv48n15vcgjrgl8r_9fmm0000gn/T/
CONDA_SHLVL=1
Apple_PubSub_Socket_Render=/private/tmp/com.apple.launchd.bzqGcMnB

[2018-06-20 17:01] #351 closed

[2018-06-20 20:14] #305 closed

[2018-06-21 06:32] senesis commented on #305
except maybe for those who were allowed to use DR01.00.21, isnt'it ?

[2018-06-27 21:10] taylor13 commented on #324
@delong260 Please let us know whether you have been able to use CMOR.  Can we close this issue?

[2018-06-27 21:13] delong260 commented on #324
I'm sorry, I've been sidetracked on other issues and we've moved on from this part of the project.  Feel free to close the issue for the time being.

[2018-06-27 21:13] #324 closed

[2018-06-28 00:30] doutriaux1 commented on #332
@dnadeau4 is https://github.com/PCMDI/cmor/commit/c38e4ad9086812d25c3e83d8f5ccc02bd552e8cf part of any branch? Is that in the stuff you're going to merge from the prepare branch? Should I take over that branch and do the merge myself?

[2018-06-28 00:31] doutriaux1 commented on #355
@taylor13 this done we can close once I sent the 3.3.3 annoucement

[2018-06-28 10:29] wachsylon opened #365 "tracking_id prefix"
Hi,
in the CMIP6_CV we have the regex for the tracking_id including a prefix which, as far as I understood, together with the tracking_id, build a PID. This implies that CMOR generates output with a PID.
I am developing a CMOR application which is distributed widely and relatively easy to use. Therefore, I worry that files will be created with a PID which never will be published in the ESGF. I kno

[2018-06-28 15:41] taylor13 commented on #355
Were all 6 items in  https://github.com/PCMDI/cmor/issues/355#issue-326554049 addressed?  I think we should make sure Martin knows about the 1st item before closing this.

[2018-06-28 16:05] taylor13 commented on #365
Hi Fabi,
Not sure I'm following (and I'm not that familiar with the terminology), but just because a unique string is generated by CMOR (e.g., for CMIP6 of the form “hdl:21.14100/<uuid>”), that doesn't mean that this will necessarily be resolvable.  If for some purpose you want the prefix to be different (or omitted), you can modify the input specifications to CMOR (e.g., in CMIP5 the prefix was o

[2018-06-28 16:16] wachsylon commented on #365
I would need to change the CV input for CMOR because it requests a regex for the `tracking_id`. This is nothing what anyone would (like to) do :)

[2018-06-28 16:21] wachsylon commented on #365
What does resolvable mean in that case? I am also not familiar with PIDs.

If I do not need to worry, OK.

[2018-06-28 17:04] wachsylon commented on #365
I was told that it would be "not nice" if there are PIDs for data which has not been published yet. That however will be the case because CMOR is used testwise or for other reasons and the output could be shared without letting anyone know.

This is probably the problem: It seems to be resolvable but it is not. The flag does not change the check of the CV: When I omit `tracking_prefix` and `_cmip6

[2018-06-28 17:20] taylor13 commented on #365
this indeed appears to be a bug.  Might be just a problem with the input configuration file.  Will look into it with help from @doutriaux1 .

I think indeed it would not be ideal if something with "hdl:21.14100" as a prefix led to nowhere.  But without the "handle" prefix, there should be no expectation that the tracking i.d. is "persistent" in the sense that it is recognized somewhere in web spac

[2018-06-28 17:32] wachsylon commented on #365
I think "bug" might not be the right word because I would expect CMOR to tell me that my `tracking_prefix` does not match the requested `tracking_id` regex. But it would be nice to have an option to omit the tracking_prefix while using the CMIP6_CV and without having a CMOR termination.

[2018-06-28 17:35] wachsylon commented on #365
Yes, I do!

[2018-06-29 10:07] wachsylon commented on #365
OK I consulted a colleague which knows more about the PID workflow and he said that it would be better if climate data produced by modeling groups contains a PID with the risk that this will remain unregistered/unresolvable than if climate data produced by modeling groups does not contain one so that it can not be published - the data cannot be modified within the ESGF/PID workflow.

However, I co

[2018-06-29 10:29] durack1 commented on #365
@wachsylon if you remove `tracking_id` from the `required_global_attributes` field, in addition to turning off the CMIP6 flag does that provide you with the functionality you want (even though you now seem not to care that CMOR is writing tracking_id values)?

FYI, CMIP6 is using the prefix `hdl:21.14100`, whereas obs4MIPs is using `hdl:21.14102`.

[2018-06-29 11:06] wachsylon commented on #365
This needs to be done in the CMIP6_CV but I do not want change it and create something like CMIP6_CV_TEST.

I did not worry about the `tracking_id` but rather the PID (prefix+`tracking_id`).

This means, we can leave CMOR how it is. However, it would be great to have an option switch off the terminating regex check and I like the idea that it could be switched off when the `_cmip6_option` is omitt

[2018-06-29 11:09] wachsylon commented on #365
I know that this contradicts the meaning of a CV but could not a warning be sufficient if `_cmip6_option` is switched off?

[2018-07-02 16:34] durack1 commented on #365
@wachsylon can you please explain in a little more detail what you are planning on doing with CMOR? It seems to me that we're not actually answering your question, and I get the impression that preparing CMIP6 data is not the only goal you have for your software.

As an FYI, we are using CMOR3 across a number of non-CMIP6 projects, primarily obs4MIPs and input4MIPs which have subtly different meta

[2018-07-03 15:25] wachsylon commented on #365
I am glad you ask :)
I plan to integrate CMOR into the [CDOs](https://code.mpimet.mpg.de/projects/cdo/) and simplify the CMOR application by exploiting the information gained by the CDO's interface. The user will be able to apply CMOR by only calling `cdo cmor,<MIP-table> infile` which will generate CMIP6 conform output. Of course, the user has to configure the operator correctly and needs to prov

[2018-07-03 16:32] durack1 commented on #365
@wachsylon yep, we have demos for input4MIPs [here](https://github.com/PCMDI/input4MIPs-cmor-tables/blob/master/demo/MRI-JMA-JRA55-do-1-3/mriJRA55-do-input.json) and obs4MIPs [here](https://github.com/PCMDI/obs4MIPs-cmor-tables/blob/master/demo/rssSsmiPrw-input.json) for each I have linked to the CMOR input.json file

[2018-07-04 14:53] treerink opened #366 "Should we use cmor 3.3.3 already?"
Hi,

Our ece2cmor3 package which relies on cmor is broken. We wonder whether we should update to the following cmor package: `linux-64/cmor-2018.06.28.master.npy1.14-py27h9ac9557_0` as it is not marked as `main`? Or do we better wait (is it coming in a few days for instance?).

A second question we have: Any idea when the cmor tables will be based on data request 01.00.26? Is this soon or is there

[2018-07-04 16:56] durack1 commented on #366
@treerink did you need numpy 1.14? If so the latest CMOR 3.3.3 is available, see [here](https://anaconda.org/PCMDI/cmor/labels)

What do you mean by "broken"?

[2018-07-05 08:56] treerink commented on #366
In fact I am looking for a "main" package for cmor 3.3.3 with the following dependencies:
hdf5 **1.10**.*, libnetcdf **>=4.4**, python >=2.7 and numpy 1.13.* but I think numpy 1.14 is not a problem.

I tried cmor-2018.06.28.master.npy1.13-py27h9ac9557_0 as its dependencies seem to be alright for us, but could not properly include it in my .yml file.

[2018-07-05 13:15] goord commented on #366
Hi, the issue is that it seems that the newly released CMIP6 tables (drq 24) need the library version 3.3.3 to properly work, older versions crash when trying to load certain tables. However, the 3.3.3 release is only built with a 'nightly' label, which makes it difficult for us to include as a dependency (we cannot make conda find those builds...)

[2018-07-05 13:33] matthew-mizielinski commented on #366
Can I advise caution with the latest version of the data request/mip tables -- as noted in PCMDI/cmip6-cmor-tables#184 and cmip6dr/Request#82 there is an error in the data request at version 01.00.24 (fixed in 01.00.26) that has propagated into the MIP tables leading to a faulty long name for the longitude coordinate.

[2018-07-06 10:03] wachsylon opened #367 "PrePARE missing _FillValue exit"
Hi,
I have data files with variables which do not include _FillValue and _MissingValue attributes. This causes the following error wihtin PrePARE:
[code]
However, I would like to have an overview about all missing or wrong variable attributes so PrePARE should not exit at this point without checking the other ones. I installed it via conda.
Is there already an option to ignore that error or is it

[2018-07-07 04:03] taylor13 commented on #367
As you know, PrePARE is tailored to examine files that are to be published on ESGF with metadata conforming to the CMIP6 specifications.  For CMIP6 the variable attributes missing_value and FillValue are required, but I'm surprised that PrePARE  checks that they are there, but if it does this is desirable for CMIP6.  If you look at the code, let us know what you find.
thanks,
Karl

[2018-07-07 04:11] taylor13 commented on #366
I'm on vacation (interrupted by a pathetic reluctance to let things play out without my input), but I might suggest that if you can possibly wait a week or two, the data request specifications will be pretty much finalized (standard names have now been all approved , but one), and any outstanding issues with CMOR3 should be resolved.
If you can't wait, others will have to advise.

[2018-07-07 04:29] taylor13 commented on #332
I haven't rechecked, but last time I looked the correct if-test specified in https://github.com/PCMDI/cmor/issues/332#issuecomment-385495922 had not been implemented. That's why I reopened.

[2018-07-07 15:32] treerink commented on #366
Thanks for informing us. Yes we will wait a couple of weeks - also here vacation time soon. In the mean while, fortunately, we have been able to fix `ece2cmor3` by using a cmor-3.3.3 "nighly" version. For us, because ece2cmor also relies on conda cdo (which requieres hdf5 1.10), it simplifies a lot that the latest cmor 3.3.3 packages depend on libnetcdf 4.6. So we are happy if a "main" version wil

[2018-07-09 14:20] doutriaux1 commented on #366
@treerink I will release the new tables on wednesday (most likely, but maybe earlier). Any chance you can send us a small (python?) script that reproduces you issue, so I can add it to the test suite?

[2018-07-10 07:50] treerink commented on #366
@goord Gijs do you think we can provide a kind of lookup loop which covers typically our cmor table - cmor library use? Because running ece2cmor3 tests won't be handy I guess, too much other dependencies and development dependency.

[2018-07-11 22:21] goord commented on #366
Hi, the error occurs when loading the grids table under cmor-3.3.2 (python wrapper):
[code]
The code above crashes with a message:
[code]
for the newest version of the cmip6-cmor-tables

[2018-07-16 13:22] wachsylon commented on #367
Just to be clear: I think it would be good for data providers - who want to publish data via ESGF - to know _all_ attributes that are missing in the files instead of only `_FillValue`.

I saw that the code causing this error was changed since commit
6ce9ee2320e82c72a93ab15dd3993f401201bb92
so I will once more check whether I used an old version however I am pretty sure that I used the newest Conda

[2018-07-16 14:03] wachsylon commented on #367
And when I include the missing file from the github repo:
`cp cmor-git/LibCV/PrePARE/out_names_tests.json /mnt/lustre01/work/bm0021/miniconda2/envs/cmor/lib/python2.7/site-packages/cmip6_cv/PrePARE/out_names_tests.json`
I receive again:
[code]
which corresponds to the previous error.

[2018-07-18 13:08] wachsylon commented on #365
OK I will try to create a temporary CV which I will delete when the program will end.

[2018-07-18 14:10] doutriaux1 commented on #366
@treerink @goord thanks for this please also try to cmor available currently from conda-forge channel
[code]

[2018-07-18 14:26] doutriaux1 opened #369 "Tag CMOR 3.4.0"
- [x] Change configure.ac to `3.4.0` and rerun `autoconf`.
- [x] Verify that optimization is disable from setup.py.in.
- [x] Review all issue lists and close all redundant issues (move unresolved issues to next milestone)
- [x] Validate version info is correctly written (CMOR version should be `3.4.0`)
- [x] Validate data_specs_version written ([`01.00.XX`](https://www.earthsystemcog.org/projects/

[2018-07-18 14:49] durack1 commented on #365
@wachsylon I think you'll be able to reuse the CVs from input4MIPs, obs4MIPs and CMIP6. Across all these projects, you're going to capture most of the metadata requirements. If you wanted a generic option, then you could reduce the number of global attributes - all the project specific ones.

[2018-07-18 15:41] durack1 commented on #369
@doutriaux1 the `Tag 3.4.0 WCRP-CMIP/CMIP6_CVs` is now redundant as we have implemented the repo versioning independently, so it's been struckthrough above

[2018-07-18 19:16] aradhakrishnanGFDL opened #372 "license attribute again"
I notice an error in license attribute in this version of tables and PrePARE. I remember a similar one logged in here https://github.com/PCMDI/cmor/issues/248

:license = "CMIP6 model data produced by NOAA-GFDL is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License (https://creativecommons.org/licenses/). Consult https://pcmdi.llnl.gov/CMIP6/TermsOfUse for terms of u

[2018-07-18 19:44] aradhakrishnanGFDL opened #373 "invalid path out_names_tests.json"
https://github.com/PCMDI/cmor/blob/master/LibCV/PrePARE/PrePARE.py#L371

This file seems to be expected for a successful run. Is that correct? Please let us know what we might be missing.

/cmip6_cv/PrePARE/out_names_tests.json

Traceback (most recent call last):
  File "/home/pcmdi/.conda/envs/cmor/lib/python2.7/site-packages/cmip6_cv/PrePARE/PrePARE.py", line 898, in <module>
    main()
  File "

[2018-07-18 20:02] aradhakrishnanGFDL commented on #373
In the GitHub repo, the file seems to exist. When I did the installation from anaconda, I'm not sure its available. What route of installation is recommended? Can I just use this GitHub repo ..might be easier since we only use PrePARE bits.

[2018-07-18 20:57] doutriaux1 commented on #373
per @dnadeau4

[code]

[2018-07-18 21:05] doutriaux1 commented on #372
@aradhakrishnanGFDL good catch, @dnadeau4 made some change to our cronjob and apparently we have a typo on the license now. I'll try to fix this right away. Will let you know.

[2018-07-18 22:07] doutriaux1 commented on #372
@aradhakrishnanGFDL ok I updated master of cmip6-cmor-tables, you should be good to go now. Thanks again for spotting this and apologies for the inconvenience this created.

[2018-07-18 23:19] doutriaux1 commented on #373
@nadeau4 i think this is due to the prepare pr mergw, guillaume is using the egg resource thing i think. will take a look at the best way to fix this.

[2018-07-18 23:22] doutriaux1 commented on #373
i think we niw need to use something like bellow
[code]

[2018-07-23 05:50] wachsylon commented on #365
This is my solution: In 'cdo cmor' you can now set "tracking_prefix=n". This causes the program to make a copy of the CMIP6_CV with one change: The regex of the tracking_id in the CV is set to "*" so that anything is allowed. This new CV is saved as a "CV_without_prefix.json" file.

I will not tell users what the program does in the background. The default for "tracking_prefix" is "y(es)" but I wi

[2018-07-23 05:50] #365 closed

[2018-07-23 16:03] durack1 commented on #365
@wachsylon this is your software, but not sure that you want all the CMIP6_CVs and metadata to be written to all files all the time. I would suggest documenting these options well, and possibly pointing to the other examples (input4MIPs and obs4MIPs [above](https://github.com/PCMDI/cmor/issues/365#issuecomment-402217670)) so that an expert user can inform themselves

[2018-07-24 08:33] ehogan opened #374 "Error handling with CVs"
Running CMOR 3.3.3 with version 01.00.27b1 of the MIP tables for a single variable works, even though the cmor log contains the following error:

[code]

This error only causes CMOR to fail when attempting to produce more than one variable:

[code]
Note the additional message `Error: Cannot continue until you fix the errors listed above: -1` in the more than one variable case. The first variable i

[2018-07-24 15:35] doutriaux1 commented on #374
Hi @ehogan thanks for reporting this. I will fix this promptly! I really appreciate the detailed error report and test you provided! It will save us a lot of time.

[2018-07-24 15:37] ehogan commented on #374
No problem! :)

[2018-07-26 17:58] aradhakrishnanGFDL commented on #372
NP. Thank you @doutriaux1 for the quick fix! Works fine now.

[2018-07-26 22:11] taylor13 commented on #372
Please close this issue.

[2018-07-26 23:01] #372 closed

[2018-07-29 16:03] taylor13 opened #375 "Error in PrePARE check of parent"
Guillaume wrote:
[code]
The answer to the first question is "no".
The answer to the 2nd question is that, someone should indeed correct this error.

I think Guillaume knows how to fix this.  *Someone* should fix it this week.

[2018-07-30 14:38] doutriaux1 commented on #374
@ehogan thanks for catching this again. I looked into this.
good news one is that the error is not really important it is due to that `27b1` is not *valid* should be `27` really, but we're waiting i=on the final version.
good news two is that in my "3.4" future branch (probably also in nightly tonight). This is actually intercepted in python via:
[code]

This change is necessary for fortran to exi

[2018-07-30 18:11] #374 closed

[2018-07-31 12:46] ehogan commented on #374
Hi @doutriaux1, I just tried testing master but it's not doing as I would expect. My apologies; I realise I wasn't very clear in my first comment.

The case that I've marked `This works` in the example shouldn't actually work; this case should fail and CMOR should exit, since an error is raised.

I've submitted a pull request to fix the problem: #381 :)

[2018-07-31 16:08] doutriaux1 commented on #374
@ehogan awesome! thanks!

[2018-08-01 17:39] taylor13 commented on #321
@wachsylon Have we adequately addressed your questions?  Can we close this, or is there something more to be done?

[2018-08-01 17:44] taylor13 commented on #283
@glevava @doutriaux1 Do you agree that this issue has been fully addressed?  If so, we can close.

[2018-08-01 17:50] taylor13 commented on #245
@ehogan Have the recent changes to error treatment addressed this issue?  If not, perhaps you can summarize what's needed.
thanks.

[2018-08-01 17:52] glevava commented on #283
Yes using a kind of "unit test" into "out_names_tests.json"

[2018-08-01 19:17] taylor13 commented on #235
I don't see that this has been addressed.  Was it closed by mistake?

[2018-08-02 09:30] wachsylon commented on #321
Lets close it. Right now I do not remember anymore what I wanted to say in 50% of the above comments. Maybe I will come back to that later.

[2018-08-02 09:30] #321 closed

[2018-08-02 12:42] ehogan opened #385 "Python error handling no longer works on master"
Hi @doutriaux1, @taylor13,

I was attempting to follow up with #245 by running some tests with master and I realised that the Python error handling I introduced in #86 no longer works; now when I run CMOR, instead of seeing, e.g.

[code]

(from CMOR 3.3.0), I now see:

[code]

which was exactly the issue I was trying to avoid!

In #374 @doutriaux1 [mentioned](https://github.com/PCMDI/cmor/issues/3

[2018-08-02 13:49] ehogan commented on #245
Here is an example based on https://github.com/PCMDI/cmor/blob/master/Test/test_python_CMIP6_experimentID.py that demonstrates the issues described here:

[code]

**except** I changed `experiment_id` to `highres-future` in `common_user_input.json`. When I run this script CMOR doesn't complain and produces the output netCDF file, but there is an error message in the log:

[code]

Firstly, CMOR does

[2018-08-02 15:24] doutriaux1 commented on #385
@ehogan unfortunately it was not possible to do it any other way. For now just trap your code with a `try/except KeyboardInterupt` statement.

[2018-08-02 15:59] matthew-mizielinski commented on #385
Sorry @doutriaux1, this isn't acceptable -- we won't be able to pick up a version of CMOR where it looks like the user hit Ctrl-C when something goes wrong with in the `cmor.write` step.

We rely on messages such as the `_cmor.CMORError` to allow us to catch where things have gone wrong with the processing of a variable among sets of hundreds of variables. Any change to this sort of behaviour as w

[2018-08-02 17:49] doutriaux1 commented on #385
@matthew-mizielinski I see your point, I'll look into this further, maybe separate behavior for Fortran.

[2018-08-02 17:51] doutriaux1 commented on #385
@matthew-mizielinski but it's not really disturbive, simply change
[code]
to
[code]

[2018-08-03 17:57] aradhakrishnanGFDL opened #386 "branch_time_in_parent global attribute"
Hi @doutriaux1

If there is no parent experiment, is it correct that branch_time_in_parent can be omitted or set to the 0.
per https://www.earthsystemcog.org/site_media/projects/wip/CMIP6_global_attributes_filenames_CVs_v6.2.6.pdf

Or, is this attribute mandatory for PrePARE? We ask because we ran into an issue with this recently (CIM expects omission I think)

https://github.com/PCMDI/cmor/blob/m

[2018-08-03 18:03] doutriaux1 commented on #386
@aradhakrishnanGFDL this is definitely a question for @taylor13, sorry about that. I think @taylor13 might be off today.

[2018-08-03 18:33] doutriaux1 commented on #386
@aradhakrishnanGFDL I chit-chatted with @durack1 about this. Our expectation is that it should. Please let me know if it doesn't.

[2018-08-03 18:37] taylor13 commented on #386
This is the same bug as identified 5 days ago in https://github.com/PCMDI/cmor/issues/375
If no parent, CMOR/PrePARE should be consistent with  https://www.earthsystemcog.org/site_media/projects/wip/CMIP6_global_attributes_filenames_CVs_v6.2.6.pdf

[2018-08-03 18:42] doutriaux1 commented on #386
@taylor13 thanks. Ok so it will be fixed shortly (hopefully today)

[2018-08-03 18:46] doutriaux1 commented on #385
@matthew-mizielinski @ehogan ok I addressed this in https://github.com/PCMDI/cmor/pull/387

The idea is that C and Python revert to SIGTERM by default and Fortran stays with SIGINT for default

While at it I add a few function to let the user set the `terminate` signal to whatever signal is desired.

[2018-08-03 18:46] doutriaux1 commented on #375
The idea is that C and Python revert to SIGTERM by default and Fortran stays with SIGINT for default

While at it I add a few function to let the user set the terminate signal to whatever signal is desired.

[2018-08-03 19:10] aradhakrishnanGFDL commented on #386
@doutriaux1 A colleague of mine ran into an error when this attribute was omitted in the netCDF file (PrePARE on esgf).
But, in the version of PrePARE I installed from conda (pcmdi/label/nightly) yesterday, I do not run into this error ..i.e. no complaints if the attribute  branch_time_in_parent is missing. In my test case, there is no parent. So, this seems like what we'd like at this time. I am

[2018-08-03 19:37] taylor13 commented on #385
If @matthew-mizielinski and @ehogan are happy, it's fine with me. Perhaps Emma could test it before we do the next release.

[2018-08-03 19:39] doutriaux1 commented on #385
@ehoganI added the install from source instructions at: https://cmor.llnl.gov/mydoc_cmor3_github/

[2018-08-03 19:39] doutriaux1 commented on #385
@ehogan I added the install from source instructions at: https://cmor.llnl.gov/mydoc_cmor3_github/

[2018-08-03 19:43] doutriaux1 commented on #344
@taylor13 I think it's here: https://cmor.llnl.gov/mydoc_cmor3_fortran/

[2018-08-06 10:17] ehogan commented on #385
Many thanks @doutriaux1 @taylor13 for fixing this issue; it is very much appreciated :) I'm more than happy to test this once the branch has been merged into master :)

[2018-08-06 13:50] doutriaux1 commented on #385
@ehogan it would be preferable to test before it's in master though!

[2018-08-06 13:57] ehogan commented on #385
No problem :)

[2018-08-06 15:53] ehogan commented on #385
Everything looks good to me! Thank you very much! :D

[2018-08-06 18:58] doutriaux1 opened #389 "cmor documentation"
We should move the cmor documentation back as part of the repo.

[2018-08-06 18:59] doutriaux1 commented on #389
and up to readthedocs

[2018-08-06 19:00] doutriaux1 commented on #389
doc repo is at: https://github.com/PCMDI/cmor3_documentation

[2018-08-06 19:08] #386 closed

[2018-08-06 19:08] #375 closed

[2018-08-07 16:55] taylor13 commented on #332
In https://github.com/PCMDI/cmor/issues/332#issuecomment-385495922 , the < symbol should be replaced with symbol for less than or equal to.  Thanks, @doutriaux1 , for catching the error.

with this change the test will be passed even if both the fill value and table value are 0.0

[2018-08-07 17:30] doutriaux1 commented on #366
@goord the above snippet seems to work I think we can close this. Feel free to re-open if necessary.

[2018-08-07 17:43] #355 closed

[2018-08-08 00:18] mauzey1 opened #392 "Shouldn't include/cmor_locale.h be in .gitignore?"
I've noticed that the file generated by include/cmor_locale.h.in is being committed every time it gets modified.  This header file contains the prefix path used to install CMOR.

[2018-08-08 14:01] doutriaux1 commented on #392
@mauzey1 yes, I keep meaning to do it. Yes please remove https://github.com/PCMDI/cmor/blob/master/include/cmor_locale.h from the repo and add it to .gitignore

[2018-08-08 21:43] #392 closed

[2018-08-09 08:32] senesis opened #394 "PrePARE has troubles with experiments having multiple activities"
According to https://github.com/WCRP-CMIP/CMIP6_CVs/blob/master/CMIP6_experiment_id.json, experiment piClim-aer has  :
`"activity_id":[ "RFMIP", "AerChemMIP" ]`

According to document [CMIP6 Global Attributes, DRS, Filenames, Directory Structure, and CV’s](https://docs.google.com/document/d/1h0r8RZr_f3-8egBMMh7aqLwy3snpD6_MrDz1q8n5XUk/edit), in CMIP6,

with such an example :

However, PrePARE (as

[2018-08-09 15:10] doutriaux1 opened #395 "PrePARE hangs with Pool"
from @aradhakrishnanGFDL

[code]

@glevava I think you implemented the Pool section, do you mind taking a look?
@mauzey1 you can take a look if you want, but I think @glevava can point us in the right direction first.

[2018-08-09 15:40] aradhakrishnanGFDL opened #396 "PrePARE aborts if source_type is incorrect"
@doutriaux1  I had a wrong source_type in one of my test files. PrePARE rightly identified that, but doesn't get past that error to check errors in other section as it normally would do for something.

I believe this section prints an "Abort" message and doesn't go further to display the error count, etc.
  self.errors += cmip6_cv.check_sourceID(table)
(sequential processing here)
Example

C Trace

[2018-08-09 15:46] taylor13 commented on #396
Are you sure in other cases when PrePARE encounters an error, it continues on to check other things before aborting rather than aborting immediately?

[2018-08-09 15:59] doutriaux1 commented on #396
@mauzey1 do you mind looking into this. @taylor13 and I think it's probably ok, but I know there's a way to tell CMOR to ignore errors. Maybe we can add an option to prepare to run CMOR in "no error" mode and get all the possible errors to the user. @dnadeau4 what do you think?

[2018-08-09 16:11] taylor13 commented on #394
I think the relevant code starts at line 1423 of https://github.com/PCMDI/cmor/blob/master/Src/cmor_CV.c .  Since for experiment piClim-aer, @senesis apparently correctly specified "RFMIP AerChemMIP" for activity_id (according to the error message), PrePARE should not have thrown an error.

[2018-08-09 18:54] mauzey1 commented on #396
@doutriaux1 @aradhakrishnanGFDL
When tried reproducing the error using the example in #395, I was able to repeat the issues of #395 and #396 using a nightly conda build of CMOR I installed last week.  However, when I upgraded the nightly conda build the abort message and hanging went away even though I still get error messages about source type.

When I tried this with the regular conda install of

[2018-08-09 19:37] doutriaux1 commented on #396
@mauzey1 that is good news, that means that I might have **fixed** it with the sigint change on Monday. @aradhakrishnanGFDL you might want to try the latest cmor from nightly then,

[2018-08-09 19:52] aradhakrishnanGFDL commented on #396
Sure, I will try it out ASAP

[2018-08-10 18:29] aradhakrishnanGFDL commented on #396
Pulled in latest changes. Now, there is no hanging behavior and the CMOR errors are "all" printed.

[2018-08-10 18:30] aradhakrishnanGFDL commented on #395
Latest conda nightly build has no hang ups. Looks okay so far..Thanks

[2018-08-10 18:30] aradhakrishnanGFDL commented on #373
CMOR conda nightly build doesn't have this problem

[2018-08-10 18:31] durack1 commented on #396
@aradhakrishnanGFDL excellent, this is great news - thanks for the feedback, closing

[2018-08-10 18:31] #396 closed

[2018-08-14 08:31] matthew-mizielinski commented on #385
@doutriaux1, can I add my thanks to @ehogan's, we really appreciate you fixing this.

[2018-08-20 13:05] doutriaux1 commented on #395
Thanks @aradhakrishnanGFDL closing for now.

[2018-08-20 13:05] #395 closed

[2018-08-20 13:06] #373 closed

[2018-08-21 08:28] senesis commented on #394
It would be useful to get an idea of when a fixed version of PrePARE will  be available : even if centers could avoid a delay for publishing by modifying the list of activities/MIP to have one single member, such a solution would be detrimental to data discovery on the ESGF; so, we have to make a trade-off between delaying and normal data discovery

[2018-08-23 08:05] wachsylon commented on #235
I am right now working on a test based on `test_grid` again.  Hope to finish it today.

[2018-08-24 14:13] treerink commented on #366
Hi, thanks for helping and solving.

With the **nightly built** `linux-64/cmor-2018.06.28.master.npy1.14-py27h9ac9557_0` we are able to run our package now with the updated tables. Before closing this issue I just wondered if there will be a **main built** of this one (with hdf5 1.10 and netcdf 4.6) soon? If not, do you recommend that we use a more recent  **nightly built** or doesn't matter?

[2018-08-27 13:04] doutriaux1 commented on #366
I recommend you use the latest nightly, always.

[2018-08-27 13:35] doutriaux1 commented on #366
it's the same api for 14 and 15. I'm not sure about conda magic pinning inside. But both work 14 or 15.

[2018-08-27 13:38] treerink commented on #366
Ok thanks

[2018-08-27 13:38] #366 closed

[2018-08-27 18:34] aradhakrishnanGFDL opened #399 "Strict axis checking in PrePARE"
PrePARE to check the following.

-If the variable in the input datasets confines to the CMOR standards (and using CMIP6 Model Output Requirements from Karl et al)  in terms of axis and dimensionality. This includes an optional high-level basic checks, with the following being the wish-list/use-cases:

1. checking 2D, 3D axis names ;
2. singleton dimension names ;
3. model level
4. pressure level f

[2018-08-27 18:49] doutriaux1 commented on #399
Thanks Aparna

[2018-08-27 19:09] doutriaux1 commented on #399
@mauzey1 this is just for you to monitor. You don't have to do anything about this yet.

[2018-08-27 20:49] dnadeau4 commented on #394
@senesis if you add the following experiment it should pass:
```"activity_id":[ "RFMIP", "AerChemMIP",``` ```"RFMIP AerChemMIP" ]```

@durack1 can you add every permutation acceptable in your `WCRP` file?
https://github.com/WCRP-CMIP/CMIP6_CVs/blob/master/CMIP6_experiment_id.json#L6656

[2018-08-27 20:53] dnadeau4 commented on #394
@senesis prepare use [CMIP6_CV.json](https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_CV.json#L7600) which is built from the [CMIP6_experiment_id.json]( https://github.com/WCRP-CMIP/CMIP6_CVs/blob/master/CMIP6_experiment_id.json#L6656) file above.

[2018-08-28 06:41] senesis commented on #394
As far as I understand, proposal by @taylor13 above implies a change in PrePARE code, and some time to be included in a delivered CMOR package. For now, we will use the proposal of [#394 (comment) ](https://github.com/PCMDI/cmor/issues/394#issuecomment-416363934) to allow for going on publishing

[2018-08-28 16:39] taylor13 commented on #394
Yes, if you change the  activity_id listed for the experiment with 2 activities to:
[code]
PrePARE should not raise an error.  (I Don't think there is any reason to include the other 2 items in the list shown in https://github.com/PCMDI/cmor/issues/394#issuecomment-416363934 )

[2018-08-29 07:13] senesis commented on #394
For information : for the table derived from DR01.00.21, the full list of experiments with such an issue is :
piClim-aer, piClim-control ssp370, dcppC-forecast-addPinatubo, land-hist

[2018-09-03 09:03] h-dh opened #400 "PrePARE in conda: missing file out_names_tests.json"
cmor/LibCV/PrePARE/PrePARE.py
in class checkCMIP6.controlVocab()
expects a hard-coded filename 'out_names_tests.json' in line :

371  out_names_tests = json.loads(open(os.path.join(prepare_path, 'out_names_tests.json')).read())

This file is absent in the conda package and causes

Traceback (most recent call last):
  File "/p/miniconda2/envs/cmor/bin/PrePARE", line 11, in <module>
    load_entry_p

[2018-09-04 22:52] dnadeau4 commented on #400
@h-dh Something must be wrong in your environement.  Can you create  a new one and try it?

`conda create -n cmor333 -c conda-forge cmor`

[2018-09-05 08:50] h-dh commented on #400
@ h-dh <https://github.com/h-dh> Sorry, no.

It is still missing. It shoud be present in
miniconda3/envs/cmor333/lib/python2.7/site-packages/cmip6_cv/PrePARE

You probably would have to consider file 'out_names_tests.json' in your
conda-recipes build.sh file (or whatever you use).

Here again the command and the Traceback:

(cmor333) hdh344: PrePARE --variable tas --table-path
/p1/tables/cmip6-cmo

[2018-09-05 12:45] doutriaux1 commented on #400
@mauzey1 can you please take a look into this? Thanks.

[2018-09-07 10:03] tommibergman commented on #354
With the latest version of the CMOR tables (01.00.27) and with latest CMOR library from Conda                    (cmor 3.3.3.2018.08.08.14.53.g4103823.npy1.14) I am not anymore experiencing this problem.

[2018-09-10 12:43] #354 closed

[2018-09-10 22:49] taylor13 commented on #342
@doutriaux1 I think the above common_user_input.json file should  be pointed to as an example from any CMOR3 documentation.  Also, shouldn't it replace what's in https://github.com/PCMDI/cmor/blob/master/Test/common_user_input.json ?  Or will that mess up some of the test codes?  In any case we should make it easy for users to see what they might have to modify and what they should not modify.

[2018-09-10 22:51] taylor13 commented on #344
@doutriaux1   Can we get this code working?  Also, I think we should provide an similar sample analysis code written and C and another written in python.

[2018-09-10 22:54] doutriaux1 commented on #344
maybe wednesday... not much time until then....

[2018-09-19 00:02] taylor13 opened #403 "compression/shuffle defaults for CMOR3"
In cmor_reset_variable() (in cmor.c) I find:
[code]
Is this initializing the settings for shuffle, deflate and deflate_level?  And will those settings remain in effect unless the CMOR table specifies different values?  Or do they invariably get ignored?

If these are default settings specified for CMOR3, then all data will be compressed by default, correct?

[2018-09-19 00:46] durack1 commented on #403
@taylor13 following [Balaji et al., 2018](https://www.geosci-model-dev.net/11/3659/2018/gmd-11-3659-2018.pdf#Page=9), we should probably amend the above to:
[code]

[2018-09-19 12:35] doutriaux1 commented on #403
@taylor13 @durack1 I will run a simple test and see if indeed it comes back compressed by default. And what the values are.

[2018-09-19 14:46] durack1 commented on #403
@doutriaux1 thanks that would be ideal!

[2018-09-19 15:44] taylor13 commented on #403
I didn't see anything specifically indicating that deflate_level=2 is much better than deflate_level=1.  Also, in the study mentioned by Balaji, I didn't see "shuffle" analyzed, so why do you suggest suffle=1 and how much that slow things?

[2018-09-19 15:52] durack1 commented on #403
[code]
With this based on https://public.tableau.com/profile/balticbirch#!/vizhome/NC4/NetCDF4Deflation

[2018-09-19 18:01] dnadeau4 commented on #400
@doutriaux1 @mauzey1,  in your 3.3.3 tag you don't have the right setup.py.in.

The master one is correct and copy the out_names_tests.json

https://github.com/PCMDI/cmor/blob/master/setup.py.in

@h-dh  you can copy  [out_names_tests.json](https://github.com/PCMDI/cmor/blob/master/LibCV/PrePARE/out_names_tests.json)  here and everything will work.

`/p/miniconda3/envs/cmor333/lib/python2.7/site-pa

[2018-09-19 22:27] taylor13 commented on #403
Also note (from Charlie Zender):
[code]
and
[code]
I have recommended in the CMIP6 output requirements:
[code]

[2018-09-20 16:14] doutriaux1 commented on #403
Looking at a default dump I see chuinking is on by default see:
[code]

[2018-09-20 16:34] taylor13 commented on #403
The _DeflateLevel = 1 is good as a default.  [I don't think it is necessary, however, for the coordinates.  Doesn't hurt, I suppose.]

The _ChunkSizes I think are way too small.  I think by default CMOR should rely on the netCDF default chunking strategy.  Anyone else care to comment?

[2018-09-20 16:39] taylor13 commented on #403
Would be nice to check whether turning "shuffle" on degrades performance.  Charlie Zender said that when it's on it sometimes significantly reduces storage (and it doesn't hurt performance).  Before making shuffle the default though let's check.

[2018-09-27 12:02] wachsylon opened #405 "Decadals"
Hi,
according to the CF-Conventions ([Example 7.10. Decadal averages for January](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html)), the time axis for a decadal variable is described with `climatology_bounds`. Therefore, all variables in table[ CMIP6_Odec.json](https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_Odec.json) should rather have `"di

[2018-09-27 15:59] taylor13 commented on #405
When the time period over which an average is computed is contiguous, it is not generally considered a climatology.  In this case, since the bounds of the time-period coincide with the beginning of one year and the end of another, it *could* be considered a 10-year annual mean climatology,  but it equally could be considered a ten-year mean.  This is unlike a climatological annual cycle (which mig

[2018-09-27 16:27] wachsylon commented on #405
Thanks for the quick response. My mistake, sorry. One additional question:
Do you know if there is a specific interval requested for the decadals? For example, 1961-1970 or 1960-1669?

[2018-09-27 16:34] durack1 commented on #405
@wachsylon thanks for raising these questions, I agree there should be some description about this in the DREQ. I'll pull @martinjuckes into this discussion as an additional note with temporal bound guidance is likely required upstream in the [`Odec`](http://clipc-services.ceda.ac.uk/dreq/u/MIPtable::Odec.html) table

[2018-09-27 16:54] taylor13 commented on #405
I vaguely recall that there has been some discussion elsewhere of what specific intervals should be saved for decadal means.  Perhaps @senesis or @martinjuckes can point us to that discussion?

[2018-09-28 07:30] senesis commented on #405
No, sorry

[2018-09-28 13:02] taylor13 commented on #405
Thanks very much @matthew-mizielinski for reminding us of that.  I agree, that since in control runs absolute time has no meaning (one shouldn't associate any historical date with the control run "date"), there should be no special preference for defining specific years to the beginning and ending of each 10-year period.  Any "guidance" we generate should say that "the reason for keeping these fie

[2018-09-30 15:26] taylor13 opened #406 "inconsistency between data request and CMOR tables"
Unless I've misinterpreted something, this issue needs to be addressed immediately (because the CMOR tables don't seem to accurately reflect what's in the data request):

It appears that the long_name for some variables is incorrectly recorded in the CMOR tables.  The long_name should be the same as the "title" of the variable in the data request.  For example, the "title" of O3ste in table  AERmo

[2018-10-01 12:47] doutriaux1 commented on #406
@mauzey1 please reach out if you need help with this.

[2018-10-01 14:13] taylor13 commented on #406
@mauzey1 @doutriaux1   This problem is apparently on Martin's end (i.e., in the data request, not CMOR's handling of it):  Martin said:
[code]
I don't think we need to do anything at this time, but let's leave this issue open until the data request has been corrected.

[2018-10-03 12:05] martinjuckes commented on #405
Hi Karl, I agree, but it is important, however, to have some consistency within the data generated by each model (this will be simple if all the data is published in one go, but if some variables are dealt with a year later by different people there is a danger that a different arbitrary number could be selected).

It might be useful if the 10-year periods used ended at the point where the piContr

[2018-10-03 16:56] taylor13 commented on #405
@martinjuckes regarding your first paragraph above, I think you are saying that the same decadal intervals should be used for all variables requested.  If so, I agree that would be best.

Regarding paragraph 2, I think it should be required that all decades be included, at least up to and including the decade when the first historical "realization" is initiated.  It wouldn't hurt to include *all*

[2018-10-04 13:00] matthew-mizielinski commented on #405
@senesis, this is an important point that warrants some consideration for CMIP7, i.e. should we allow this form of time slicing?
Groups who retain all model data that might be needed and then process variables that are requested may be able to cope with this, but the more efficient data production approach used by CNRM & IPSL will be constrained if these requestItems are retained.

The branching p

[2018-10-05 07:33] senesis commented on #405
@matthew-mizielinski : CNRM scientists did find scientifically sensible (and fair) to make a random choice of branching point, rather than to force a spread. I agree that the CMIP protocol shouldn't be silent on that point

[2018-10-05 14:43] taylor13 commented on #405
@senesis @matthew-mizielinski Do I understand correctly that
1) UKMO spawned historical runs from the piControl at points chosen to capture a range of phases of certain multi-year unforced oscillations in the climate system, whereas
2) CNRM randomly selected branch points?
If CMIP should not be silent on this point, what should CMIP recommend?

[2018-10-05 15:06] senesis commented on #405
You do understand correctly. But this is not the right place to discuss that,  is it ? What about the CMIP Panel ?

[2018-10-05 15:13] taylor13 commented on #405
Thanks, Stéphane.  It is indeed a science question, not a CMOR question, but I won't close this yet in case @matthew-mizielinski  has something he wants to add.

[2018-10-08 07:57] matthew-mizielinski commented on #405
Nothing more from me.

[2018-10-08 15:12] taylor13 commented on #267
We have received the following email:
[code]
I think we should implement the warning and error messages suggested in https://github.com/PCMDI/cmor/issues/267#issuecomment-382090547 now to help guard against these problems.

Can the priority of this issue be raised?

[2018-10-09 16:32] taylor13 commented on #267
@mauzey1 Would you please prioritize implementing these changes?  Thank you.

[2018-10-10 13:03] goord opened #407 "area: areacello OR areacella"
There are a few (sea ice) variables with the above cell_measures attribute. Can you explain whether we need to do something in particular when cmorizing these variables (e.g. choose on e of the above)? Now we end up with "areacello OR areacella" as netcdf metadata, which is rejected by the PrePARE tool...

[2018-10-10 16:13] taylor13 commented on #407
The CMOR tables are generated from the data request where some of the sea ice variables in release 01.00.27 (and earlier) have the wrong cell_measures.  This is discussed at https://github.com/cmip6dr/CMIP6_DataRequest_VariableDefinitions/issues/158 and https://github.com/cmip6dr/CMIP6_DataRequest_VariableDefinitions/issues/252.  I am hopeful that the needed corrections will be made to release 01.

[2018-10-11 15:47] wachsylon commented on #178
I have an additional question.
There are variables requested for sub-daily frequencies (6hr,3hr,1hr) and with `cell_methods = time:mean` . The file name of such variables is created using the time value instead of the time bound. Is that correct?
For example, there are files for three hour frequency:
`*195101010130-195112312230.nc`
however time bounds would cover
`*195101010000-195201010000.nc`

[2018-10-11 16:48] taylor13 commented on #178
All files except those containing climatologies rely on the time coordinate values (rather than the time cell bounds) in constructing the file name.  The precision provided in time-labels depends on the frequency:
[code]
So, I think your time label looks correct .

[2018-10-12 08:00] wachsylon commented on #178
Great, thank you very much!

[2018-10-12 08:00] #178 closed

[2018-10-12 11:44] wachsylon commented on #267
Why do we need these strict rules?

I understood that version is needed for the publication because, if an error is found in the published simulation, it should be possible to publish new versions of it. With this in mind, I think the only strict rule is that the version date is not beyond the date of publication. CMOR is not able to know when the files should be published. So the only required wa

[2018-10-15 15:30] oloapinivad opened #409 "pressure level variables not validated by PrePARE due to wrong name?"
Hi all,

I have a few variables cmorized with data request 1.00.23  that fails the PrePARE validation stating that variable is not found in CMOR table.  We discussed it also in https://github.com/EC-Earth/ece2cmor3/issues/275
An example is zg_Emon, where the error involves zg (but I found this at least in ta_Emon and wap_6hrPlev too)

Such error actually makes sense, since the variable in the tabl

[2018-10-15 15:40] doutriaux1 commented on #409
@oloapinivad could please paste a link to the failing file? It would help us greatly. Thanks.

[2018-10-16 09:54] ehogan commented on #267
@taylor13 are you remembering the discussion we had about `CMOR_PRESERVE` on #246? :)

[2018-10-16 12:32] doutriaux1 commented on #409
Got it. Thx!

[2018-10-16 17:15] tommibergman opened #410 "Hourly output time axis creation"
I am trying to implement CMORizing hourly output and running cmor.axis from python for one year of data I get the following error:

I do not understand what is wrong? Same code creates daily and monthly axes without errors.

[2018-10-16 21:04] doutriaux1 commented on #410
You are probably using tables created for **monthly** data. The 86400 is stored in the table. CMOR checks your frequency and noticed that is **hourly** hence the error. @taylor13 any hourly tables.

[2018-10-16 21:06] durack1 commented on #410
@tommibergman there are quite a number of `hourly` tables, see [https://github.com/PCMDI/cmip6-cmor-tables](https://github.com/PCMDI/cmip6-cmor-tables/tree/master/Tables)

[2018-10-16 21:41] mauzey1 commented on #267
When warning the user that the same file is present in another version that it is currently not writing to, should CMOR warn multiple times if the same file is found in multiple versions?  Should this warning ignore version numbers that don't follow the CMIP6 template (‘v%Y%m%d’)?

So CMOR should be able to use whatever version number the user specifies but PrePARE should raise an error if a versi

[2018-10-17 12:01] tommibergman commented on #410
Thanks. Although, I found out that the interval for AERhr table was wrong (1.0). I made an issue on CMIP6-tables github.

[2018-10-17 12:35] doutriaux1 commented on #410
Thanks the cmip6 table is the correct repo to  report this. Closing here but linking to your report on cmip6 tables repo. See: https://github.com/PCMDI/cmip6-cmor-tables/issues/211

[2018-10-17 12:35] #410 closed

[2018-10-17 20:29] mauzey1 commented on #357
@taylor13 @doutriaux1 Would passing the tests in this pull request resolve this issue?  https://github.com/PCMDI/cmor/pull/379

[2018-10-18 19:44] durack1 opened #411 "CMOR 3.3.3 not available on pcmdi channel"
Hi folks, it seems something is wrong with v3.3.3 not available using the following:
[code]

@doutriaux1 @mauzey1

[2018-10-18 21:40] durack1 commented on #411
It looks like 3.3.3 is available for numpy 1.11, 1.12, 1.13 and 1.14 (see [here](https://anaconda.org/PCMDI/cmor/files?channel=main)) so not sure what's going on

[2018-10-18 22:12] durack1 commented on #411
ROBUST!
[code]

[2018-10-18 22:12] #411 closed

[2018-10-22 16:55] mauzey1 commented on #409
@oloapinivad @doutriaux1
I think I found the issue.  When you pass a file to PrePARE, it will get the "out_name" variable name and table name from the first two words of the file name.  It will then use the out_name and table name to look up the actual variable name in [LibCV/PrePARE/out_names_tests.json](https://github.com/PCMDI/cmor/blob/master/LibCV/PrePARE/out_names_tests.json).  It finds the

[2018-10-22 18:28] taylor13 commented on #407
It appears that at least in release 01.00.28 this problem has been fixed.

[2018-10-22 18:28] #407 closed

[2018-10-22 21:13] taylor13 commented on #409
Yes, I think you're correct that zg27 and ta27 for table Emon  need to be added to LibCV/PrePARE/out_names_tests.json. And wap4 needs to be added to 6hrPlev, *but* the extra coding checking the number of levels is only needed when another variable with outname wap is in the table.  In this case only wap4 appears, so we're o.k.

I think we should try to fix this as soon as we can so users can publi

[2018-10-22 21:19] taylor13 commented on #406
@martinjuckes :  I note that now o3ste has the correct long_name in release 01.00.28.  Thanks.
Have you checked whether in the rest of the archive a change in the "var" record has been changed but not in the CMORvar record?  Could you check the consistency of all "var" and "CMORvar" records to eliminate in general errors of this kind?  Thanks.

[2018-10-22 21:31] taylor13 commented on #342
Is there any reason not to do now what I suggested in my previous comment (https://github.com/PCMDI/cmor/issues/342#issuecomment-420086825)?

[2018-10-22 21:32] taylor13 commented on #344
Please let me know if I can help with this.

[2018-10-22 21:35] taylor13 commented on #328
Has this problem been addressed yet?

[2018-10-22 21:55] taylor13 commented on #409
Also,  don't we need to add to out_names_tests.json for table CFsubhr, how to treat "longitude", which will write an output file beginning "lon_CFsubhr_.....", and "latitude", which will write an output file beginning "lon_CFsubhr_....."?  In this case, these are not coordinate variables but actual variables, and their outnames differ from the table entry names.

Also, in https://github.com/PCMDI/

[2018-10-22 22:19] taylor13 commented on #267
@ehogan I have now read through  https://github.com/PCMDI/cmor/issues/246, but I'm not sure what I should be paying attention to.  I can see they are somewhat related.    In particular the CMOR3 documentation and error messages may be inconsistent:
[code]
Can you please confirm that the documentation is wrong?

[2018-10-22 22:22] taylor13 commented on #267
@wachsylon :  I didn't follow the last part of your comment ("technical implementation").  If it is important, could you please re-explain?

Regarding future dates, you've made a good case to allow future dates.  I'll discuss with @doutriaux1  and @mauzey1, and then propose an algorithm.

[2018-10-23 08:19] wachsylon commented on #267
How should `version` be checked? There is no attribute for it. The only way is by evaluating `output_path_template`.

But I do not want to point this out to users because the users may be misled into changing the `output_path_template` completely. Those changes prevent CMOR from checking the actual setting.

[2018-10-23 23:36] mauzey1 commented on #357
@taylor13 @wachsylon Can this issue be closed now?

[2018-10-24 20:17] taylor13 commented on #267
The above discussion concerns adding additional files to those already written (and all having been assigned a common version number.  The check is to ensure that the "additional files" should have the same version number as the already-written files.

I don't think CMOR should check "version" for the first file published in a series.  Do you agree?

[2018-10-24 20:29] taylor13 commented on #403
If further guidance is needed, please ask.

[2018-10-24 20:31] taylor13 commented on #406
Let's leave open, but no action is required at this time.

[2018-10-24 21:06] mauzey1 commented on #267
Should CMOR retain the version number generated upon writing its first file, and then use that version for subsequent files while CMOR is still running?

[2018-10-24 21:32] taylor13 commented on #267
Not necessarily.   If additional files are being added to those already written, the version number should be specified by the user ( in "_myVersion" ).  Then CMOR should check that this version (date) is consistent with the existing files.

If the user doesn't pass CMOR a version number, CMOR should set the version number to the current date and CMOR should perform the checks described in https:/

[2018-10-24 22:44] taylor13 commented on #267
Let's hold off on coding these changes.  I spoke with Denis and we might have an alternative approach.

[2018-10-25 14:14] wachsylon commented on #267
I agree that CMOR should search for other versions and only tell the user if it finds some.

I can not set an arbitrary version by specifying` "_my_version":"temporary"` in the `cmor_dataset` function, can I?

If that is, why not introducing a keyword "my_version" which, if it is specified in the `cmor_dataset` file, is checked with your proposed tests while, in case the `output_path_template` is

[2018-10-25 21:45] taylor13 commented on #403
concerning the "too small" _ChunkSizes mentioned in https://github.com/PCMDI/cmor/issues/403#issuecomment-423249882, the default apparently is to define chunksize for longitude as the length of the longitude dimension, and chunksize for latitude as the length of the latitude dimension and set chunksize=1 for all other dimensions ("time" in this case)  In the example the length of the longitude and

[2018-10-25 22:36] #332 closed

[2018-10-26 20:38] mauzey1 commented on #409
@taylor13 There are variables from tables CMIP6_cf3hr_0.json, CMIP6_cf3hr_1.json, and CMIP6_cf3hr_3.json that have out_names called "vertices_lat" and "vertices_lon".  These would be problematic for PrePARE since it will think the variable name is "vertices" and the table name is "lat" or "lon".  Are those tables still in use?  They have table dates from 2016.  Should they be removed from CMOR?

[2018-10-27 06:28] taylor13 commented on #409
Those tables (CMIP6_cf3hr_0.json, CMIP6_cf3hr_1.json, and CMIP6_cf3hr_3.json) are not needed in writing CMIP6 data (but perhaps they are needed for some of the test codes?).  The tables that should be included in the standard release are listed here: https://github.com/PCMDI/cmip6-cmor-tables/tree/master/Tables

[2018-10-27 07:45] taylor13 commented on #409
We need to check why ugrid has outname ugrido.
also why O18 and O17 seemed to be switched .
[Note: it's O18, O17, not 018, 017]

[2018-10-29 16:41] mauzey1 commented on #409
The issue with the naming of those variable outnames originates from the data request XML file.

http://proj.badc.rl.ac.uk/svn/exarch/CMIP6dreq/tags/01.00.28/dreqPy/docs/dreq.xml

Specifically, these lines:

[code]

[2018-11-02 18:23] mauzey1 commented on #403
I created NetCDF files and profiled their creation time and size with the following script.

https://github.com/mauzey1/cmor/blob/96786014b6a00076df5d2eb74d721736db52a294/Test/shuffle_test.py

With shuffle enabled, the sizes of the files were reduced by ~17% of their previous size and took 23% less time to create.

[2018-11-02 19:33] durack1 commented on #403
Thanks @mauzey1, with the demos how big are the files? And did you use files that included a large number of missing data (ocean grids for e.g.). It would be curious to see how this works for ~10Gb files, and for files where ~30% of points are missing

[2018-11-02 21:20] mauzey1 commented on #403
@durack1 The demo files ranged from 21 MB to 211 MB without shuffle and 17 MB to 175 MB with shuffle.  They are using grids that have 360 latitude points, 720 longitude points, and 26 pressure levels.  They have 1, 2, 5, and 10 time steps.

Are there any examples of cmor using ocean grids with a lot of missing data?

[2018-11-05 09:08] wachsylon opened #413 "Data type of variables from CMIP6_grids.json"
As described in PCMDI/cmip6-cmor-tables#219, do you know why grid variables in `CMIP6_grids.json` are requested without `"type"` and why CMOR writes them out as `float` variables?

[2018-11-05 14:44] doutriaux1 commented on #413
@wachsylon I believe the `default` type is indeed `float32`. I can see that this could be an issue for some grid variable on fine grids (radians etc...) I think that for some variables we should consider giving them a `type`. My first guess is for variables with units of degrees or radians, @taylor13 what do you think?

[2018-11-05 15:52] wachsylon commented on #413
Why isn't the default format the format passed within `cmor_grid`?

[2018-11-05 16:09] doutriaux1 commented on #403
@mauzey1 this test: https://github.com/PCMDI/cmor/blob/master/Test/test_python_CMIP6_projections.py

Writes data on an ocean grid, you could tweak it to make the grid really big with a bunch of missing values.

I think I have a branch/pr somewhere which finishes that script to actually write the data.

[2018-11-13 13:24] treerink opened #415 "ERROR:ece2cmor3.nemo2cmor:Dimension 3basin could not be found in file"
Trying to cmorise the test case in which **all** NEMO output is switched on, on the results of an EC-Earth run with the XIOS-2.5 & Shaconemo updates and where the additional Poleward heat and salt transport & Atlantic/Pacific/Indian basins computation are switched on, by using ece2cmor like this:
[code]
I get the following error:
[code]

[2018-11-13 13:27] #415 closed, assigned to nobody

[2018-11-13 19:37] mauzey1 commented on #403
I have done some test using a mask from this file for ocean data:
https://vesg.ipsl.upmc.fr/thredds/catalog/esgcet/45/CMIP6.CMIP.IPSL.IPSL-CM6A-LR.1pctCO2.r1i1p1f1.Omon.dpco2.gn.v20180727.html?dataset=CMIP6.CMIP.IPSL.IPSL-CM6A-LR.1pctCO2.r1i1p1f1.Omon.dpco2.gn.v20180727.dpco2_Omon_IPSL-CM6A-LR_1pctCO2_r1i1p1f1_gn_185001-199912.nc

The mask removes about 46% of the data from a 332x362 grid.  I made

[2018-11-13 21:03] taylor13 commented on #403
To be sure, in these tests was deflate_level = 1?

Also, is there a simply explanation why the time to generate the files should be less when shuffle is turned on?  I would have thought the computer had to work harder when shuffling was invoked.

[2018-11-14 01:31] mauzey1 commented on #403
All of my tests use deflate_level 1.

I'm not sure why enabling shuffling leads to shorter run times.  At first I thought it was caused by reduction in disk writing due to smaller files, but the reduction in time also happens when the files get a little bigger.  Could the shuffling cause the compression algorithm to run faster?

[2018-11-21 11:05] treerink opened #416 "Trouble with last conda package of cmor library: ImportError: libhdf5.so.103"
Hi,

We are not able to update from the one but last to the last cmor library. This one:
[code]
still worked, but we get a  'ImportError: libhdf5.so.103'  error for:
[code]
Something changed in the hdf5 dependencies? Trouble between hdf5 1.10.1 and 1.10.2?

We finally tested a very clean example, see below:
[code]

[2018-11-23 03:31] iaplasg opened #417 "raise ValueError("No JSON object could be decoded")"
When I tried to PrePARE to verify the data, an error occurred."IOError: [Errno 2] No such file or directory:out_names_tests.json',then I run" wget https://github.com/PCMDI/cmor/blob/master/LibCV/PrePARE/out_names_tests.json"to download this file to the directory,  then a newer error occurred:" File "/usr/local/conda/envs/esgf-pub/lib/python2.7/json/decoder.py", line 382, in raw_decode
    raise Va

[2018-11-23 03:33] iaplasg commented on #417
This is my command "PrePARE --table-path cmip6-cmor-tables/Tables/ /esg/data/CMIP6/CMIP/CAS/FGOALS-f3-L/amip/"

[2018-11-26 13:56] doutriaux1 commented on #417
@iaplasg you probably want to wget from: https://raw.githubusercontent.com/PCMDI/cmor/master/LibCV/PrePARE/out_names_tests.json

The URL you mentioned is the full html page, not a json file.

[2018-11-27 00:38] iaplasg commented on #417
@doutriaux1 Great! I have passed the test successfully,Thank you

[2018-11-27 00:38] #417 closed

[2018-12-10 10:55] sfinkens opened #418 "Longitude Bounds-Check and Regional Datasets"
The longitude bounds check for regional datasets (where the longitude does not cover 0-360, but only a subset) fails with the following error message:

[code]

Minimal example:
[code]
For the latitudes this snippet works just fine.

**CMOR Version:** 3.3.3

[2018-12-10 13:48] doutriaux1 commented on #418
I see. Looks like CMOR puts coordinates back between 0 and 360 first and then checks for monotonic.
@taylor13 should check for monotonic first, then change values to be 0/360? Does it even make sense in that case? @sfinkens I suggest you edit your table and change the longitude coordinate range from 0/360 to -180, 180. If it's allowed by obs4mips, Pinging @gleckler1 here.

[2018-12-10 14:15] durack1 commented on #418
@doutriaux1 this seems to be one of the first instances of problems with regional.. It's going to get more usage with regional data in obs4MIPs

[2018-12-10 14:19] doutriaux1 commented on #418
@durack1 @gleckler1 it might make sense to completely turn off lon range in tables for this variables then. Still pinging @taylor13 about checking monotonic before changing lon to correct range. But even if we did that the output would lok *funky*

[2018-12-10 15:01] sfinkens commented on #418
Thanks for the workaround @doutriaux1, works fine!

[2018-12-11 09:33] sfinkens commented on #418
@gleckler1 @taylor13 Is longitude range -180/180 allowed?

[2018-12-11 22:10] mauzey1 commented on #357
@taylor13 @doutriaux1 After exploring this issue again, I noticed there was an error in the unstructured grid test for the indexing of the lon_coords and lat_coords arrays.  I've made a branch to fix this: https://github.com/PCMDI/cmor/tree/unstructured_grid_tests

I also made a test for 3d unstructured grids in the same branch.

[2018-12-13 01:02] hot007 commented on #400
I just did a new conda install and found the same thing, `out_names_tests.json` was missing. Downloaded as suggested and now I get some other problems (`ValueError: No JSON object could be decoded`), but just letting you know I think it's still happening.

[2018-12-14 00:38] taylor13 commented on #367
The request is that PrePARE should not error exit on encountering the first error.  Rather it should continue on and complete all its checks.  This will help users to more quickly modify their output files to be compliant with the specs.

[2018-12-14 00:42] #403 closed

[2018-12-14 00:48] taylor13 commented on #413
I think for all non-index variables in cmor_grid, type is set to "".  CMOR interprets this as "use the default type" which is single precision float.  We are modifying the cmor_grid file to set type to "double".  Then all of these variables willo appear in double precision in the netCDF file.  @wachsylon does this seem satisfactory?

[2018-12-14 00:50] taylor13 commented on #416
This should be high priority, I think, if we want CMOR to be usable.

[2018-12-14 01:00] taylor13 commented on #418
This is a problem with the obs4MIPs_coordinate.json file and the discussion should be moved to: https://github.com/PCMDI/obs4MIPs-cmor-tables/issues/163 .  I am therefore closing this issue on the CMOR repo.

[2018-12-14 01:00] #418 closed

[2018-12-14 01:17] doutriaux1 commented on #416
look like you're building against 1.10 for hdf5 version, cmor locks to 1.8. Let me try to "up" hdf5 to 1.10 in cmor and see what happen then

[2018-12-14 01:34] doutriaux1 commented on #416
I take this back we are building against 1.10 so feel free to try the latest version of cmor that we built today, it should be properly linked now

[2018-12-15 16:06] taylor13 commented on #400
Is this related to https://github.com/PCMDI/cmor/issues/373 ?

[2018-12-15 16:38] taylor13 commented on #394
It appears that folks are still having problems when activity_id can include multiple activities.  Here is a communication from @glevava:
[code]
@glevava could you please check that you are using a recent version of "CMIP6_CV.json" .  In recent versions of that file at least, the list of activities appears as a single string (e.g., "RFMIP aerChemMIP", *not* as a comma-separated list of strings as

[2018-12-15 17:10] taylor13 opened #422 "Need to document PrePARE's checks on variable attributes"
I need to document in https://goo.gl/NmuENr all the PrePARE's checks on variable attributes.   Could someone please review  the coding starting at line 548 of https://github.com/PCMDI/cmor/blob/master/LibCV/PrePARE/PrePARE.py and tell me for CMIP6:

1) for which variable attributes is an error raised if a required attribute isn't in the file?
2) for which variable attributes is an error raised if

[2018-12-15 17:13] taylor13 opened #423 "PrePARE checks on cell_methods and cell_measures too strict??"
In emails the following suggestion has been made by A. Adcroft:
[code]
Let's discuss before acting on this suggestion.

[2018-12-17 13:47] doutriaux1 commented on #416
@mauzey1 can you please take a look it seems like `master` does not upload any longer.

[2018-12-17 19:20] mauzey1 commented on #416
I merged a pull request into master a few hours ago.  It was able to build and pass CMOR tests, but circle ci tests failed during the "solving environment" portion of conda_upload.  When it was performing the conda build, it installed hdf5-1.10.4 even though the version built for the tests was hdf5-1.10.3.

[2018-12-17 20:02] doutriaux1 commented on #416
thx @mauzey1 , I'm taking a look

[2018-12-17 22:06] doutriaux1 commented on #416
@mauzey1 I was able to tweak the recipe and it is now uploading again. Looks like we're building/running against 1.10.3 now

[2018-12-28 22:58] mauzey1 commented on #422
@taylor13 Why is the goo.gl link going to a site called m.yaaya.video?

[2018-12-28 23:39] taylor13 commented on #422
my mistake.  I've now corrected the link (above).

[2018-12-31 19:38] durack1 commented on #331
@mauzey1 I think this can be closed as you have now updated to 3.4.0 - I'm not sure whether there is any more 3.3.3 cleaning up to be done before closing @dnadeau4 @doutriaux1?

[2019-01-02 22:41] mauzey1 commented on #422
Here are the variables that need to be in the file and have values consistent with the data spec:
- dimensions
- valid_min
- standard_name
- out_name
- units
- valid_max
- frequency
- modeling_realm
- cell_methods
- cell_measures
- type
- positive
- ok_min_mean_abs
- ok_max_mean_abs
- flag_values
- flag_meanings

"long_name" and "comment" are ignored when PrePARE checks a file.

There seems to be

[2019-01-04 09:39] h-dh opened #427 "PrePARE: out of date compared to cmor version 3.4"
This is an issue to the conda cmor package.
I guess, it is broken because the version legs behind the current cmor_version 3.4 .

I just installed PrePARE by
   conda create -n cmor -c conda-forge  cmor

and additionally installed the required cmor tables by
   git clone https://github.com/PCMDI/cmip6-cmor-tables.git

After the addition of file 'out_names_tests.json' by hand (issue #400 still unre

[2019-01-04 13:42] doutriaux1 commented on #427
@h-dh you're right I don't think the table need to be restricted to cmor 3.4. @taylor13 @mauzey1 we should probably relax that constraint. Also @mauzey1 shouldn't cmor 3.4 be up on conda-forge?

[2019-01-05 01:20] durack1 opened #428 "CMOR 3.4.0 complains about 'library version is: 3.3.2' against cmor_version = 3.4 tables"
I've just hit an issue with `cmor-2018.12.17.master.npy1.14-py27h9ac9557_0`, this complains about the library version being 3.3.2, whereas the new tables (in this case the [input4mips-cmor-tables](https://github.com/PCMDI/input4MIPs-cmor-tables)) indicate a CMOR minimum version of **3.4**:
[code]
The error I am getting is below:
[code]
@mauzey1 @doutriaux1 is this a trivial thing to fix?

[2019-01-05 01:39] durack1 commented on #428
This check seems to be found in (Src/cmor_tables.c)[https://github.com/PCMDI/cmor/blob/master/Src/cmor_tables.c#L342]

[2019-01-05 18:12] durack1 commented on #428
We'll need to fix this issue before formally releasing the **3.4.0** version

[2019-01-07 17:19] mauzey1 commented on #428
The nightly version of CMOR for 2018-12-17 was still version 3.3.3.  Nightly versions of 3.4.0 start on 2018-12-19.

[2019-01-08 18:39] mauzey1 commented on #427
CMOR 3.4.0 is now on conda-forge.  Can we close this issue now?

[2019-01-08 18:54] mauzey1 commented on #400
The release of CMOR 3.4.0 on conda-forge fixes the missing `out_names_tests.json` issue.

[2019-01-08 19:50] #331 closed

[2019-01-08 20:00] mauzey1 commented on #369
@doutriaux1 How do we create the PDF version of the website?  Running `jekyll build` doesn't update pdf/mydoc.pdf.

[2019-01-08 21:35] doutriaux1 opened #429 "cmor should stop if coordinates table is not present"
I forgot to copy CMIP6_coordinates.json to my local dir and when i ran my script i got a zillions line of error masking the actual error:

[code]

It probably stop with a critical error when the coordinates table is not found, or just issue the first 3 or 4 errors follwoing and then stop issuing essentially the same error.

Maybe a summary of errors at the end? Like 1 "table not found" error and "

[2019-01-09 10:08] #400 closed

[2019-01-09 10:10] #427 closed

[2019-01-15 14:57] doutriaux1 opened #430 "singleton and generic level"
Koji OGOCHI <ogochi@jamstec.go.jp>
Japan Agency for Marine-Earth Science and Technology (JAMSTEC)

reports:

[code]

Patch attached.

[cmor_variable.patch.txt](https://github.com/PCMDI/cmor/files/2760124/cmor_variable.patch.txt)

[2019-01-15 16:36] taylor13 commented on #430
This variable is in CMOR table "Emon" where ec550aer has coordinates:
longitude latitude alevel time lambda550nm
(and lambda550nm is a singleton coordinate).

The text file linked to above seems to be corrupted.  Is there a clean version?

[2019-01-16 10:01] prajeeshag opened #432 "time coordinate mis-match error for variable ps in 6hrLev table"
I am trying to cmor 6 hourly instantaneous model level variables in hybrid vertical coordinate. I am getting this error while defining variable 'ps'

Error: You defined variable 'ps' (table 6hrLev) with axis id 'time1' which is not part of this variable according to your table, it says: ( time latitude longitude )

However, from the CMIP6_6hrLev.json says 'ps' has dimension time1.

[2019-01-16 17:14] taylor13 commented on #432
@prajeeshag Just to be sure, could you confirm that you think CMOR is working correctly in this case?

[2019-01-16 17:27] prajeeshag commented on #432
yes, its working. I changed the variable name to ps1, then it worked.
thank you and sorry for not checking it thoroughly..

[2019-01-16 17:37] #342 closed

[2019-01-16 18:01] taylor13 commented on #432
Thanks.

[2019-01-16 18:01] #432 closed

[2019-01-18 17:53] glevava commented on #394
@taylor13 I confirm I don't have any issue if a merge both activity_ids into one string in the CMIP6_CV.json if the cmor table directory.
So it requires to change the CMOR CMIP6_CV.json translation from the WCRP json files for all DR tags.

The side-effect of the directory structu built by esgprep as been fixed in the latest release. Now esgprep automatically pickup the first item in the activity_

[2019-01-21 13:14] ehogan opened #434 "Improve checking of global attributes in CMOR (enhancement)"
Following #88 (which was closed without resolving), using CMOR 3.4.0, I note the following with regards to the required global attributes:

| Attribute | Form | Checked? | Replaced? | Logged? |
|---|---|---|---|---|
| `activity_id` | CV | No | No | No |
| `experiment` | CV | No | No | No |
| `experiment_id` | CV | No | No | No |
| `forcing_index` | int | Yes | N/A | N/A |
| `further_info_url` | CV

[2019-01-21 14:13] ehogan commented on #434
Adding `"_cmip6_option": "CMIP6",` to the `cmor_dataset` JSON file only improves this slightly:

- `source` replacement is logged
- `experiment_id` is checked
- `grid_label` is checked

[2019-01-21 15:36] martinjuckes commented on #430
Just a comment: ec550aer (Emon and 6hrLev) appear to be the only variables which have both a vertical dimension and singleton coordinate variable. This coordinate variable is a wavelength, so it should be acceptable as far as CF is concerned.

[2019-01-21 16:18] taylor13 commented on #430
Yes, I think the variable is defined correctly and consistent with the CF conventions.  We'll need to check that CMOR, with the patch, handles everything correctly.

[2019-01-21 16:24] taylor13 commented on #430
See also https://github.com/PCMDI/cmip6-cmor-tables/issues/230

[2019-01-21 16:55] taylor13 commented on #434
Hi Emma,
Thanks for bringing these problems to our attention.

You refer to a  "cmor_dataset JSON" file.  I should probably recognize this, but don't.  So we're all looking at the same input, could you attach that file?

thanks,
Karl

[2019-01-21 17:04] ehogan commented on #434
Sure :)

[cmor_dataset_json.txt](https://github.com/PCMDI/cmor/files/2779832/cmor_dataset_json.txt)

I started with an empty file and added attributes (with initial values equal to a letter in the alphabet) when CMOR reported they were required. I then updated the values when CMOR told me too (that's why there are still some values with letters). I'm using the usual `masso` test example to run CMO

[2019-01-21 17:34] taylor13 commented on #434
Hi Emma,

We're trying to improve the documentation of what you call the cmor_dataset JSON file.  The example file we want folks to start with is:  https://github.com/PCMDI/cmor/blob/master/Test/CMOR_input_example.json

The last lines of this input_example file should not be changed by those using CMOR.  I noticed that you have removed the following lines from your version of the file.  I'm surpri

[2019-01-21 17:42] taylor13 commented on #434
I noticed that we're missing "further_info_url" in  https://github.com/PCMDI/cmor/blob/master/Test/CMOR_input_example.json
We should add:
[code]
below the "references" entry in the table.

[2019-01-22 13:06] ehogan commented on #434
Thanks Karl :) The `_AXIS_ENTRY_FILE` and `_FORMULA_VAR_FILE` attributes have default values available in [cmor.h](https://github.com/PCMDI/cmor/blob/master/include/cmor.h#L101). I can add the `mip_era` with a random value and it is completely ignored (I think the `mip_era` is obtained by other means). I don't need the `parent_mip_era` in this case (AMIP doesn't have a parent, so this attribute  s

[2019-01-22 13:10] ehogan commented on #434
With regards to the `further_info_url`, a minimum value of `https://furtherinfo.es-doc.org/` is required, since it is checked against the CVs [here](https://github.com/PCMDI/cmip6-cmor-tables/blob/master/Tables/CMIP6_CV.json#L9100). Also, I note that [CMOR_DEFAULT_FURTHERURL_TEMPLATE](https://github.com/PCMDI/cmor/blob/master/include/cmor.h#L263) exists; could CMOR use this to automatically constr

[2019-01-22 20:20] mauzey1 commented on #409
@taylor13 What should we do about the O17, O18, and ugrid variable out_names?  I still have a pending pull request for adding the missing variables to out_names_tests.json for PrePARE.  Should I remove those variables from the current pull request until we figure out what to do with them?

[2019-01-22 20:23] #428 closed

[2019-01-22 23:48] taylor13 commented on #409
Yes, that's probably the right thing to do, but let's keep this issue open to remind us of the problem.  I have posted an issue here: https://github.com/cmip6dr/CMIP6_DataRequest_VariableDefinitions/issues/379 to try to get this fixed.

[2019-01-31 03:40] hot007 opened #436 "CMOR tests"
Hi there,

We're trying to start CMORising ACCESS model output, and hitting some walls that are almost certainly in our post-processing code, but we're trying to debug them at the moment. As I installed the CMOR library I thought maybe I should check that CMOR *is* behaving as expected, by running the embedded unit tests. I couldn't find any doco on how you're meant to do that, so I've run "python

[2019-01-31 19:55] durack1 commented on #436
Thanks @hot007, can you provide a little more context as to how you have configured CMOR - did you install via conda, from source etc etc?

It'd also be useful to know/see snippets of the segfaults and any CMOR log history.

[2019-02-01 13:56] doutriaux1 commented on #436
@hot007 looks like cmor cannot find the tables. I believe the examples look for it in the `Tables` directory right under where you run them from. Did you clone the cmip6-cmor-tables? IF you create a symlink to their repo's `Tables` directory. @mauzey1 can you please follow up on this? Thanks.

[2019-02-01 20:23] mauzey1 commented on #436
The best way I have gotten to run the unit tests is to clone the CMOR repo, and install cmor with testsrunner.

[code]
I tried running run_tests.py in the same git clone directory but with the tests stored in the conda environment.  It gave these errors for every tests:
[code]
Even if I copied the Tables directory, Test/CMOR_input_example.json, and run_tests.py to the conda environment folder it w

[2019-02-04 05:57] hot007 commented on #436
Thanks for the suggestions @mauzey1.  I will try again with the testrunner env.

In the meantime, I upped my memory request to 32GB and managed to get output without segfaults.
Many of the tests fail because they depend on data files which are not in the repo.

I'm thinking maybe a lot of the tests are simply not viable in a general environment, I'm not sure where I'd get these files from (they do

[2019-02-05 23:09] mauzey1 commented on #436
Here is a branch of CMOR with a correction made to the NetCDF path in Test/test_python_user_interface_03.py
https://github.com/PCMDI/cmor/tree/fixed_user_interface_03_test
https://github.com/PCMDI/cmor/blob/fixed_user_interface_03_test/Test/test_python_user_interface_03.py

[2019-02-06 00:04] durack1 opened #437 "Question concerning grid_label"
[code]
@IngoBethke @taylor13

[2019-02-06 13:39] doutriaux1 commented on #437
@durack1 concerning -1- as far as I remember CMOR's grid are horizontal only.
Concerning -2- let's ping @taylor13

[2019-02-06 22:21] taylor13 commented on #437
I wrote Ingo checking whether the questions still stood:

[code]

In reply Ingo wrote (in part):
[code]
i will respond here shortly.

[2019-02-06 23:00] taylor13 commented on #437
I hadn't considered whether a grid label of "gn" should be used when data are reported on the native horizontal grid, but have been interpolated vertically.  Thinking about it now, and realizing that the vast majority of atmospheric 3-d data is interpolated in the vertical to standard pressure levels, I think the rule should be:

"a variable reported on the native horizontal grid should be labeled

[2019-02-07 09:52] wachsylon commented on #437
Since the MIPs are decentrally organized and everything could happen: What if someone want to report a variable on model level after I reported the same variable on interpolated coordinates?

[2019-02-07 14:16] wachsylon commented on #430
I get the same Error for `rsdcsafbnd` in `E3hrPt`.

[2019-02-07 16:20] taylor13 commented on #437
Good point!  The only essential thing is that they choose a different grid label from yours.

If your data were on the native horizontal grid, you would have chosen "gn".  "someone" will have no choice but to use gr1, gr2, or the like for their files.

If your data were regridded away from the native horizontal grid, you would have likely chosen "gr", indicating it was your choice for "primary gri

[2019-02-08 10:57] wachsylon opened #438 "Deflate level"
Hi,
there are about 700 variables which have an attribute `deflate_level : 0` in the DReq, for example `sivol` in `SImon`.
Could we integrate this into the MIP-tables so that CMOR is able to use the requested deflate level?
Best regards,
Fabi

[2019-02-08 17:52] durack1 commented on #438
@wachslyon I don’t believe a deflate level of 0 is ideal here. @martinjuckes does this deflate level have some logic behind it? With these variables that are mostly missing (globally) deflation will work really well.

@taylor13 @mauzey1 ping

[2019-02-12 14:25] jonseddon opened #439 "PrePARE cell_measures changed in 3.4.0"
I have a file with "cell_measures": "area: areacello". The MIP table for this variable (Omon.ficeberg) has "cell_measures": "area: areacello volume: volcello".

PrePARE from CMOR 3.3.2 failed this file. PrePARE from CMOR 3.4.0 is passing this file. Both versions were installed from Conda. Which behaviour is correct? We were expecting a failure.

I don't know if I'm reading it incorrectly, but from

[2019-02-12 19:25] taylor13 commented on #439
@jonseddon @martinjuckes:   Do you agree that ideally PrePARE *should* do the following:

1.  If table value of areacella is "-OPT", "-UGRID", or "-MODEL", or "", the cell_measures attribute should be omitted.  If "cell_measures" is found in the file, then PrePARE should throw an error.
2.  In early versions of CMOR tables, cell_measures could have a value "area: areacello OR areacella".   CMOR sh

[2019-02-12 23:12] mauzey1 commented on #439
The reason why the file didn't pass using CMOR 3.3.2's PrePARE is because that version of PrePARE lacks the "out_name" tests.

https://github.com/PCMDI/cmor/blame/master/LibCV/PrePARE/PrePARE.py#L299
https://github.com/PCMDI/cmor/blob/master/LibCV/PrePARE/out_names_tests.json

In CMOR 3.4.0, PrePARE looks up the variable and table name, extracted from the title of the NetCDF file, in out_names_tes

[2019-02-13 07:47] wachsylon commented on #438
We already found a file (e.g. `hus_Emon_IPSL-CM6A-LR_historical_r8i1p1f1_gr_185001-200912.nc`) in ESGF which is not compliant with the attribute `deflate_level : 0` requested by the DReq . Therefore, I suggest to remove the attribute from the DReq.

[2019-02-13 11:41] jonseddon commented on #439
@mauzey1 brilliant, thanks for the clarification. Sorry, I hadn't spotted that there were separate `ficeberg2d` and `ficeberg` entries.

I'm happy to close this issue. @taylor13 that approach sounds good to me. Is there anything outstanding from your questions or are you happy for this to be closed?

[2019-02-13 15:32] durack1 commented on #438
@wachsylon for dreq requests, these belong in a different repo - this repo is for the CMOR package.

dreq repo is https://github.com/cmip6dr/CMIP6_DataRequest_VariableDefinitions

As an FYI, the tables CMOR uses for cmip6 are at https://github.com/PCMDI/cmip6-cmor-tables/

[2019-02-13 15:32] durack1 commented on #438
@wachsylon @mauzey1 @taylor13 this issue is ready for closure unless there are any unresolved questions

@martinjuckes ping

[2019-02-13 16:52] taylor13 commented on #438
Yes, I agree.  The CMOR "deflate" directive does not appear in the tables, so @wachsylon must be getting it directly from the data request, so this issue should be raised there (as Paul noted).
By the way, @mauzey1, how does one set deflation and similar compacting parameters when running CMOR?

[2019-02-13 16:57] doutriaux1 commented on #438
@taylor13 according to: https://github.com/PCMDI/cmor/blob/master/Src/cmor_variables.c#L1909 it is intialized to 1/0 (deflate/defalte level) and then overwritten by table. @dnadeau4 is that still correct?